openapi: 3.2.0
info:
  title: Rapidata Audience API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Audience
  x-displayName: Audience
paths:
  /audience/{audienceId}/owner:
    patch:
      tags:
      - Audience
      summary: Changes the owner of the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      requestBody:
        description: The new owner information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAudienceOwnerEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchAudienceByAudienceIdOwner
      x-operation-id-source: derived
  /audience:
    post:
      tags:
      - Audience
      summary: Creates a new empty audience
      requestBody:
        description: The properties of the audience to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAudienceEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudience
      x-operation-id-source: derived
  /audience/{baseAudienceId}/filter:
    post:
      tags:
      - Audience
      summary: Creates a filtered view on the given base audience by applying a filter on top…
      parameters:
      - name: baseAudienceId
        in: path
        description: The id of the dimension audience whose graduates the filter is applied on top of.
        required: true
        schema:
          type: string
      requestBody:
        description: The filter to apply to the base audience.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFilteredAudienceEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFilteredAudienceEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByBaseAudienceIdFilter
      x-operation-id-source: derived
  /audience/{audienceId}:
    delete:
      tags:
      - Audience
      summary: Deletes the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: deleteAudienceByAudienceId
      x-operation-id-source: derived
    get:
      tags:
      - Audience
      summary: Returns the audience with the specified id
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceByAudienceId
      x-operation-id-source: derived
    patch:
      tags:
      - Audience
      summary: Patches an existing audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The audience properties to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAudienceEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAudienceEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchAudienceByAudienceId
      x-operation-id-source: derived
  /audience/inactivity-sync/{syncId}:
    get:
      tags:
      - Audience
      summary: Returns the audience inactivity sync with the given id
      parameters:
      - name: syncId
        in: path
        description: The unique identifier of the inactivity sync.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceInactivitySyncByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceInactivitySyncBySyncId
      x-operation-id-source: derived
  /audience/state-recalculation/{recalculationId}:
    get:
      tags:
      - Audience
      summary: Returns the audience state recalculation with the given id
      parameters:
      - name: recalculationId
        in: path
        description: The unique identifier of the recalculation.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceStateRecalculationByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceStateRecalculationByRecalculationId
      x-operation-id-source: derived
  /audience/{audienceId}/user-metrics:
    get:
      tags:
      - Audience
      summary: Gets the count of users in each state for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceUserStateMetricsResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceByAudienceIdUserMetrics
      x-operation-id-source: derived
  /audience/{audienceId}/inactivity-sync:
    get:
      tags:
      - Audience
      summary: Returns the most recent audience inactivity sync for the given audience…
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestAudienceInactivitySyncEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceByAudienceIdInactivitySync
      x-operation-id-source: derived
    post:
      tags:
      - Audience
      summary: Starts a new inactivity sync for the given audience
      description: 'Returns 400 if the audience does not have inactivity drop days configured.

        If a sync is already Pending for this audience, its id is returned and no new run is

        created. If one is currently Processing, it is aborted and replaced. Failed,

        Completed, and Aborted runs are left untouched and a fresh run is created.'
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartAudienceInactivitySyncEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdInactivitySync
      x-operation-id-source: derived
  /audience/{audienceId}/state-recalculation:
    get:
      tags:
      - Audience
      summary: Returns the most recent audience state recalculation for the given audience…
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLatestAudienceStateRecalculationEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceByAudienceIdStateRecalculation
      x-operation-id-source: derived
    post:
      tags:
      - Audience
      summary: Starts a new audience state recalculation for the given audience
      description: 'If a recalculation is already Pending for this audience, its id is returned and no new

        run is created. If one is currently Processing, it is aborted and replaced. Failed,

        Completed, and Aborted runs are left untouched and a fresh run is created.'
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartAudienceStateRecalculationEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdStateRecalculation
      x-operation-id-source: derived
  /audience/{audienceId}/initialize-users:
    post:
      tags:
      - Audience
      summary: Uploads a CSV file containing user IDs and scores, then processes it in the…
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience to initialize.
        required: true
        schema:
          type: string
      requestBody:
        description: 'A CSV file with columns: userId, score.'
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  $ref: '#/components/schemas/IFormFile'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdInitializeUsers
      x-operation-id-source: derived
  /audience/{audienceId}/pause-distillation:
    post:
      tags:
      - Audience
      summary: Pauses the distillation campaign for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdPauseDistillation
      x-operation-id-source: derived
  /audience/{audienceId}/jobs:
    get:
      tags:
      - Audience
      summary: Queries jobs for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - status
            - -status
            type: string
        x-parameter-group: sort
      - name: job_id
        in: query
        description: Filter by job_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: definition_id
        in: query
        description: Filter by definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: status
        in: query
        description: Filter by status.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAudienceJobsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudienceByAudienceIdJobs
      x-operation-id-source: derived
  /audiences:
    get:
      tags:
      - Audience
      summary: Queries all audiences visible to the caller
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - status
            - -status
            - qualified_user_count
            - -qualified_user_count
            type: string
        x-parameter-group: sort
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: status
        in: query
        description: Filter by status.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: is_public
        in: query
        description: Filter by is_public.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: is_distilling
        in: query
        description: Filter by is_distilling.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAudiencesEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getAudiences
      x-operation-id-source: derived
  /audience/{audienceId}/rebuild-distilling-campaign:
    post:
      tags:
      - Audience
      summary: Rebuilds the distilling campaign for the specified audience
      description: 'Recalculates campaign filters and selections based on the audience''s current settings

        (demographic filters, exit conditions, etc.).'
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdRebuildDistillingCampaign
      x-operation-id-source: derived
  /audience/reconcile-user-counts:
    post:
      tags:
      - Audience
      summary: Enqueues a background job that reconciles audience-row state derived from…
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceReconcileUserCounts
      x-operation-id-source: derived
  /audience/{audienceId}/recreate-external-audiences:
    post:
      tags:
      - Audience
      summary: Recreates external audiences for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      requestBody:
        description: Configuration for which external audiences to recreate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecreateExternalAudiencesEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdRecreateExternalAudiences
      x-operation-id-source: derived
  /audience/{audienceId}/resume-distillation:
    post:
      tags:
      - Audience
      summary: Resumes the distillation campaign for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdResumeDistillation
      x-operation-id-source: derived
  /audience/{audienceId}/recruit:
    post:
      tags:
      - Audience
      summary: Starts recruiting users for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postAudienceByAudienceIdRecruit
      x-operation-id-source: derived
  /audience/{audienceId}/boost-config:
    patch:
      tags:
      - Audience
      summary: Updates the boost configuration for the specified audience
      parameters:
      - name: audienceId
        in: path
        description: The unique identifier of the audience.
        required: true
        schema:
          type: string
      requestBody:
        description: The boost configuration values to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBoostConfigEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBoostConfigEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchAudienceByAudienceIdBoostConfig
      x-operation-id-source: derived
components:
  schemas:
    IAudienceFilterLanguageAudienceFilter:
      required:
      - languages
      - _t
      properties:
        _t:
          enum:
          - LanguageFilter
          type: string
        languages:
          type: array
          items:
            type: string
    GetAudienceByIdEndpoint_Output:
      required:
      - id
      - name
      - status
      - qualifiedUserCount
      - filters
      - createdAt
      - ownerId
      - ownerMail
      - isPublic
      - isDistilling
      - distillingCampaignId
      - graduationScore
      - distillingRetrievalMode
      - boostLevel
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the audience.
        name:
          type: string
          description: The name of the audience.
        description:
          type:
          - string
          - 'null'
          description: The markdown-supported description of the audience.
        status:
          allOf:
          - $ref: '#/components/schemas/AudienceStatus'
          description: The current status of the audience.
        qualifiedUserCount:
          type: integer
          description: The number of users that have qualified for this audience.
          format: int64
        filters:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/IAudienceFilter'
          description: The filters applied to this audience.
        logo:
          type:
          - string
          - 'null'
          description: The URL of the audience logo, if any.
        createdAt:
          type: string
          description: The timestamp when the audience was created.
          format: date-time
        ownerId:
          type: string
          description: The unique identifier of the audience owner.
          format: uuid
        ownerMail:
          type: string
          description: The email of the audience owner.
        isPublic:
          type: boolean
          description: Whether the audience is publicly visible.
        isDistilling:
          type: boolean
          description: Whether the audience is currently distilling users.
        distillingCampaignId:
          type: string
          description: The id of the distilling campaign associated with the audience.
        minGraduatedForDistillingBoost:
          type:
          - integer
          - 'null'
          description: Minimum graduated users before disabling distilling boost.
          format: int32
        minDistillingForGlobalBoost:
          type:
          - integer
          - 'null'
          description: Minimum distilling users before disabling global boost.
          format: int32
        graduationScore:
          type: number
          description: The score used to determine whether a user graduates from the distilling campaign.
          format: double
        demotionScore:
          type:
          - number
          - 'null'
          description: Score below which a graduated user is demoted back to distilling.
          format: double
        maxDistillingResponses:
          type:
          - integer
          - 'null'
          description: Maximum responses before user exits the distilling campaign.
          format: uint32
        minResponsesToGraduate:
          type:
          - integer
          - 'null'
          description: "Minimum responses required before a user can graduate into the audience.\n Even if the user's score is at or above the graduation threshold, they will\n remain in distilling until they have answered at least this many responses.\n Null when no minimum is configured."
          format: uint32
        dropMinResponses:
          type:
          - integer
          - 'null'
          description: Minimum responses before the drop score check applies.
          format: uint32
        dropScore:
          type:
          - number
          - 'null'
          description: Score floor - users below this score exit the distilling campaign.
          format: double
        maxDistillingSessions:
          type:
          - integer
          - 'null'
          description: Maximum sessions before user exits the distilling campaign.
          format: uint32
        inactivityDropDays:
          type:
          - integer
          - 'null'
          description: Number of days of inactivity before a distilling user is dropped.
          format: uint32
        minSubmissionRate:
          type:
          - number
          - 'null'
          description: Minimum submission rate before a user is dropped.
          format: double
        minSessionsForSubmissionRate:
          type:
          - integer
          - 'null'
          description: Minimum number of sessions before the submission rate check applies.
          format: uint32
        minSubmissionRateGraduated:
          type:
          - number
          - 'null'
          description: Minimum submission rate for graduated users.
          format: double
        distillingRetrievalMode:
          allOf:
          - $ref: '#/components/schemas/RetrievalMode'
          description: The retrieval mode used by the distilling campaign to select rapids for users.
        boostLevel:
          allOf:
          - $ref: '#/components/schemas/BoostLevel'
          description: The current boost level applied to the audience.
        randomAdmissionProbability:
          type:
          - number
          - 'null'
          description: The probability of admitting a random user to the audience.
          format: double
        health:
          type:
          - number
          - 'null'
          description: The health score of the audience.
          format: double
        graduated:
          type: integer
          description: The number of graduated users.
          format: int64
        dropped:
          type: integer
          description: The number of dropped users.
          format: int64
    StartAudienceInactivitySyncEndpoint_Output:
      required:
      - syncId
      type: object
      properties:
        syncId:
          type: string
          description: The id of the inactivity sync that was started or reused.
    UpdateAudienceEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name to give to this audience.
        description:
          type:
          - string
          - 'null'
          description: The new description for the audience. Supports markdown. Set to null to remove.
        filters:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/IAudienceFilter'
          description: "The new filters to apply to any orders created for this audience.\n A filter can be used to restrict the audience to a specific subset of users."
        logo:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/ExistingAssetInput'
          description: "The new logo image for the audience. Must be an existing image asset.\n Set to null to remove the logo."
        minGraduatedForDistillingBoost:
          type:
          - integer
          - 'null'
          description: "Minimum graduated users before disabling distilling boost.\n When graduated count is below this, external distilling audience ID is added to campaign boosting."
          format: int32
        minDistillingForGlobalBoost:
          type:
          - integer
          - 'null'
          description: "Minimum distilling users before disabling global boost.\n When distilling count is below this, GlobalBoostLevel is set above zero."
          format: int32
        graduationScore:
          type: number
          description: The score used to determine whether a user graduates from the distilling campaign.
          format: double
        demotionScore:
          type:
          - number
          - 'null'
          description: "Score below which a graduated user is demoted back to distilling.\n Must be less than or equal to GraduationScore. Set to null to use GraduationScore."
          format: double
        maxDistillingResponses:
          type:
          - integer
          - 'null'
          description: "Maximum responses before user exits the distilling campaign.\n Set to null to disable this exit condition."
          format: uint32
        minResponsesToGraduate:
          type:
          - integer
          - 'null'
          description: "Minimum responses required before a user can graduate into the audience.\n Even if the user's score is at or above the graduation threshold, they will\n remain in distilling until they have answered at least this many responses.\n Must be strictly less than MaxDistillingResponses when both are set.\n Set to null to allow graduation as soon as the score is reached."
          format: uint32
        dropMinResponses:
          type:
          - integer
          - 'null'
          description: "Minimum responses before the drop score check applies.\n Users need at least this many responses before they can be kicked out for low score.\n Set to null to apply drop score check from the first response."
          format: uint32
        dropScore:
          type:
          - number
          - 'null'
          description: "Score floor - users below this score exit the distilling campaign\n (only after completing DropMinResponses).\n Set to null to disable this exit condition."
          format: double
        maxDistillingSessions:
          type:
          - integer
          - 'null'
          description: "Maximum sessions (rapid retrievals) before user exits the distilling campaign.\n Set to a value to enable session-based exit condition."
          format: uint32
        inactivityDropDays:
          type:
          - integer
          - 'null'
          description: "Number of days of inactivity before a distilling user is dropped.\n Set to null to disable this exit condition."
          format: uint32
        minSubmissionRate:
          type:
          - number
          - 'null'
          description: "Minimum submission rate (responses / sessions) before a user is dropped.\n Set to null to disable this exit condition."
          format: double
        minSessionsForSubmissionRate:
          type:
          - integer
          - 'null'
          description: "Minimum number of sessions before the submission rate check applies.\n Set to null to apply from the first session."
          format: uint32
        minSubmissionRateGraduated:
          type:
          - number
          - 'null'
          description: "Minimum submission rate for graduated users. If null, MinSubmissionRate applies to graduated users.\n Set a lower value to be more lenient with graduated users."
          format: double
        distillingRetrievalMode:
          allOf:
          - $ref: '#/components/schemas/RetrievalMode'
          description: The retrieval mode used by the distilling campaign to select rapids for users.
    UpdateBoostConfigEndpoint_Output:
      type: object
      properties:
        recalculationId:
          type:
          - string
          - 'null'
          description: "The id of the audience state recalculation dispatched by this update.\n Boost-only updates do not trigger a recalculation, so this is typically null."
    ChangeAudienceOwnerEndpoint_Input:
      required:
      - ownerId
      - ownerMail
      type: object
      properties:
        ownerId:
          type: string
          description: The unique identifier of the new owner.
          format: uuid
        ownerMail:
          type: string
          description: The email address of the new owner.
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    AudienceStatus:
      enum:
      - Created
      - Pending
      - Recruiting
      - Ready
    GetLatestAudienceStateRecalculationEndpoint_Output:
      required:
      - id
      - audienceId
      - state
      - phase
      - processedCount
      - changedCount
      - createdAt
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the recalculation.
        audienceId:
          type: string
          description: The audience this recalculation belongs to.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceStateRecalculationState'
          description: The current state of the recalculation.
        phase:
          allOf:
          - $ref: '#/components/schemas/AudienceStateRecalculationPhase'
          description: The current phase within the recalculation lifecycle.
        lastProcessedUserId:
          type:
          - string
          - 'null'
          description: The id of the last user that was processed (progress cursor).
        processedCount:
          type: integer
          description: The number of users processed so far.
          format: int64
        changedCount:
          type: integer
          description: The number of users whose state was changed by the recalculation.
          format: int64
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message populated when the recalculation transitioned to Failed.
        startedAt:
          type:
          - string
          - 'null'
          description: When the recalculation began processing (null while still Pending).
          format: date-time
        lastHeartbeatAt:
          type:
          - string
          - 'null'
          description: Timestamp of the last heartbeat received from the worker.
          format: date-time
        completedAt:
          type:
          - string
          - 'null'
          description: When the recalculation reached a terminal state (Completed, Failed, Aborted).
          format: date-time
        createdAt:
          type: string
          description: When the recalculation was created.
          format: date-time
    IAudienceFilterDeviceAudienceFilter:
      required:
      - deviceTypes
      - _t
      properties:
        _t:
          enum:
          - DeviceFilter
          type: string
        deviceTypes:
          type: array
          items:
            $ref: '#/components/schemas/DeviceType'
    ExistingAssetInput:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        metadata:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
        identifier:
          type:
          - string
          - 'null'
    CreateFilteredAudienceEndpoint_Output:
      required:
      - audienceId
      type: object
      properties:
        audienceId:
          type: string
          description: The unique identifier of the filtered audience. Use this id in job creation.
    GetAudienceInactivitySyncByIdEndpoint_Output:
      required:
      - id
      - audienceId
      - state
      - phase
      - cutoff
      - processedCount
      - changedCount
      - createdAt
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the inactivity sync.
        audienceId:
          type: string
          description: The audience this inactivity sync belongs to.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceInactivitySyncState'
          description: The current state of the inactivity sync.
        phase:
          allOf:
          - $ref: '#/components/schemas/AudienceInactivitySyncPhase'
          description: The current phase within the inactivity sync lifecycle.
        cutoff:
          type: string
          description: The cutoff captured at run creation time. Users with last_seen_at older than this are marked inactive.
          format: date-time
        lastProcessedUserId:
          type:
          - string
          - 'null'
          description: The id of the last user that was processed (progress cursor).
        processedCount:
          type: integer
          description: The number of users processed so far.
          format: int64
        changedCount:
          type: integer
          description: The number of users whose state was changed by the sync.
          format: int64
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message populated when the sync transitioned to Failed.
        startedAt:
          type:
          - string
          - 'null'
          description: When the sync began processing (null while still Pending).
          format: date-time
        lastHeartbeatAt:
          type:
          - string
          - 'null'
          description: Timestamp of the last heartbeat received from the worker.
          format: date-time
        completedAt:
          type:
          - string
          - 'null'
          description: When the sync reached a terminal state (Completed, Failed, Aborted).
          format: date-time
        createdAt:
          type: string
          description: When the sync was created.
          format: date-time
    CreateAudienceEndpoint_Output:
      required:
      - audienceId
      type: object
      properties:
        audienceId:
          type: string
          description: The unique identifier of the newly created audience.
    AudienceStateRecalculationState:
      enum:
      - Pending
      - Processing
      - Completed
      - Failed
      - Aborted
    AudienceStateRecalculationPhase:
      enum:
      - RecalculatingUsers
      - Finalizing
      - Done
    BoostLevel:
      enum:
      - None
      - Stable
      - Distilling
      - Global
    DeviceType:
      enum:
      - Unknown
      - Phone
      - Tablet
    IFormFile:
      type: string
      format: binary
    RetrievalMode:
      enum:
      - Random
      - Shuffled
      - Sequential
    UpdateBoostConfigEndpoint_Input:
      type: object
      properties:
        minDistillingForGlobalBoost:
          type:
          - integer
          - 'null'
          description: Minimum number of distilling users required to activate global boost.
          format: int32
        minGraduatedForDistillingBoost:
          type:
          - integer
          - 'null'
          description: Minimum number of graduated users required to activate distilling boost.
          format: int32
    GetLatestAudienceInactivitySyncEndpoint_Output:
      required:
      - id
      - audienceId
      - state
      - phase
      - cutoff
      - processedCount
      - changedCount
      - createdAt
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the inactivity sync.
        audienceId:
          type: string
          description: The audience this inactivity sync belongs to.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceInactivitySyncState'
          description: The current state of the inactivity sync.
        phase:
          allOf:
          - $ref: '#/components/schemas/AudienceInactivitySyncPhase'
          description: The current phase within the inactivity sync lifecycle.
        cutoff:
          type: string
          description: The cutoff captured at run creation time. Users with last_seen_at older than this are marked inactive.
          format: date-time
        lastProcessedUserId:
          type:
          - string
          - 'null'
          description: The id of the last user that was processed (progress cursor).
        processedCount:
          type: integer
          description: The number of users processed so far.
          format: int64
        changedCount:
          type: integer
          description: The number of users whose state was changed by the sync.
          format: int64
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message populated when the sync transitioned to Failed.
        startedAt:
          type:
          - string
          - 'null'
          description: When the sync began processing (null while still Pending).
          format: date-time
        lastHeartbeatAt:
          type:
          - string
          - 'null'
          description: Timestamp of the last heartbeat received from the worker.
          format: date-time
        completedAt:
          type:
          - string
          - 'null'
          description: When the sync reached a terminal state (Completed, Failed, Aborted).
          format: date-time
        createdAt:
          type: string
          description: When the sync was created.
          format: date-time
    IMetadataInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataInputTextMetadataInput'
      discriminator:
        propertyName: _t
        mapping:
          TextMetadataInput: '#/components/schemas/IMetadataInputTextMetadataInput'
    StartAudienceStateRecalculationEndpoint_Output:
      required:
      - recalculationId
      type: object
      properties:
        recalculationId:
          type: string
          description: The id of the recalculation that was started or reused.
    MetadataInputCollection:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IMetadataInput'
    CreateAudienceEndpoint_Input:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name to give the newly created audience.
        description:
          type:
          - string
          - 'null'
          description: An optional markdown-supported description of the audience's purpose.
        filters:
          allOf:
          - type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IAudienceFilter'
          description: "The filters to apply to any orders created for this audience.\n A filter can be used to restrict the audience to a specific subset of users."
        graduationScore:
          type:
          - number
          - 'null'
          description: The score used to determine whether a user graduates from the distilling campaign.
          format: double
        demotionScore:
          type:
          - number
          - 'null'
          description: "Score below which a graduated user is demoted back to distilling.\n Must be less than or equal to GraduationScore. Defaults to null (uses GraduationScore)."
          format: double
        minimumSizeForActivation:
          type:
          - integer
          - 'null'
          description: The minimum number of users required for an audience to be activated.
          format: int64
        logo:
          allOf:
          - $ref: '#/components/schemas/ExistingAssetInput'
          description: An optional logo image for the audience. Must be an existing image asset.
        maxDistillingResponses:
          type:
          - integer
          - 'null'
          description: "Maximum responses before user exits the distilling campaign.\n Defaults to 10. Set to null to disable this exit condition."
          format: uint32
        minResponsesToGraduate:
          type:
          - integer
          - 'null'
          description: "Minimum responses required before a user can graduate into the audience.\n Even if the user's score is at or above the graduation threshold, they will\n remain in distilling until they have answered at least this many responses.\n Must be strictly less than MaxDistillingResponses when both are set.\n Defaults to null (no minimum — users graduate as soon as the score is reached)."
          format: uint32
        dropMinResponses:
          type:
          - integer
          - 'null'
          description: "Minimum responses before the drop score check applies.\n Users need at least this many responses before they can be kicked out for low score.\n Defaults to 3. Set to null to apply drop score check from the first response."
          format: uint32
        dropScore:
          type:
          - number
          - 'null'
          description: "Score floor - users below this score exit the distilling campaign\n (only after completing DropMinResponses).\n Defaults to 0.2. Set to null to disable this exit condition."
          format: double
        isDistillingCampaignSticky:
          type: boolean
          description: "Whether the distilling campaign should be sticky (users stay until filters don't match).\n Defaults to true (Temporary sticky)."
        maxDistillingSessions:
          type:
          - integer
          - 'null'
          description: "Maximum sessions (rapid retrievals) before user exits the distilling campaign.\n Defaults to null (disabled). Set to a value to enable session-based exit condition."
          format: uint32
        inactivityDropDays:
          type:
          - integer
          - 'null'
          description: "Number of days of inactivity before a distilling user is dropped.\n Defaults to null (disabled)."
          format: uint32
        minSubmissionRate:
          type:
          - number
          - 'null'
          description: "Minimum submission rate (responses / sessions) before a user is dropped.\n Defaults to null (disabled)."
          format: double
        minSessionsForSubmissionRate:
          type:
          - integer
          - 'null'
          description: "Minimum number of sessions before the submission rate check applies.\n Defaults to null (applies from first session)."
          format: uint32
        minSubmissionRateGraduated:
          type:
          - number
          - 'null'
          description: "Minimum submission rate for graduated users. If null, MinSubmissionRate applies to graduated users.\n Set a lower value to be more lenient with graduated users."
          format: double
        distillingRetrievalMode:
          allOf:
          - $ref: '#/components/schemas/RetrievalMode'
          description: "The retrieval mode used by the distilling campaign to select rapids for users.\n Defaults to Shuffled."
        minDistillingForGlobalBoost:
          type:
          - integer
          - 'null'
          description: "Minimum distilling users before disabling global boost.\n Defaults to 200. Admin-only override."
          format: int32
        minGraduatedForDistillingBoost:
          type:
          - integer
          - 'null'
          description: "Minimum graduated users before disabling distilling boost.\n Defaults to 100. Admin-only override."
          format: int32
    IAudienceFilterDemographicAudienceFilter:
      required:
      - identifier
      - values
      - _t
      properties:
        _t:
          enum:
          - DemographicFilter
          type: string
        identifier:
          type: string
        values:
          type: array
          items:
            type: string
    IAudienceFilterOrAudienceFilter:
      required:
      - filters
      - _t
      properties:
        _t:
          enum:
          - OrFilter
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/IAudienceFilter'
    GetAudienceStateRecalculationByIdEndpoint_Output:
      required:
      - id
      - audienceId
      - state
      - phase
      - processedCount
      - changedCount
      - createdAt
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the recalculation.
        audienceId:
          type: string
          description: The audience this recalculation belongs to.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceStateRecalculationState'
          description: The current state of the recalculation.
        phase:
          allOf:
          - $ref: '#/components/schemas/AudienceStateRecalculationPhase'
          description: The current phase within the recalculation lifecycle.
        lastProcessedUserId:
          type:
          - string
          - 'null'
          description: The id of the last user that was processed (progress cursor).
        processedCount:
          type: integer
          description: The number of users processed so far.
          format: int64
        changedCount:
          type: integer
          description: The number of users whose state was changed by the recalculation.
          format: int64
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message populated when the recalculation transitioned to Failed.
        startedAt:
          type:
          - string
          - 'null'
          description: When the recalculation began processing (null while still Pending).
          format: date-time
        lastHeartbeatAt:
          type:
          - string
          - 'null'
          description: Timestamp of the last heartbeat received from the worker.
          format: date-time
        completedAt:
          type:
          - string
          - 'null'
          description: When the recalculation reached a terminal state (Completed, Failed, Aborted).
          format: date-time
        createdAt:
          type: string
          description: When the recalculation was created.
          format: date-time
    UpdateAudienceEndpoint_Output:
      type: object
      properties:
        recalculationId:
          type:
          - string
          - 'null'
          description: "The id of the audience state recalculation that was dispatched as a result of this update.\n Only populated when state-affecting parameters (e.g. graduation score, drop score) changed;\n null when the update only touched descriptive fields or boost configuration."
        inactivitySyncId:
          type:
          - string
          - 'null'
          description: "The id of the audience inactivity sync that was dispatched as a result of this update.\n Only populated when InactivityDropDays was changed to a non-null value; null otherwise."
    IAudienceFilter:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAudienceFilterAndAudienceFilter'
      - $ref: '#/components/schemas/IAudienceFilterCountryAudienceFilter'
      - $ref: '#/components/schemas/IAudienceFilterDemographicAudienceFilter'
      - $ref: '#/components/schemas/IAudienceFilterDeviceAudienceFilter'
      - $ref: '#/components/schemas/IAudienceFilterLanguageAudienceFilter'
      - $ref: '#/components/schemas/IAudienceFilterNotAudienceFilter'
      - $ref: '#/components/schemas/IAudienceFilterOrAudienceFilter'
      discriminator:
        propertyName: _t
        mapping:
          AndFilter: '#/components/schemas/IAudienceFilterAndAudienceFilter'
          CountryFilter: '#/components/schemas/IAudienceFilterCountryAudienceFilter'
          DemographicFilter: '#/components/schemas/IAudienceFilterDemographicAudienceFilter'
          DeviceFilter: '#/components/schemas/IAudienceFilterDeviceAudienceFilter'
          LanguageFilter: '#/components/schemas/IAudienceFilterLanguageAudienceFilter'
          NotFilter: '#/components/schemas/IAudienceFilterNotAudienceFilter'
          OrFilter: '#/components/schemas/IAudienceFilterOrAudienceFilter'
    AudienceJobState:
      enum:
      - Submitted
      - Running
      - Completed
      - Failed
      - ManualApproval
      - Queued
      - Paused
      - StaleResults
      - SpendLimited
    CreateFilteredAudienceEndpoint_Input:
      required:
      - filter
      type: object
      properties:
        filter:
          allOf:
          - $ref: '#/components/schemas/IAudienceFilter'
          description: "The filter that restricts the base audience's graduates to a subset (e.g. by language,\n country or demographic value). Multiple criteria can be combined with And / Or / Not."
    QueryAudienceJobsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryAudienceJobsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    MetadataVisibilities:
      type: array
      items:
        enum:
        - None
        - Users
        - Customers
        - Admins
        - Dashboard
        - All
        type: string
    QueryAudiencesEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryAudiencesEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    QueryAudiencesEndpoint_Output:
      required:
      - id
      - name
      - status
      - qualifiedUserCount
      - filters
      - createdAt
      - ownerMail
      - isPublic
      - isDistilling
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the audience.
        name:
          type: string
          description: The name of the audience.
        description:
          type:
          - string
          - 'null'
          description: The markdown-supported description of the audience.
        status:
          allOf:
          - $ref: '#/components/schemas/AudienceStatus'
          description: The current status of the audience.
        qualifiedUserCount:
          type: integer
          description: The number of users that have qualified for this audience.
          format: int64
        filters:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/IAudienceFilter'
          description: The filters applied to this audience.
        logo:
          type:
          - string
          - 'null'
          description: The URL of the audience logo, if any.
        createdAt:
          type: string
          description: The timestamp when the audience was created.
          format: date-time
        ownerMail:
          type: string
          description: The email of the audience owner.
        isPublic:
          type: boolean
          description: Whether the audience is publicly visible.
        isDistilling:
          type: boolean
          description: Whether the audience is currently distilling users.
        randomAdmissionProbability:
          type:
          - number
          - 'null'
          description: The probability of admitting a random user to the audience.
          format: double
        health:
          type:
          - number
          - 'null'
          description: The health score of the audience.
          format: double
        graduated:
          type: integer
          description: The number of graduated users.
          format: int64
        dropped:
          type: integer
          description: The number of dropped users.
          format: int64
    AudienceInactivitySyncState:
      enum:
      - Pending
      - Processing
      - Completed
      - Failed
      - Aborted
    IAudienceFilterCountryAudienceFilter:
      required:
      - countries
      - _t
      properties:
        _t:
          enum:
          - CountryFilter
          type: string
        countries:
          type: array
          items:
            type: string
    RecreateExternalAudiencesEndpoint_Input:
      required:
      - recreateAll
      type: object
      properties:
        recreateAll:
          type: boolean
          description: Whether to recreate all 3 external audiences or only the missing ones.
    IMetadataInputTextMetadataInput:
      required:
      - text
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - TextMetadataInput
          type: string
        text:
          type:
          - string
          - 'null'
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    GetAudienceUserStateMetricsResult:
      required:
      - usersPerState
      type: object
      properties:
        usersPerState:
          type: object
          additionalProperties:
            type: integer
            format: int32
    IAudienceFilterAndAudienceFilter:
      required:
      - filters
      - _t
      properties:
        _t:
          enum:
          - AndFilter
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/IAudienceFilter'
    QueryAudienceJobsEndpoint_Output:
      required:
      - jobId
      - name
      - definitionId
      - audienceId
      - revisionNumber
      - pipelineId
      - state
      - createdAt
      type: object
      properties:
        jobId:
          type: string
          description: The unique identifier of the job.
        name:
          type: string
          description: The name of the job.
        definitionId:
          type: string
          description: The identifier of the job definition.
        audienceId:
          type: string
          description: The identifier of the audience the job belongs to.
        revisionNumber:
          type: integer
          description: The revision number of the job definition.
          format: int32
        pipelineId:
          type: string
          description: The identifier of the pipeline executing the job.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceJobState'
          description: The current status of the job.
        createdAt:
          type: string
          description: The timestamp when the job was created.
          format: date-time
    AudienceInactivitySyncPhase:
      enum:
      - MarkingInactiveUsers
      - Finalizing
      - Done
    IAudienceFilterNotAudienceFilter:
      required:
      - filter
      - _t
      properties:
        _t:
          enum:
          - NotFilter
          type: string
        filter:
          $ref: '#/components/schemas/IAudienceFilter'
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
