openapi: 3.0.4
info:
  title: Rapidata Asset Order API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Order
  x-displayName: Order
paths:
  /order/{orderId}/approve:
    post:
      tags:
      - Order
      summary: Approves a submitted order so the pipeline can start processing it.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to approve.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/clone:
    post:
      tags:
      - Order
      summary: Clones an existing public order.
      description: The order to clone must be marked as public.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to clone.
        required: true
        schema:
          type: string
      requestBody:
        description: The clone order details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneOrderEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneOrderEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/complex:
    post:
      tags:
      - Order
      summary: Creates a new order with a custom pipeline configuration.
      requestBody:
        description: The complex order creation details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplexOrderEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateComplexOrderEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order:
    post:
      tags:
      - Order
      summary: Creates a new order with the given configuration.
      description: "Once created, use the returned dataset ID to fill the dataset with datapoints,\n then submit the order for processing."
      requestBody:
        description: The order creation configuration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/unsupported:
    post:
      tags:
      - Order
      summary: Creates a notification for an unsupported order type.
      requestBody:
        description: The unsupported order details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUnsupportedOrderEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}:
    delete:
      tags:
      - Order
      summary: Deletes an order and its associated resources.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - Order
      summary: Retrieves the details of a specific order.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    patch:
      tags:
      - Order
      summary: Updates the name or preceding order of an order.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The properties to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/download-results:
    get:
      tags:
      - Order
      summary: Aggregates the results of an order and returns them as a file attachment.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/results:
    get:
      tags:
      - Order
      summary: Aggregates the results of an order and returns them as a JSON string.
      description: For file download, use the download-results endpoint instead.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /orders/public:
    get:
      tags:
      - Order
      summary: Retrieves all publicly available orders.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicOrdersEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/demo:
    patch:
      tags:
      - Order
      summary: Marks or unmarks an order as a demo.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order.
        required: true
        schema:
          type: string
      - name: isDemo
        in: query
        description: Whether to mark or unmark the order as a demo.
        schema:
          type: boolean
          default: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/pause:
    post:
      tags:
      - Order
      summary: Pauses an order, stopping all campaigns from processing.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to pause.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/preview:
    post:
      tags:
      - Order
      summary: Starts preview mode for an order so labelers' experience can be inspected.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to preview.
        required: true
        schema:
          type: string
      requestBody:
        description: Optional preview configuration.
        content:
          application/json:
            schema:
              type: object
              oneOf:
              - $ref: '#/components/schemas/PreviewOrderEndpoint_Input'
              nullable: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /orders/aggregated-overview:
    get:
      tags:
      - Order
      summary: Retrieves orders aggregated by customer with total amounts and most recent order information.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - amount
            - -amount
            - last7_days
            - -last7_days
            - last_order_date
            - -last_order_date
            - customer_mail
            - -customer_mail
            type: string
        x-parameter-group: sort
      - name: customer_mail
        in: query
        description: Filter by customer_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: last_order_date
        in: query
        description: Filter by last_order_date.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: last_order_name
        in: query
        description: Filter by last_order_name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAggregatedOrdersEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /orders:
    get:
      tags:
      - Order
      summary: Queries orders with filtering and pagination.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - order_name
            - -order_name
            - order_date
            - -order_date
            - state
            - -state
            type: string
        x-parameter-group: sort
      - name: order_name
        in: query
        description: Filter by order_name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: state
        in: query
        description: Filter by state.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: order_date
        in: query
        description: Filter by order_date.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: customer_mail
        in: query
        description: Filter by customer_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: is_public
        in: query
        description: Filter by is_public.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryOrdersEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/resume:
    post:
      tags:
      - Order
      summary: Resumes a paused order, restarting all campaigns.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to resume.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/retry:
    post:
      tags:
      - Order
      summary: Retries processing of a failed order.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to retry.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/share:
    patch:
      tags:
      - Order
      summary: Marks or unmarks an order as public.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order.
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        description: Whether to mark or unmark the order as public.
        schema:
          type: boolean
          default: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/submit:
    post:
      tags:
      - Order
      summary: Submits an order for processing.
      description: Once submitted, the order will be locked and no further changes can be made.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to submit.
        required: true
        schema:
          type: string
      requestBody:
        description: Optional submission configuration.
        content:
          application/json:
            schema:
              type: object
              oneOf:
              - $ref: '#/components/schemas/SubmitOrderEndpoint_Input'
              nullable: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /order/{orderId}/unlock:
    post:
      tags:
      - Order
      summary: Unlocks a cloned order so it can be modified.
      description: Unlocking clones the entire dataset and its datapoints.
      parameters:
      - name: orderId
        in: path
        description: The ID of the order to unlock.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlockOrderEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    UnlockOrderEndpoint_Output:
      required:
      - datasetIds
      type: object
      properties:
        datasetIds:
          allOf:
          - type: object
            additionalProperties:
              type: string
          description: The dataset IDs created by unlocking the order.
    CreateComplexOrderEndpoint_Output:
      required:
      - orderId
      - pipelineId
      type: object
      properties:
        datasetId:
          type: string
          description: The dataset ID of the created order.
          nullable: true
        orderId:
          type: string
          description: The ID of the created order.
        campaignId:
          type: string
          description: The campaign ID of the created order.
          nullable: true
        pipelineId:
          type: string
          description: The pipeline ID of the created order.
    IUserFilterModelResponseCountUserFilterModel:
      required:
      - responseCount
      - dimension
      - operator
      - _t
      properties:
        _t:
          enum:
          - ResponseCountFilter
          type: string
        responseCount:
          type: integer
          format: uint32
        dimension:
          type: string
        operator:
          $ref: '#/components/schemas/ComparisonOperator'
    RetrievalMode:
      enum:
      - Random
      - Shuffled
      - Sequential
    IRapidBlueprint:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
      discriminator:
        propertyName: _t
        mapping:
          ClassifyBlueprint: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
          BoundingBoxBlueprint: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
          CompareBlueprint: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
          FreeTextBlueprint: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
          LineBlueprint: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
          LocateBlueprint: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
          NamedEntityBlueprint: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
          PolygonBlueprint: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
          ScrubBlueprint: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
          TranscriptionBlueprint: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
    IUserFilterModelUserScoreUserFilterModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - UserScoreFilter
          type: string
        lowerbound:
          type: number
          format: double
        upperbound:
          type: number
          format: double
        dimension:
          type: string
          nullable: true
    IRapidBlueprintAttachCategoryRapidBlueprint:
      required:
      - categories
      - title
      - _t
      properties:
        _t:
          enum:
          - ClassifyBlueprint
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/AttachCategoryRapidBlueprint_Category'
        possibleCategories:
          type: array
          items:
            type: string
          nullable: true
        title:
          type: string
    IRankingConfigModelBradleyTerryRankingConfigModel:
      required:
      - startingScore
      - _t
      properties:
        _t:
          enum:
          - BradleyTerryRankingConfig
          type: string
        startingScore:
          type: integer
          format: int32
    QueryAggregatedOrdersEndpoint_Output:
      required:
      - amount
      - last7Days
      - lastOrderDate
      - lastOrderName
      - lastOrderId
      - customerMail
      type: object
      properties:
        amount:
          type: integer
          description: The total number of orders for this customer.
          format: int32
        last7Days:
          type: integer
          description: The number of orders placed in the last 7 days.
          format: int32
        lastOrderDate:
          type: string
          description: The date of the most recent order.
          format: date-time
        lastOrderName:
          type: string
          description: The name of the most recent order.
        lastOrderId:
          type: string
          description: The ID of the most recent order.
        customerMail:
          type: string
          description: The customer's email address.
    GetOrderByIdEndpoint_Output:
      required:
      - orderName
      - customerMail
      - orderDate
      - state
      - pipelineId
      - isLocked
      - isPublic
      type: object
      properties:
        orderName:
          type: string
          description: The name of the order.
        customerMail:
          type: string
          description: The email of the customer who placed the order.
        orderDate:
          type: string
          description: The date the order was placed.
          format: date-time
        state:
          type: string
          description: The current state of the order.
        pipelineId:
          type: string
          description: The ID of the pipeline associated with the order.
        isLocked:
          type: boolean
          description: Whether the order is locked.
        isPublic:
          type: boolean
          description: Whether the order is publicly visible.
        failureMessage:
          type: string
          description: The failure message if the order failed.
          nullable: true
    IPipelineStepModelWorkflowLabelingStepModel:
      required:
      - workflowArtifactId
      - _t
      properties:
        _t:
          enum:
          - WorkflowLabelingStepModel
          type: string
        workflowArtifactId:
          type: string
    IRapidBlueprintPolygonRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - PolygonBlueprint
          type: string
        target:
          type: string
    IPipelineModelCreateSimplePipelineModel:
      required:
      - artifacts
      - pipelineSteps
      - namePrefix
      - _t
      properties:
        _t:
          enum:
          - CreateSimplePipelineModel
          type: string
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/IPipelineArtifactModel'
        pipelineSteps:
          type: array
          items:
            $ref: '#/components/schemas/IPipelineStepModel'
        namePrefix:
          type: string
    IRapidBlueprintBoundingBoxRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - BoundingBoxBlueprint
          type: string
        target:
          type: string
    IMetadataInputTextMetadataInput:
      required:
      - text
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - TextMetadataInput
          type: string
        text:
          type: string
          nullable: true
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    ISelectionEffortCappedSelection:
      required:
      - effortBudget
      - _t
      properties:
        _t:
          enum:
          - EffortCappedSelection
          type: string
        effortBudget:
          type: integer
          format: int32
        retrievalMode:
          $ref: '#/components/schemas/RetrievalMode'
        maxIterations:
          type: integer
          format: int32
          nullable: true
    QueryOrdersEndpoint_Output:
      required:
      - id
      - pipelineId
      - orderDate
      - customerMail
      - state
      - orderName
      - isPublic
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the order.
        pipelineId:
          type: string
          description: The ID of the pipeline associated with the order.
        orderDate:
          type: string
          description: The date the order was placed.
          format: date-time
          nullable: true
        customerMail:
          type: string
          description: The email of the customer who placed the order.
        state:
          allOf:
          - $ref: '#/components/schemas/OrderState'
          description: The current state of the order.
        orderName:
          type: string
          description: The name of the order.
        isPublic:
          type: boolean
          description: Whether the order is publicly visible.
        failureMessage:
          type: string
          description: The failure message if the order failed.
          nullable: true
    IRankingConfigModelEloConfigModel:
      required:
      - startingScore
      - kFactor
      - scalingFactor
      - _t
      properties:
        _t:
          enum:
          - EloConfig
          type: string
        startingScore:
          type: integer
          format: int32
        kFactor:
          type: integer
          format: int32
        scalingFactor:
          type: integer
          format: int32
    AgeUserFilterModel_AgeGroup:
      enum:
      - 0-17
      - 18-29
      - 30-39
      - 40-49
      - 50-64
      - 65+
    MetadataInputCollection:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IMetadataInput'
    IRefereeModelEarlyStoppingRefereeModel:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - EarlyStoppingReferee
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: number
          format: double
    IPairMakerConfigModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPairMakerConfigModelFullPermutationPairMakerConfigModel'
      - $ref: '#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel'
      discriminator:
        propertyName: _t
        mapping:
          FullPermutationPairMaker: '#/components/schemas/IPairMakerConfigModelFullPermutationPairMakerConfigModel'
          OnlinePairMaker: '#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel'
    IRapidBlueprintScrubRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - ScrubBlueprint
          type: string
        target:
          type: string
    IOrderWorkflowInputModelEvaluationWorkflowInputModel:
      required:
      - validationSetId
      - shouldAcceptIncorrect
      - _t
      properties:
        _t:
          enum:
          - EvaluationWorkflow
          type: string
        validationSetId:
          type: string
        shouldAcceptIncorrect:
          type: boolean
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IOrderWorkflowInputModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IOrderWorkflowInputModelEvaluationWorkflowInputModel'
      - $ref: '#/components/schemas/IOrderWorkflowInputModelGroupedRankingWorkflowInputModel'
      - $ref: '#/components/schemas/IOrderWorkflowInputModelSimpleWorkflowInputModel'
      discriminator:
        propertyName: _t
        mapping:
          EvaluationWorkflow: '#/components/schemas/IOrderWorkflowInputModelEvaluationWorkflowInputModel'
          GroupedRankingWorkflow: '#/components/schemas/IOrderWorkflowInputModelGroupedRankingWorkflowInputModel'
          SimpleWorkflow: '#/components/schemas/IOrderWorkflowInputModelSimpleWorkflowInputModel'
    IDatasetModelCloneDatasetModel:
      required:
      - datasetToCloneId
      - datasetName
      - _t
      properties:
        _t:
          enum:
          - CloneDatasetModel
          type: string
        datasetToCloneId:
          type: string
        datasetName:
          type: string
    ISelection:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/ISelectionAbTestSelection'
      - $ref: '#/components/schemas/ISelectionCappedSelection'
      - $ref: '#/components/schemas/ISelectionConditionalValidationSelection'
      - $ref: '#/components/schemas/ISelectionDemographicSelection'
      - $ref: '#/components/schemas/ISelectionEffortCappedSelection'
      - $ref: '#/components/schemas/ISelectionLabelingSelection'
      - $ref: '#/components/schemas/ISelectionShufflingSelection'
      - $ref: '#/components/schemas/ISelectionStaticSelection'
      - $ref: '#/components/schemas/ISelectionValidationSelection'
      discriminator:
        propertyName: _t
        mapping:
          AbTestSelection: '#/components/schemas/ISelectionAbTestSelection'
          CappedSelection: '#/components/schemas/ISelectionCappedSelection'
          ConditionalValidationSelection: '#/components/schemas/ISelectionConditionalValidationSelection'
          DemographicSelection: '#/components/schemas/ISelectionDemographicSelection'
          EffortCappedSelection: '#/components/schemas/ISelectionEffortCappedSelection'
          LabelingSelection: '#/components/schemas/ISelectionLabelingSelection'
          ShufflingSelection: '#/components/schemas/ISelectionShufflingSelection'
          StaticSelection: '#/components/schemas/ISelectionStaticSelection'
          ValidationSelection: '#/components/schemas/ISelectionValidationSelection'
    IUserFilterModelCountryUserFilterModel:
      required:
      - countries
      - _t
      properties:
        _t:
          enum:
          - CountryFilter
          type: string
        countries:
          type: array
          items:
            type: string
    IPipelineStepModelDatasetEvaluationStepModel:
      required:
      - datasetArtifactId
      - aggregationResultFileArtifactId
      - evaluationResultFileArtifactId
      - receiver
      - _t
      properties:
        _t:
          enum:
          - DatasetEvaluationStepModel
          type: string
        datasetArtifactId:
          type: string
        aggregationResultFileArtifactId:
          type: string
        evaluationResultFileArtifactId:
          type: string
        receiver:
          type: string
    IUserFilterModelNewUserFilterModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - NewUserFilter
          type: string
    FeatureFlag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    MetadataVisibilities:
      type: array
      items:
        enum:
        - None
        - Users
        - Customers
        - Admins
        - Dashboard
        - All
        type: string
    CloneOrderEndpoint_Output:
      required:
      - orderId
      type: object
      properties:
        datasetId:
          type: string
          description: The dataset ID of the cloned order.
          nullable: true
        orderId:
          type: string
          description: The ID of the newly cloned order.
    AttachCategoryRapidBlueprint_Category:
      required:
      - label
      - value
      type: object
      properties:
        label:
          type: string
        value:
          type: string
    CloneOrderEndpoint_Input:
      required:
      - orderName
      type: object
      properties:
        orderName:
          type: string
          description: The name of the new cloned order.
    ISelectionAbTestSelection:
      required:
      - a
      - b
      - _t
      properties:
        _t:
          enum:
          - AbTestSelection
          type: string
        a:
          type: array
          items:
            $ref: '#/components/schemas/ISelection'
        b:
          type: array
          items:
            $ref: '#/components/schemas/ISelection'
    IAssetInputTextAssetInput:
      required:
      - text
      - _t
      properties:
        _t:
          enum:
          - TextAssetInput
          type: string
        text:
          type: string
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    IPairMakerConfigModelOnlinePairMakerConfigModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - OnlinePairMaker
          type: string
        randomMatchesRatio:
          type: number
          format: float
        totalComparisonBudget:
          type: integer
          format: int32
    OrderState:
      enum:
      - Created
      - Preview
      - Submitted
      - ManualReview
      - Queued
      - Processing
      - Paused
      - Completed
      - Cancelled
      - Failed
      - StaleResults
    IRapidBlueprintFreeTextRapidBlueprint:
      required:
      - question
      - _t
      properties:
        _t:
          enum:
          - FreeTextBlueprint
          type: string
        question:
          type: string
        shouldValidateResponse:
          type: boolean
          nullable: true
        validationSystemPrompt:
          type: string
          nullable: true
    IPipelineStepModelWorkflowAggregationStepModel:
      required:
      - campaignArtifactId
      - workflowArtifactId
      - fileArtifactId
      - _t
      properties:
        _t:
          enum:
          - WorkflowAggregationStepModel
          type: string
        campaignArtifactId:
          type: string
        workflowArtifactId:
          type: string
        fileArtifactId:
          type: string
        aggregatorType:
          $ref: '#/components/schemas/AggregatorType'
        demographicKeys:
          type: array
          items:
            type: string
          nullable: true
    IRapidBlueprintCompareRapidBlueprint:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - CompareBlueprint
          type: string
        criteria:
          type: string
        indexIdentifiers:
          type: array
          items:
            type: string
          nullable: true
    IRefereeModelNaiveRefereeModel:
      required:
      - totalVotes
      - _t
      properties:
        _t:
          enum:
          - NaiveReferee
          type: string
        totalVotes:
          type: integer
          format: int32
    ConditionalValidationSelection_ValidationChance:
      required:
      - userScoreThreshold
      - chance
      - rapidCount
      type: object
      properties:
        userScoreThreshold:
          type: number
          format: double
        chance:
          type: number
          format: double
        rapidCount:
          type: integer
          format: int32
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ISelection'
          nullable: true
    UpdateOrderEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name of the order, if specified.
        precedingOrderId:
          type: string
          description: "The ID of the order that must complete before this order starts processing.\n Set to null to clear an existing preceding order."
          nullable: true
    ISelectionDemographicSelection:
      required:
      - keys
      - _t
      properties:
        _t:
          enum:
          - DemographicSelection
          type: string
        keys:
          type: array
          items:
            type: string
        maxRapids:
          type: integer
          format: int32
    IRapidBlueprintLocateRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LocateBlueprint
          type: string
        target:
          type: string
    ISelectionShufflingSelection:
      required:
      - selections
      - _t
      properties:
        _t:
          enum:
          - ShufflingSelection
          type: string
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ISelection'
    IUserFilterModelDeviceUserFilterModel:
      required:
      - deviceTypes
      - _t
      properties:
        _t:
          enum:
          - DeviceFilter
          type: string
        deviceTypes:
          type: array
          items:
            $ref: '#/components/schemas/DeviceType'
    IUserFilterModelCampaignUserFilterModel:
      required:
      - campaignIds
      - _t
      properties:
        _t:
          enum:
          - CampaignFilter
          type: string
        campaignIds:
          type: array
          items:
            type: string
    IMetadataInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataInputTextMetadataInput'
      discriminator:
        propertyName: _t
        mapping:
          TextMetadataInput: '#/components/schemas/IMetadataInputTextMetadataInput'
    IUserFilterModelLanguageUserFilterModel:
      required:
      - languages
      - _t
      properties:
        _t:
          enum:
          - LanguageFilter
          type: string
        languages:
          type: array
          items:
            type: string
    ISelectionValidationSelection:
      required:
      - amount
      - validationSetId
      - _t
      properties:
        _t:
          enum:
          - ValidationSelection
          type: string
        amount:
          type: integer
          format: int32
        validationSetId:
          type: string
    IUserFilterModelOrUserFilterModel:
      required:
      - filters
      - _t
      properties:
        _t:
          enum:
          - OrFilter
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/IUserFilterModel'
    IOrderWorkflowInputModelGroupedRankingWorkflowInputModel:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - GroupedRankingWorkflow
          type: string
        criteria:
          type: string
        pairMakerConfig:
          $ref: '#/components/schemas/IPairMakerConfigModel'
        rankingConfig:
          type: object
          oneOf:
          - $ref: '#/components/schemas/IRankingConfigModel'
          nullable: true
        contexts:
          type: object
          additionalProperties:
            type: string
          nullable: true
        contextAssets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IAssetInput'
          nullable: true
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
        maxParallelism:
          type: integer
          format: int32
    IUserFilterModelNotUserFilterModel:
      required:
      - filter
      - _t
      properties:
        _t:
          enum:
          - NotFilter
          type: string
        filter:
          $ref: '#/components/schemas/IUserFilterModel'
    QueryAggregatedOrdersEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryAggregatedOrdersEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    CreateComplexOrderEndpoint_Input:
      required:
      - orderName
      - pipeline
      type: object
      properties:
        orderName:
          type: string
          description: The name of the order.
        pipeline:
          allOf:
          - $ref: '#/components/schemas/IPipelineModel'
          description: The pipeline configuration to use.
        isDemo:
          type: boolean
          description: Whether the order is a demo.
        precedingOrderId:
          type: string
          description: Optional ID of the order that must complete before this order starts processing.
          nullable: true
    IRefereeModelQuorumRefereeModel:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - QuorumReferee
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: integer
          format: int32
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    IPipelineArtifactModelCreateDatasetArtifactModel:
      required:
      - identifier
      - dataset
      - _t
      properties:
        _t:
          enum:
          - CreateDatasetArtifactModel
          type: string
        identifier:
          type: string
        dataset:
          $ref: '#/components/schemas/IDatasetModel'
    IOrderWorkflowInputModelSimpleWorkflowInputModel:
      required:
      - blueprint
      - _t
      properties:
        _t:
          enum:
          - SimpleWorkflow
          type: string
        blueprint:
          $ref: '#/components/schemas/IRapidBlueprint'
        batchSize:
          type: integer
          format: int32
          nullable: true
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IPipelineStepModelSendCompletionMailStepModel:
      required:
      - receiver
      - resultsFileArtifactIdentifier
      - _t
      properties:
        _t:
          enum:
          - SendCompletionMailStepModel
          type: string
        receiver:
          type: string
        resultsFileArtifactIdentifier:
          type: string
    ISelectionCappedSelection:
      required:
      - selections
      - maxRapids
      - _t
      properties:
        _t:
          enum:
          - CappedSelection
          type: string
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ISelection'
        maxRapids:
          type: integer
          format: int32
    DeviceType:
      enum:
      - Unknown
      - Phone
      - Tablet
    IUserFilterModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IUserFilterModelAgeUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelAndUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelCampaignUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelCountryUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelCustomUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelDeviceUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelGenderUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelLanguageUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelNewUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelNotUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelOrUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelResponseCountUserFilterModel'
      - $ref: '#/components/schemas/IUserFilterModelUserScoreUserFilterModel'
      discriminator:
        propertyName: _t
        mapping:
          AgeFilter: '#/components/schemas/IUserFilterModelAgeUserFilterModel'
          AndFilter: '#/components/schemas/IUserFilterModelAndUserFilterModel'
          CampaignFilter: '#/components/schemas/IUserFilterModelCampaignUserFilterModel'
          CountryFilter: '#/components/schemas/IUserFilterModelCountryUserFilterModel'
          CustomFilter: '#/components/schemas/IUserFilterModelCustomUserFilterModel'
          DeviceFilter: '#/components/schemas/IUserFilterModelDeviceUserFilterModel'
          GenderFilter: '#/components/schemas/IUserFilterModelGenderUserFilterModel'
          LanguageFilter: '#/components/schemas/IUserFilterModelLanguageUserFilterModel'
          NewUserFilter: '#/components/schemas/IUserFilterModelNewUserFilterModel'
          NotFilter: '#/components/schemas/IUserFilterModelNotUserFilterModel'
          OrFilter: '#/components/schemas/IUserFilterModelOrUserFilterModel'
          ResponseCountFilter: '#/components/schemas/IUserFilterModelResponseCountUserFilterModel'
          UserScoreFilter: '#/components/schemas/IUserFilterModelUserScoreUserFilterModel'
    IUserFilterModelAgeUserFilterModel:
      required:
      - ageGroups
      - _t
      properties:
        _t:
          enum:
          - AgeFilter
          type: string
        ageGroups:
          type: array
          items:
            $ref: '#/components/schemas/AgeUserFilterModel_AgeGroup'
    IRapidBlueprintTranscriptionRapidBlueprint:
      required:
      - title
      - _t
      properties:
        _t:
          enum:
          - TranscriptionBlueprint
          type: string
        title:
          type: string
    IPipelineModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPipelineModelCreateSimplePipelineModel'
      discriminator:
        propertyName: _t
        mapping:
          CreateSimplePipelineModel: '#/components/schemas/IPipelineModelCreateSimplePipelineModel'
    IRapidBlueprintLineRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LineBlueprint
          type: string
        target:
          type: string
    ComparisonOperator:
      enum:
      - Equal
      - NotEqual
      - LessThan
      - LessThanOrEqual
      - GreaterThan
      - GreaterThanOrEqual
    IRankingConfigModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel'
      - $ref: '#/components/schemas/IRankingConfigModelEloConfigModel'
      discriminator:
        propertyName: _t
        mapping:
          BradleyTerryRankingConfig: '#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel'
          EloConfig: '#/components/schemas/IRankingConfigModelEloConfigModel'
    IAssetInputMultiAssetInput:
      required:
      - assets
      - _t
      properties:
        _t:
          enum:
          - MultiAssetInput
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/IAssetInput'
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    PreviewOrderEndpoint_Input:
      type: object
      properties:
        ignoreFailedDatapoints:
          type: boolean
          description: Whether the order should proceed even if certain datapoints failed.
          nullable: true
    CreateUnsupportedOrderEndpoint_Input:
      required:
      - orderName
      - dataType
      - labelType
      type: object
      properties:
        orderName:
          type: string
          description: The name of the order.
        dataType:
          type: string
          description: The type of data that was attempted to be ordered.
        labelType:
          type: string
          description: The type of labels that were attempted to be ordered.
    CreateOrderEndpoint_Output:
      required:
      - orderId
      - pipelineId
      type: object
      properties:
        datasetId:
          type: string
          description: The dataset ID of the created order.
          nullable: true
        orderId:
          type: string
          description: The ID of the created order.
        campaignId:
          type: string
          description: The campaign ID of the created order.
          nullable: true
        pipelineId:
          type: string
          description: The pipeline ID of the created order.
    GetPublicOrdersEndpoint_OrderOutput:
      required:
      - id
      - name
      - isPublic
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        isPublic:
          type: boolean
    AggregatorType:
      enum:
      - NonCommittal
      - MajorityVote
      - SimpleMatchup
      - LocateCluster
      - Classification
      - Locate
      - BoundingBox
      - Line
      - Transcription
      - SinglePointLocate
      - FreeText
      - Scrub
      - Ranking
      - MultiRanking
      - null
    IPairMakerConfigModelFullPermutationPairMakerConfigModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - FullPermutationPairMaker
          type: string
    ISelectionLabelingSelection:
      required:
      - _t
      properties:
        _t:
          enum:
          - LabelingSelection
          type: string
        amount:
          type: integer
          format: int32
          nullable: true
        effortBudget:
          type: integer
          format: int32
        retrievalMode:
          $ref: '#/components/schemas/RetrievalMode'
        maxIterations:
          type: integer
          format: int32
          nullable: true
    GetPublicOrdersEndpoint_Output:
      required:
      - orders
      type: object
      properties:
        orders:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetPublicOrdersEndpoint_OrderOutput'
          description: The list of publicly available orders.
    IUserFilterModelAndUserFilterModel:
      required:
      - filters
      - _t
      properties:
        _t:
          enum:
          - AndFilter
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/IUserFilterModel'
    IPipelineStepModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPipelineStepModelDatasetEvaluationStepModel'
      - $ref: '#/components/schemas/IPipelineStepModelSendCompletionMailStepModel'
      - $ref: '#/components/schemas/IPipelineStepModelWorkflowAggregationStepModel'
      - $ref: '#/components/schemas/IPipelineStepModelWorkflowLabelingStepModel'
      discriminator:
        propertyName: _t
        mapping:
          DatasetEvaluationStepModel: '#/components/schemas/IPipelineStepModelDatasetEvaluationStepModel'
          SendCompletionMailStepModel: '#/components/schemas/IPipelineStepModelSendCompletionMailStepModel'
          WorkflowAggregationStepModel: '#/components/schemas/IPipelineStepModelWorkflowAggregationStepModel'
          WorkflowLabelingStepModel: '#/components/schemas/IPipelineStepModelWorkflowLabelingStepModel'
    IRapidBlueprintNamedEntityRapidBlueprint:
      required:
      - target
      - classes
      - _t
      properties:
        _t:
          enum:
          - NamedEntityBlueprint
          type: string
        target:
          type: string
        classes:
          type: array
          items:
            type: string
    IDatasetModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IDatasetModelCloneDatasetModel'
      discriminator:
        propertyName: _t
        mapping:
          CloneDatasetModel: '#/components/schemas/IDatasetModelCloneDatasetModel'
    IAssetInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAssetInputExistingAssetInput'
      - $ref: '#/components/schemas/IAssetInputMultiAssetInput'
      - $ref: '#/components/schemas/IAssetInputTextAssetInput'
      discriminator:
        propertyName: _t
        mapping:
          ExistingAssetInput: '#/components/schemas/IAssetInputExistingAssetInput'
          MultiAssetInput: '#/components/schemas/IAssetInputMultiAssetInput'
          TextAssetInput: '#/components/schemas/IAssetInputTextAssetInput'
    IUserFilterModelCustomUserFilterModel:
      required:
      - identifier
      - values
      - _t
      properties:
        _t:
          enum:
          - CustomFilter
          type: string
        identifier:
          type: string
        values:
          type: array
          items:
            type: string
    StickyConfig:
      required:
      - dimension
      type: object
      properties:
        isEnabled:
          type: boolean
        dimension:
          type: string
        bypassFilters:
          type: boolean
        bypassPrioritySelection:
          type: boolean
        blockOtherStickyCampaigns:
          type: boolean
        clearOnPause:
          type: boolean
    SubmitOrderEndpoint_Input:
      type: object
      properties:
        ignoreFailedDatapoints:
          type: boolean
          description: Whether the order should proceed even if certain datapoints failed.
          nullable: true
    IPipelineArtifactModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPipelineArtifactModelCreateDatasetArtifactModel'
      discriminator:
        propertyName: _t
        mapping:
          CreateDatasetArtifactModel: '#/components/schemas/IPipelineArtifactModelCreateDatasetArtifactModel'
    IRefereeModelBudgetRefereeModel:
      required:
      - totalBudget
      - _t
      properties:
        _t:
          enum:
          - BudgetReferee
          type: string
        totalBudget:
          type: integer
          format: int32
    ISelectionStaticSelection:
      required:
      - rapidIds
      - _t
      properties:
        _t:
          enum:
          - StaticSelection
          type: string
        rapidIds:
          type: array
          items:
            type: string
    IUserFilterModelGenderUserFilterModel:
      required:
      - genders
      - _t
      properties:
        _t:
          enum:
          - GenderFilter
          type: string
        genders:
          type: array
          items:
            $ref: '#/components/schemas/GenderUserFilterModel_Gender'
    IAssetInputExistingAssetInput:
      required:
      - name
      - _t
      properties:
        _t:
          enum:
          - ExistingAssetInput
          type: string
        name:
          type: string
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    QueryOrdersEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryOrdersEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    GenderUserFilterModel_Gender:
      enum:
      - Male
      - Female
      - Other
    ISelectionConditionalValidationSelection:
      required:
      - validationSetId
      - validationChances
      - _t
      properties:
        _t:
          enum:
          - ConditionalValidationSelection
          type: string
        validationSetId:
          type: string
        validationChances:
          type: array
          items:
            $ref: '#/components/schemas/ConditionalValidationSelection_ValidationChance'
        dimensions:
          type: array
          items:
            type: string
    IRefereeModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRefereeModelBudgetRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelEarlyStoppingRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelNaiveRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelQuorumRefereeModel'
      discriminator:
        propertyName: _t
        mapping:
          BudgetReferee: '#/components/schemas/IRefereeModelBudgetRefereeModel'
          EarlyStoppingReferee: '#/components/schemas/IRefereeModelEarlyStoppingRefereeModel'
          NaiveReferee: '#/components/schemas/IRefereeModelNaiveRefereeModel'
          QuorumReferee: '#/components/schemas/IRefereeModelQuorumRefereeModel'
    CreateOrderModel:
      required:
      - orderName
      - workflow
      - referee
      type: object
      properties:
        orderName:
          type: string
          description: The name is used as an identifier for an order and can be freely chosen.
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: The workflow helps to determine the tasks that need to be completed by the users.
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: The referee is used to determine how many votes will be collected.
        aggregator:
          allOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator is used to determine how the data will be aggregated. The default behavior is enough for most cases
        rapidFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
            nullable: true
          description: The feature flags that apply to each rapid created by this order.
        campaignFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
            nullable: true
          description: The feature flags that apply to the campaign (session-wide) for this order.
        priority:
          type: integer
          description: The priority is used to prioritize over other orders.
          format: int32
          nullable: true
        stickyConfig:
          allOf:
          - $ref: '#/components/schemas/StickyConfig'
          description: Configuration for sticky campaign behavior. Takes precedence over StickyState if both are provided.
        userScoreDimensions:
          allOf:
          - type: array
            items:
              type: string
            nullable: true
          description: The user score dimensions are used to determine the score of the responses from the user.
        demographicKeys:
          allOf:
          - type: array
            items:
              type: string
            nullable: true
          description: The demographic keys are used to determine which demographics to store on the responses from the user.
        userFilters:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/IUserFilterModel'
            nullable: true
          description: The user filters are used to restrict the order to only collect votes from a specific demographic.
        validationSetId:
          type: string
          description: "The validation set id can be changed to point to a specific validation set. if not provided a sane default will be\n used."
          nullable: true
        selections:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ISelection'
            nullable: true
          description: The selections are used to determine which tasks are shown to a user.
        retrievalMode:
          allOf:
          - $ref: '#/components/schemas/RetrievalMode'
          description: The retrieval mode defines how rapids are retrieved from the active labeling pool.
        maxIterations:
          type: integer
          description: The maximum number of times a user is allowed to see the same rapid.
          format: int32
          nullable: true
        precedingOrderId:
          type: string
          description: Optional ID of the order that must complete before this order starts processing.
          nullable: true
      description: This model is used to create a simple order
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
