openapi: 3.0.4
info:
  title: Rapidata Asset Leaderboard API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Leaderboard
  x-displayName: Leaderboard
paths:
  /leaderboard/{leaderboardId}/boost:
    post:
      tags:
      - Leaderboard
      summary: Boosts a subset of participants within a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to boost.
        required: true
        schema:
          type: string
      requestBody:
        description: The payload describing the boost to apply.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoostLeaderboardEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard:
    post:
      tags:
      - Leaderboard
      summary: Creates a new leaderboard.
      requestBody:
        description: The current HTTP context, used for user claims.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeaderboardEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLeaderboardEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/participants:
    post:
      tags:
      - Leaderboard
      summary: Creates a participant in a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard the participant will be added to.
        required: true
        schema:
          type: string
      requestBody:
        description: The payload describing the participant to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeaderboardParticipantEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLeaderboardParticipantEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - Leaderboard
      summary: Queries all participants connected to a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard whose participants should be queried.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryParticipantsObsoleteEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/prompts:
    post:
      tags:
      - Leaderboard
      summary: Adds a new prompt to a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to add the prompt to.
        required: true
        schema:
          type: string
      requestBody:
        description: The prompt text.
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePromptForLeaderboardEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}:
    delete:
      tags:
      - Leaderboard
      summary: Deletes a leaderboard by its id.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - Leaderboard
      summary: Gets a leaderboard by its id.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLeaderboardByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    patch:
      tags:
      - Leaderboard
      summary: Updates a leaderboard using patch semantics.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The patch payload describing which fields should change.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeaderboardEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/combined-matrix/query:
    get:
      tags:
      - Leaderboard
      summary: Queries the combined win matrix of multiple leaderboards.
      description: "Filters apply to the underlying votes. Benchmarks without granular vote storage evaluate\n only the filters their aggregated data can answer (tags, participants, leaderboards, runs,\n prompt identifiers); demographic and vote-time filters require granular vote storage."
      parameters:
      - name: leaderboardIds
        in: query
        description: The identifiers of the leaderboards to combine.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: useWeightedScoring
        in: query
        description: Whether to apply weighted scoring based on user scores.
        schema:
          type: boolean
          default: false
      - name: country
        in: query
        description: Filter by country.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: language
        in: query
        description: Filter by language.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: gender
        in: query
        description: Filter by gender.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: age_bucket
        in: query
        description: Filter by age_bucket.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: occupation
        in: query
        description: Filter by occupation.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: tags
        in: query
        description: Filter by tags.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: participant_id
        in: query
        description: Filter by participant_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: run_id
        in: query
        description: Filter by run_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: prompt_identifier
        in: query
        description: Filter by prompt_identifier.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: voted_at
        in: query
        description: Filter by voted_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCombinedMatrixByLeaderboardsEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/combined-standings/query:
    get:
      tags:
      - Leaderboard
      summary: Queries the combined standings of multiple leaderboards.
      description: "Filters apply to the underlying votes. Benchmarks without granular vote storage evaluate\n only the filters their aggregated data can answer (tags, participants, leaderboards, runs,\n prompt identifiers); demographic and vote-time filters require granular vote storage."
      parameters:
      - name: leaderboardIds
        in: query
        description: The identifiers of the leaderboards to combine.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: useWeightedScoring
        in: query
        description: Whether to apply weighted scoring based on user scores.
        schema:
          type: boolean
          default: false
      - name: country
        in: query
        description: Filter by country.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: language
        in: query
        description: Filter by language.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: gender
        in: query
        description: Filter by gender.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: age_bucket
        in: query
        description: Filter by age_bucket.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: occupation
        in: query
        description: Filter by occupation.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: tags
        in: query
        description: Filter by tags.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: participant_id
        in: query
        description: Filter by participant_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: run_id
        in: query
        description: Filter by run_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: prompt_identifier
        in: query
        description: Filter by prompt_identifier.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: voted_at
        in: query
        description: Filter by voted_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCombinedStandingsByLeaderboardsEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/runs:
    get:
      tags:
      - Leaderboard
      summary: Queries the runs related to a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard whose runs should be queried.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - id
            - -id
            - name
            - -name
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: id
        in: query
        description: Filter by id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: status
        in: query
        description: Filter by status.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryLeaderboardRunsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboards:
    get:
      tags:
      - Leaderboard
      summary: Queries all leaderboards accessible to the current user.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - id
            - -id
            - name
            - -name
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: id
        in: query
        description: Filter by id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: benchmark_id
        in: query
        description: Filter by benchmark_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryLeaderboardsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/matrix/query:
    get:
      tags:
      - Leaderboard
      summary: Queries the win matrix of a leaderboard.
      description: "Filters apply to the underlying votes. Benchmarks without granular vote storage evaluate\n only the filters their aggregated data can answer (tags, participants, leaderboards, runs,\n prompt identifiers); demographic and vote-time filters require granular vote storage."
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard.
        required: true
        schema:
          type: string
      - name: useWeightedScoring
        in: query
        description: Whether to apply weighted scoring based on user scores.
        schema:
          type: boolean
          default: false
      - name: country
        in: query
        description: Filter by country.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: language
        in: query
        description: Filter by language.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: gender
        in: query
        description: Filter by gender.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: age_bucket
        in: query
        description: Filter by age_bucket.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: occupation
        in: query
        description: Filter by occupation.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: tags
        in: query
        description: Filter by tags.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: participant_id
        in: query
        description: Filter by participant_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: run_id
        in: query
        description: Filter by run_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: prompt_identifier
        in: query
        description: Filter by prompt_identifier.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: voted_at
        in: query
        description: Filter by voted_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryMatrixByLeaderboardEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/standings/query:
    get:
      tags:
      - Leaderboard
      summary: Queries the standings of a leaderboard.
      description: "Filters apply to the underlying votes. Benchmarks without granular vote storage evaluate\n only the filters their aggregated data can answer (tags, participants, leaderboards, runs,\n prompt identifiers); demographic and vote-time filters require granular vote storage."
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard.
        required: true
        schema:
          type: string
      - name: useWeightedScoring
        in: query
        description: Whether to apply weighted scoring based on user scores.
        schema:
          type: boolean
          default: false
      - name: country
        in: query
        description: Filter by country.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: language
        in: query
        description: Filter by language.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: gender
        in: query
        description: Filter by gender.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: age_bucket
        in: query
        description: Filter by age_bucket.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: occupation
        in: query
        description: Filter by occupation.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: tags
        in: query
        description: Filter by tags.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: participant_id
        in: query
        description: Filter by participant_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: run_id
        in: query
        description: Filter by run_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: prompt_identifier
        in: query
        description: Filter by prompt_identifier.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: voted_at
        in: query
        description: Filter by voted_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryStandingsByLeaderboardEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/participants/{participantId}/submit:
    post:
      tags:
      - Leaderboard
      summary: Submits a participant to a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard the participant belongs to.
        required: true
        schema:
          type: string
      - name: participantId
        in: path
        description: The id of the participant to submit.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitParticipantEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/name:
    put:
      tags:
      - Leaderboard
      summary: Updates the name of a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The payload describing the new name.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeaderboardNameEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /leaderboard/{leaderboardId}/response-config:
    put:
      tags:
      - Leaderboard
      summary: Updates the response configuration of a leaderboard.
      parameters:
      - name: leaderboardId
        in: path
        description: The id of the leaderboard to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The payload describing the new response configuration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeaderboardResponseConfigEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    QueryMatrixByLeaderboardEndpoint_Output:
      required:
      - index
      - columns
      - data
      type: object
      properties:
        index:
          allOf:
          - type: array
            items:
              type: string
          description: The participant names of the matrix rows, ordered strongest first.
        columns:
          allOf:
          - type: array
            items:
              type: string
          description: The participant names of the matrix columns, ordered strongest first.
        data:
          allOf:
          - type: array
            items:
              type: array
              items:
                type: number
                format: double
          description: The win counts; Data[i][j] holds the wins of Index[i] over Columns[j].
    FeatureFlag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    QueryLeaderboardRunsEndpoint_Output:
      required:
      - id
      - name
      - status
      - createdAt
      - ownerMail
      - orderId
      - jobId
      - audienceId
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the run.
        name:
          type: string
          description: The name of the run.
        status:
          allOf:
          - $ref: '#/components/schemas/RunStatus'
          description: The status of the run.
        createdAt:
          type: string
          description: The timestamp when the run was created.
          format: date-time
        ownerMail:
          type: string
          description: The mail of the owner of the run.
        orderId:
          type: string
          description: The id of the associated order, if any.
          nullable: true
        jobId:
          type: string
          description: The id of the associated job, if any.
          nullable: true
        audienceId:
          type: string
          description: The id of the audience associated with the run.
    StandingStatus:
      enum:
      - Created
      - Active
      - Idle
    QueryCombinedStandingsByLeaderboardsEndpoint_Output:
      required:
      - items
      type: object
      properties:
        items:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/QueryCombinedStandingsByLeaderboardsEndpoint_OutputItem'
          description: The standings items, ordered by score descending.
      description: The queried standings output.
    QueryCombinedMatrixByLeaderboardsEndpoint_Output:
      required:
      - index
      - columns
      - data
      type: object
      properties:
        index:
          allOf:
          - type: array
            items:
              type: string
          description: The participant names of the matrix rows, ordered strongest first.
        columns:
          allOf:
          - type: array
            items:
              type: string
          description: The participant names of the matrix columns, ordered strongest first.
        data:
          allOf:
          - type: array
            items:
              type: array
              items:
                type: number
                format: double
          description: The win counts; Data[i][j] holds the wins of Index[i] over Columns[j].
    CreateLeaderboardEndpoint_Output:
      required:
      - id
      - benchmarkId
      - showPrompt
      - showPromptAsset
      - responseBudget
      - minResponses
      - isInversed
      - voteAggregation
      type: object
      properties:
        id:
          type: string
          description: The id of the created leaderboard.
        benchmarkId:
          type: string
          description: The id of the benchmark the leaderboard belongs to.
        showPrompt:
          type: boolean
          description: Whether the prompt is shown on the rapids.
        showPromptAsset:
          type: boolean
          description: Whether the prompt asset is shown on the rapids.
        responseBudget:
          type: integer
          description: The response budget per run.
          format: int32
        minResponses:
          type: integer
          description: The minimum responses per comparison.
          format: int32
        isInversed:
          type: boolean
          description: Whether the leaderboard results are inversed.
        voteAggregation:
          allOf:
          - $ref: '#/components/schemas/VoteAggregation'
          description: How individual votes on a matchup are aggregated into the stored result.
    QueryStandingsByLeaderboardEndpoint_OutputItem:
      required:
      - id
      - name
      - status
      - score
      - wins
      - totalMatches
      - isDisabled
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        family:
          type: string
          nullable: true
        proprietaryName:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/StandingStatus'
        score:
          type: number
          format: double
          nullable: true
        wins:
          type: number
          format: double
        totalMatches:
          type: number
          format: double
        isDisabled:
          type: boolean
        confidenceInterval:
          type: object
          oneOf:
          - $ref: '#/components/schemas/ConfidenceInterval'
          nullable: true
    QueryParticipantsObsoleteEndpoint_Output:
      required:
      - items
      type: object
      properties:
        items:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/QueryParticipantsObsoleteEndpoint_OutputItem'
          description: The standings items for the leaderboard.
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    CreateLeaderboardEndpoint_Input:
      required:
      - name
      - instruction
      - showPrompt
      type: object
      properties:
        benchmarkId:
          type: string
          description: If the leaderboard should be added to a preexisting benchmark, the benchmark id.
          nullable: true
        benchmarkName:
          type: string
          description: When no BenchmarkId is provided, the name of the new benchmark to create.
          nullable: true
        benchmarkDescription:
          type: string
          description: "Optional plain-text credit for the people or sources behind the benchmark, applied to\n the new benchmark created via BenchmarkName. Limited to 2000 characters.\n Ignored when an existing BenchmarkId is provided. Leave unset for no\n description."
          nullable: true
        name:
          type: string
          description: The name of the leaderboard.
        instruction:
          type: string
          description: The instruction datapoints will be matched up against.
        showPrompt:
          type: boolean
          description: Indicates if the prompt is shown on the rapids.
        showPromptAsset:
          type: boolean
          description: Whether the prompt asset should be shown on the rapids.
        responseBudget:
          type: integer
          description: Total amount of responses that get collected per run.
          format: int32
          nullable: true
        minResponses:
          type: integer
          description: The minimum amount of responses that need to be collected per comparison.
          format: int32
          nullable: true
        isInversed:
          type: boolean
          description: Whether the results should be inversed, selecting the worse model.
        audienceId:
          type: string
          description: Optional audience id; defaults to the global audience when unset.
          nullable: true
        priority:
          type: integer
          description: "Optional priority override applied to every run's job. Admin-only.\n When unset, runs use the default leaderboard priority."
          format: int32
        weight:
          type: number
          description: "Multiplier applied to every match result of this leaderboard when it contributes to\n the parent benchmark's overall / combined scoreboards. Defaults to 1.0 when\n unset; unbounded (negative and zero values are accepted)."
          format: double
        scoreShift:
          type: number
          description: "Additive offset applied to displayed scores on this leaderboard's per-leaderboard\n scoreboard. Defaults to 0 when unset."
          format: double
        scoreScale:
          type: number
          description: "Multiplicative factor applied to displayed scores (relative to the Bradley-Terry\n center) on this leaderboard's per-leaderboard scoreboard. Defaults to 1.0 when\n unset; must be strictly positive."
          format: double
        isHidden:
          type: boolean
          description: Whether the leaderboard should be created hidden. Admin-only.
        isExcludedFromOverall:
          type: boolean
          description: "Whether the leaderboard is excluded from its benchmark's overall / combined scoreboard.\n When set, the leaderboard becomes an owner-only private experiment: its results do not\n contribute to the overall and it is visible only to its owner and admins. Defaults to\n false when unset."
        voteAggregation:
          allOf:
          - $ref: '#/components/schemas/VoteAggregation'
          description: "How individual votes on a matchup are aggregated into the stored result. AllVotes\n counts every vote as a matchup; MajorityVote collapses each matchup to a single\n win for the majority side (ties split 0.5/0.5). Defaults to AllVotes when unset."
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
            nullable: true
          description: Feature flags applied to every order created by this leaderboard.
    SubmitParticipantEndpoint_Output:
      required:
      - validDatapoints
      - invalidDatapoints
      type: object
      properties:
        validDatapoints:
          type: integer
          description: The number of valid datapoints collected by the participant.
          format: int32
        invalidDatapoints:
          type: integer
          description: The number of invalid datapoints collected by the participant.
          format: int32
    QueryLeaderboardsEndpoint_Output:
      required:
      - id
      - name
      - instruction
      - showPrompt
      - showPromptAsset
      - isInversed
      - responseBudget
      - minResponses
      - audienceId
      - featureFlags
      - weight
      - scoreShift
      - scoreScale
      - isHidden
      - isExcludedFromOverall
      - voteAggregation
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the leaderboard.
        name:
          type: string
          description: The name of the leaderboard.
        instruction:
          type: string
          description: The instruction used when collecting responses.
        showPrompt:
          type: boolean
          description: Whether the prompt is shown on the rapids.
        showPromptAsset:
          type: boolean
          description: Whether the prompt asset is shown on the rapids.
        isInversed:
          type: boolean
          description: Whether the leaderboard results are inversed.
        responseBudget:
          type: integer
          description: The response budget per run.
          format: int32
        minResponses:
          type: integer
          description: The minimum responses collected per comparison.
          format: int32
        audienceId:
          type: string
          description: The id of the audience that evaluates the leaderboard.
        jobDefinitionId:
          type: string
          description: The id of the associated job definition, if any.
          nullable: true
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: Feature flags applied to orders created from this leaderboard.
        weight:
          type: number
          description: "Multiplier applied to every match result from this leaderboard when it contributes to\n the parent benchmark's overall / combined scoreboards."
          format: double
        scoreShift:
          type: number
          description: "Additive offset applied to displayed scores on this leaderboard's per-leaderboard\n scoreboard."
          format: double
        scoreScale:
          type: number
          description: "Multiplicative factor applied to displayed scores (relative to the Bradley-Terry\n center) on this leaderboard's per-leaderboard scoreboard."
          format: double
        isHidden:
          type: boolean
          description: Whether the leaderboard is hidden in listings and reads for non-admins.
        isExcludedFromOverall:
          type: boolean
          description: "Whether the leaderboard is excluded from its benchmark's overall / combined scoreboard,\n making it an owner-only private experiment."
        voteAggregation:
          allOf:
          - $ref: '#/components/schemas/VoteAggregation'
          description: How individual votes on a matchup are aggregated into the stored result.
    UpdateLeaderboardEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name of the leaderboard.
        responseBudget:
          type: integer
          description: The response budget collected when onboarding a new participant.
          format: int32
        minResponses:
          type: integer
          description: The minimum responses collected per matchup.
          format: int32
        priority:
          type: integer
          description: "Priority override applied to every run's job. Admin-only. Pass null to clear\n the override and fall back to the default leaderboard priority."
          format: int32
          nullable: true
        weight:
          type: number
          description: "Multiplier applied to every match result of this leaderboard when it contributes to\n the parent benchmark's overall / combined scoreboards. Unbounded; negative and zero\n values are accepted."
          format: double
        scoreShift:
          type: number
          description: "Additive offset applied to displayed scores on this leaderboard's per-leaderboard\n scoreboard."
          format: double
        scoreScale:
          type: number
          description: "Multiplicative factor applied to displayed scores (relative to the Bradley-Terry\n center) on this leaderboard's per-leaderboard scoreboard. Must be strictly positive."
          format: double
        isHidden:
          type: boolean
          description: Whether the leaderboard is hidden from non-admins in listings and reads. Admin-only.
        isExcludedFromOverall:
          type: boolean
          description: "Whether the leaderboard is excluded from its benchmark's overall / combined scoreboard.\n When set, the leaderboard becomes an owner-only private experiment: its results do not\n contribute to the overall and it is visible only to its owner and admins."
        voteAggregation:
          allOf:
          - $ref: '#/components/schemas/VoteAggregation'
          description: "How individual votes on a matchup are aggregated into the stored result. AllVotes\n counts every vote as a matchup; MajorityVote collapses each matchup to a single\n win for the majority side (ties split 0.5/0.5). Only affects future runs."
    QueryCombinedStandingsByLeaderboardsEndpoint_OutputItem:
      required:
      - id
      - name
      - status
      - score
      - wins
      - totalMatches
      - isDisabled
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        family:
          type: string
          nullable: true
        proprietaryName:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/StandingStatus'
        score:
          type: number
          format: double
          nullable: true
        wins:
          type: number
          format: double
        totalMatches:
          type: number
          format: double
        isDisabled:
          type: boolean
        confidenceInterval:
          type: object
          oneOf:
          - $ref: '#/components/schemas/ConfidenceInterval'
          nullable: true
    CreateLeaderboardParticipantEndpoint_Input:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the participant.
    VoteAggregation:
      enum:
      - AllVotes
      - MajorityVote
    QueryLeaderboardRunsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryLeaderboardRunsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    QueryStandingsByLeaderboardEndpoint_Output:
      required:
      - items
      type: object
      properties:
        items:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/QueryStandingsByLeaderboardEndpoint_OutputItem'
          description: The standings items, ordered by score descending.
      description: The queried standings output.
    UpdateLeaderboardNameEndpoint_Input:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The new name of the leaderboard.
    RunStatus:
      enum:
      - Queued
      - Running
      - Completed
      - Failed
    CreatePromptForLeaderboardEndpoint_Output:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The id of the created prompt.
    GetLeaderboardByIdEndpoint_Output:
      required:
      - id
      - name
      - instruction
      - showPrompt
      - showPromptAsset
      - isInversed
      - responseBudget
      - minResponses
      - audienceId
      - featureFlags
      - weight
      - scoreShift
      - scoreScale
      - isHidden
      - isExcludedFromOverall
      - voteAggregation
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the leaderboard.
        name:
          type: string
          description: The name of the leaderboard.
        instruction:
          type: string
          description: The instruction used when collecting responses.
        showPrompt:
          type: boolean
          description: Whether the prompt is shown on the rapids.
        showPromptAsset:
          type: boolean
          description: Whether the prompt asset is shown on the rapids.
        isInversed:
          type: boolean
          description: Whether the leaderboard results are inversed.
        responseBudget:
          type: integer
          description: The response budget per run.
          format: int32
        minResponses:
          type: integer
          description: The minimum responses collected per comparison.
          format: int32
        audienceId:
          type: string
          description: The id of the audience that evaluates the leaderboard.
        jobDefinitionId:
          type: string
          description: The id of the associated job definition, if any.
          nullable: true
        priority:
          type: integer
          description: "Priority override applied to every run's job. Null when no override is set; runs then\n fall back to the default leaderboard priority."
          format: int32
          nullable: true
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: Feature flags applied to orders created from this leaderboard.
        weight:
          type: number
          description: "Multiplier applied to every match result from this leaderboard when it contributes to\n the parent benchmark's overall / combined scoreboards."
          format: double
        scoreShift:
          type: number
          description: "Additive offset applied to displayed scores on this leaderboard's per-leaderboard\n scoreboard."
          format: double
        scoreScale:
          type: number
          description: "Multiplicative factor applied to displayed scores (relative to the Bradley-Terry\n center) on this leaderboard's per-leaderboard scoreboard."
          format: double
        isHidden:
          type: boolean
          description: Whether the leaderboard is hidden in listings and reads for non-admins.
        isExcludedFromOverall:
          type: boolean
          description: "Whether the leaderboard is excluded from its benchmark's overall / combined scoreboard,\n making it an owner-only private experiment."
        voteAggregation:
          allOf:
          - $ref: '#/components/schemas/VoteAggregation'
          description: How individual votes on a matchup are aggregated into the stored result.
    ConfidenceInterval:
      required:
      - lowerOffset
      - upperOffset
      type: object
      properties:
        lowerOffset:
          type: number
          format: double
        upperOffset:
          type: number
          format: double
    UpdateLeaderboardResponseConfigEndpoint_Input:
      required:
      - responseBudget
      - minResponses
      type: object
      properties:
        responseBudget:
          type: integer
          description: The response budget collected when onboarding a new participant.
          format: int32
        minResponses:
          type: integer
          description: The minimum responses collected per matchup.
          format: int32
    BoostLeaderboardEndpoint_Input:
      required:
      - participants
      - totalResponses
      type: object
      properties:
        participants:
          allOf:
          - type: array
            items:
              type: string
          description: The participants of the given leaderboard that should be boosted.
        totalResponses:
          type: integer
          description: The total responses to add, shared across all participants.
          format: int32
        seed:
          type: integer
          description: "Optional seed for deterministic matchup selection. Use the same value across leaderboards\n of a benchmark to have them boosted on the same image pairs. Omit for random selection."
          format: int64
          nullable: true
    QueryLeaderboardsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryLeaderboardsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    CreateLeaderboardParticipantEndpoint_Output:
      required:
      - participantId
      - datasetId
      type: object
      properties:
        participantId:
          type: string
          description: The id of the created participant.
        datasetId:
          type: string
          description: The id of the participant's dataset.
    QueryParticipantsObsoleteEndpoint_OutputItem:
      required:
      - id
      - name
      - leaderboardId
      - status
      - score
      - wins
      - totalMatches
      - isDisabled
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        leaderboardId:
          type: string
        status:
          $ref: '#/components/schemas/StandingStatus'
        score:
          type: number
          format: double
          nullable: true
        wins:
          type: number
          format: double
        totalMatches:
          type: number
          format: double
        isDisabled:
          type: boolean
        confidenceInterval:
          type: object
          oneOf:
          - $ref: '#/components/schemas/ConfidenceInterval'
          nullable: true
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
