openapi: 3.0.4
info:
  title: Rapidata Asset Rapid API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Rapid
  x-displayName: Rapid
paths:
  /rapid/{rapidId}/navigation:
    get:
      tags:
      - Rapid
      summary: "Gets the anchor rapid and its surrounding rapids within the results slice, in the order\n and filter the results grid renders, so the explorer can step neighbour-to-neighbour."
      description: "Navigation follows the grid's default order (flagged rapids first, then by id) over the\n given correlation slice. Returns 404 when the rapid is not part of the filtered slice."
      parameters:
      - name: rapidId
        in: path
        description: The rapid to anchor navigation on.
        required: true
        schema:
          type: string
      - name: correlationId
        in: query
        description: The correlation id whose result slice to navigate.
        required: true
        schema:
          type: string
      - name: states
        in: query
        description: Optional rapid states to filter by; all states are included when omitted.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RapidStateModel'
      - name: window
        in: query
        description: The maximum number of neighbours to return on each side.
        schema:
          type: integer
          format: int32
          default: 3
      - name: includeNotAccepted
        in: query
        description: When true, not-accepted responses count toward the anchor's sample and aggregation.
        schema:
          type: boolean
          default: false
      - name: includeOverflow
        in: query
        description: When true, overflow responses count toward the anchor's sample and aggregation.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRapidNavigationEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /rapid/compare-ab-summary/{correlationId}/recalculate:
    post:
      tags:
      - Rapid
      summary: Recalculates the compare AB summary counters of a correlation from scratch.
      description: "Admin-only verification/repair tool. The counters are normally maintained by rapid\n completion and rejection events; this overwrites them with freshly aggregated values."
      parameters:
      - name: correlationId
        in: path
        description: The correlation (workflow) id to recalculate.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /rapid/{rapidId}/reject:
    post:
      tags:
      - Rapid
      summary: Rejects a completed rapid, marking its results as invalid.
      description: The rapid must be in the Done state. Rejection propagates staleness to dependent entities.
      parameters:
      - name: rapidId
        in: path
        description: The identifier of the rapid to reject.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    IRapidPayloadModelComparePayloadModel:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - ComparePayload
          type: string
        criteria:
          type: string
    IRapidResultModelAttachCategoryResultModel:
      required:
      - rapidId
      - category
      - _t
      properties:
        _t:
          enum:
          - AttachCategoryResult
          type: string
        rapidId:
          type: string
        category:
          type: string
    PolygonResultModel_Shape:
      required:
      - edges
      type: object
      properties:
        edges:
          type: array
          items:
            $ref: '#/components/schemas/PolygonResultModel_Coordinate'
    MetadataModelCollection:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IMetadataModel'
    TranscriptionResultModel_TranscriptionWord:
      required:
      - word
      - wordIndex
      type: object
      properties:
        word:
          type: string
        wordIndex:
          type: integer
          format: int32
    IMetadataModelClassificationMetadataModel:
      required:
      - classification
      - _t
      properties:
        _t:
          enum:
          - ClassificationMetadata
          type: string
        classification:
          type: string
    IRapidResultModelSkipResultModel:
      required:
      - rapidId
      - _t
      properties:
        _t:
          enum:
          - SkipResult
          type: string
        rapidId:
          type: string
    IRapidPayloadModelLocatePayloadModel:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LocatePayload
          type: string
        target:
          type: string
    IRapidPayloadModelNamedEntityPayloadModel:
      required:
      - target
      - classes
      - _t
      properties:
        _t:
          enum:
          - NamedEntityPayload
          type: string
        target:
          type: string
        classes:
          type: array
          items:
            type: string
    IMetadataModelTextMetadataModel:
      required:
      - text
      - _t
      properties:
        _t:
          enum:
          - TextMetadata
          type: string
        text:
          type: string
          nullable: true
    IAssetModelNullAssetModel:
      required:
      - metadata
      - identifier
      - _t
      properties:
        _t:
          enum:
          - NullAsset
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataModelCollection'
        identifier:
          type: string
    IRapidResultModelFreeTextResultModel:
      required:
      - rapidId
      - answer
      - _t
      properties:
        _t:
          enum:
          - FreeTextResult
          type: string
        rapidId:
          type: string
        answer:
          type: string
    IMetadataModelFileTypeMetadataModel:
      required:
      - fileType
      - _t
      properties:
        _t:
          enum:
          - FileTypeMetadata
          type: string
        fileType:
          $ref: '#/components/schemas/FileType'
    IMetadataModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataModelClassificationMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelCountMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelFileTypeMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelImageDimensionMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelLocationMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelOriginalFilenameMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelSourceUrlMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelStreamsMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelTextMetadataModel'
      - $ref: '#/components/schemas/IMetadataModelVideoDurationMetadataModel'
      discriminator:
        propertyName: _t
        mapping:
          ClassificationMetadata: '#/components/schemas/IMetadataModelClassificationMetadataModel'
          CountMetadata: '#/components/schemas/IMetadataModelCountMetadataModel'
          FileTypeMetadata: '#/components/schemas/IMetadataModelFileTypeMetadataModel'
          ImageDimensionMetadata: '#/components/schemas/IMetadataModelImageDimensionMetadataModel'
          LocationMetadata: '#/components/schemas/IMetadataModelLocationMetadataModel'
          OriginalFilenameMetadata: '#/components/schemas/IMetadataModelOriginalFilenameMetadataModel'
          SourceUrlMetadataModel: '#/components/schemas/IMetadataModelSourceUrlMetadataModel'
          StreamsMetadata: '#/components/schemas/IMetadataModelStreamsMetadataModel'
          TextMetadata: '#/components/schemas/IMetadataModelTextMetadataModel'
          VideoDurationMetadata: '#/components/schemas/IMetadataModelVideoDurationMetadataModel'
    IAssetModelMultiAssetModel:
      required:
      - assets
      - metadata
      - identifier
      - _t
      properties:
        _t:
          enum:
          - MultiAsset
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/IAssetModel'
        metadata:
          $ref: '#/components/schemas/MetadataModelCollection'
        identifier:
          type: string
    IRapidResultModelBoundingBoxResultModel:
      required:
      - rapidId
      - boundingBoxes
      - _t
      properties:
        _t:
          enum:
          - BoundingBoxResult
          type: string
        rapidId:
          type: string
        boundingBoxes:
          type: array
          items:
            $ref: '#/components/schemas/BoundingBoxResultModel_Box'
    RapidStateModel:
      enum:
      - Labeling
      - Paused
      - Incomplete
      - Flagged
      - Done
      - None
      - Rejected
    IMetadataModelSourceUrlMetadataModel:
      required:
      - url
      - _t
      properties:
        _t:
          enum:
          - SourceUrlMetadataModel
          type: string
        url:
          type: string
    IMetadataModelVideoDurationMetadataModel:
      required:
      - duration
      - _t
      properties:
        _t:
          enum:
          - VideoDurationMetadata
          type: string
        duration:
          type: string
          format: date-time
    GetRapidNavigationEndpoint_Card:
      required:
      - rapidId
      - asset
      - state
      - payload
      - responses
      - totalResponseCount
      type: object
      properties:
        rapidId:
          type: string
        asset:
          $ref: '#/components/schemas/IAssetModel'
        state:
          $ref: '#/components/schemas/RapidStateModel'
        payload:
          $ref: '#/components/schemas/IRapidPayloadModel'
        responses:
          type: array
          items:
            $ref: '#/components/schemas/GetRapidNavigationEndpoint_Card_Response'
        totalResponseCount:
          type: integer
          format: int64
        context:
          type: string
          nullable: true
        contextAsset:
          type: object
          oneOf:
          - $ref: '#/components/schemas/IAssetModel'
          nullable: true
        decisiveness:
          type: number
          format: double
          nullable: true
        aggregation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/IResponseAggregationModel'
          nullable: true
    IMetadataModelStreamsMetadataModel:
      required:
      - hasVideo
      - hasAudio
      - hasSubtitles
      - _t
      properties:
        _t:
          enum:
          - StreamsMetadata
          type: string
        hasVideo:
          type: boolean
        hasAudio:
          type: boolean
        hasSubtitles:
          type: boolean
    LineResultModel_LinePoint:
      required:
      - x
      - y
      type: object
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
    LocateCoordinateModel:
      required:
      - x
      - y
      type: object
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
    PolygonResultModel_Coordinate:
      required:
      - x
      - y
      type: object
      properties:
        x:
          type: number
          format: double
          nullable: true
        y:
          type: number
          format: double
          nullable: true
    IRapidPayloadModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRapidPayloadModelBoundingBoxPayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelClassifyPayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelComparePayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelFreeTextPayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelLinePayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelLocatePayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelNamedEntityPayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelPolygonPayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelScrubPayloadModel'
      - $ref: '#/components/schemas/IRapidPayloadModelTranscriptionPayloadModel'
      discriminator:
        propertyName: _t
        mapping:
          BoundingBoxPayload: '#/components/schemas/IRapidPayloadModelBoundingBoxPayloadModel'
          ClassifyPayload: '#/components/schemas/IRapidPayloadModelClassifyPayloadModel'
          ComparePayload: '#/components/schemas/IRapidPayloadModelComparePayloadModel'
          FreeTextPayload: '#/components/schemas/IRapidPayloadModelFreeTextPayloadModel'
          LinePayload: '#/components/schemas/IRapidPayloadModelLinePayloadModel'
          LocatePayload: '#/components/schemas/IRapidPayloadModelLocatePayloadModel'
          NamedEntityPayload: '#/components/schemas/IRapidPayloadModelNamedEntityPayloadModel'
          PolygonPayload: '#/components/schemas/IRapidPayloadModelPolygonPayloadModel'
          ScrubPayload: '#/components/schemas/IRapidPayloadModelScrubPayloadModel'
          TranscriptionPayload: '#/components/schemas/IRapidPayloadModelTranscriptionPayloadModel'
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    TranscriptionPayloadModel_TranscriptionWord:
      required:
      - word
      - wordIndex
      type: object
      properties:
        word:
          type: string
        wordIndex:
          type: integer
          format: int32
    ResponseTallyModel:
      required:
      - count
      - userScoreSum
      type: object
      properties:
        count:
          type: integer
          format: int64
        userScoreSum:
          type: number
          format: double
    IResponseAggregationModelCompareAggregationModel:
      required:
      - winnerTallies
      - _t
      properties:
        _t:
          enum:
          - CompareAggregation
          type: string
        winnerTallies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ResponseTallyModel'
    IAssetModelTextAssetModel:
      required:
      - text
      - metadata
      - identifier
      - _t
      properties:
        _t:
          enum:
          - TextAsset
          type: string
        text:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataModelCollection'
        identifier:
          type: string
    IRapidPayloadModelScrubPayloadModel:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - ScrubPayload
          type: string
        target:
          type: string
    GetRapidNavigationEndpoint_Output:
      required:
      - current
      - previous
      - next
      - index
      - total
      type: object
      properties:
        current:
          allOf:
          - $ref: '#/components/schemas/GetRapidNavigationEndpoint_Card'
          description: The anchor rapid, carrying the same fields a results-grid card renders.
        previous:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetRapidNavigationEndpoint_Item'
          description: "The rapids preceding the anchor in grid order, at most window entries,\n ordered ascending with the neighbour adjacent to the anchor last."
        next:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetRapidNavigationEndpoint_Item'
          description: "The rapids following the anchor in grid order, at most window entries,\n in ascending order."
        index:
          type: integer
          description: The 1-based position of the anchor within the filtered slice.
          format: int64
        total:
          type: integer
          description: The total number of rapids in the filtered slice.
          format: int64
    IRapidResultModelPolygonResultModel:
      required:
      - rapidId
      - shapes
      - _t
      properties:
        _t:
          enum:
          - PolygonResult
          type: string
        rapidId:
          type: string
        shapes:
          type: array
          items:
            $ref: '#/components/schemas/PolygonResultModel_Shape'
    GetRapidNavigationEndpoint_Card_Response:
      required:
      - id
      - userId
      - country
      - language
      - result
      - userScore
      - userScores
      - demographicInformation
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        country:
          type: string
        language:
          type: string
        result:
          $ref: '#/components/schemas/IRapidResultModel'
        userScore:
          type: number
          format: double
        userScores:
          type: object
          additionalProperties:
            type: number
            format: double
        demographicInformation:
          type: object
          additionalProperties:
            type: string
    IRapidResultModelTranscriptionResultModel:
      required:
      - rapidId
      - selectedWords
      - _t
      properties:
        _t:
          enum:
          - TranscriptionResult
          type: string
        rapidId:
          type: string
        selectedWords:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptionResultModel_TranscriptionWord'
    ClassifyPayloadModel_Category:
      required:
      - label
      type: object
      properties:
        label:
          type: string
        value:
          type: string
          nullable: true
    IMetadataModelOriginalFilenameMetadataModel:
      required:
      - originalFilename
      - _t
      properties:
        _t:
          enum:
          - OriginalFilenameMetadata
          type: string
        originalFilename:
          type: string
    IAssetModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAssetModelFileAssetModel'
      - $ref: '#/components/schemas/IAssetModelMultiAssetModel'
      - $ref: '#/components/schemas/IAssetModelNullAssetModel'
      - $ref: '#/components/schemas/IAssetModelTextAssetModel'
      discriminator:
        propertyName: _t
        mapping:
          FileAsset: '#/components/schemas/IAssetModelFileAssetModel'
          MultiAsset: '#/components/schemas/IAssetModelMultiAssetModel'
          NullAsset: '#/components/schemas/IAssetModelNullAssetModel'
          TextAsset: '#/components/schemas/IAssetModelTextAssetModel'
    IRapidPayloadModelPolygonPayloadModel:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - PolygonPayload
          type: string
        target:
          type: string
    GetRapidNavigationEndpoint_Item:
      required:
      - rapidId
      - asset
      - state
      type: object
      properties:
        rapidId:
          type: string
        asset:
          $ref: '#/components/schemas/IAssetModel'
        state:
          $ref: '#/components/schemas/RapidStateModel'
    IRapidResultModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRapidResultModelAttachCategoryResultModel'
      - $ref: '#/components/schemas/IRapidResultModelBoundingBoxResultModel'
      - $ref: '#/components/schemas/IRapidResultModelCompareResultModel'
      - $ref: '#/components/schemas/IRapidResultModelFreeTextResultModel'
      - $ref: '#/components/schemas/IRapidResultModelLineResultModel'
      - $ref: '#/components/schemas/IRapidResultModelLocateResultModel'
      - $ref: '#/components/schemas/IRapidResultModelNamedEntityResultModel'
      - $ref: '#/components/schemas/IRapidResultModelPolygonResultModel'
      - $ref: '#/components/schemas/IRapidResultModelScrubResultModel'
      - $ref: '#/components/schemas/IRapidResultModelSkipResultModel'
      - $ref: '#/components/schemas/IRapidResultModelTranscriptionResultModel'
      discriminator:
        propertyName: _t
        mapping:
          AttachCategoryResult: '#/components/schemas/IRapidResultModelAttachCategoryResultModel'
          BoundingBoxResult: '#/components/schemas/IRapidResultModelBoundingBoxResultModel'
          CompareResult: '#/components/schemas/IRapidResultModelCompareResultModel'
          FreeTextResult: '#/components/schemas/IRapidResultModelFreeTextResultModel'
          LineResult: '#/components/schemas/IRapidResultModelLineResultModel'
          LocateResult: '#/components/schemas/IRapidResultModelLocateResultModel'
          NamedEntityResult: '#/components/schemas/IRapidResultModelNamedEntityResultModel'
          PolygonResult: '#/components/schemas/IRapidResultModelPolygonResultModel'
          ScrubResult: '#/components/schemas/IRapidResultModelScrubResultModel'
          SkipResult: '#/components/schemas/IRapidResultModelSkipResultModel'
          TranscriptionResult: '#/components/schemas/IRapidResultModelTranscriptionResultModel'
    BoundingBoxResultModel_Box:
      type: object
      properties:
        xMin:
          type: number
          format: double
          nullable: true
        yMin:
          type: number
          format: double
          nullable: true
        xMax:
          type: number
          format: double
          nullable: true
        yMax:
          type: number
          format: double
          nullable: true
    FileType:
      enum:
      - Unknown
      - Image
      - Video
      - Audio
    IRapidPayloadModelTranscriptionPayloadModel:
      required:
      - title
      - transcription
      - _t
      properties:
        _t:
          enum:
          - TranscriptionPayload
          type: string
        title:
          type: string
        transcription:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptionPayloadModel_TranscriptionWord'
    LineResultModel_Line:
      required:
      - size
      - points
      type: object
      properties:
        size:
          type: number
          format: double
        points:
          type: array
          items:
            $ref: '#/components/schemas/LineResultModel_LinePoint'
    IRapidPayloadModelClassifyPayloadModel:
      required:
      - categories
      - title
      - _t
      properties:
        _t:
          enum:
          - ClassifyPayload
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/ClassifyPayloadModel_Category'
        title:
          type: string
    IRapidResultModelLocateResultModel:
      required:
      - rapidId
      - coordinates
      - _t
      properties:
        _t:
          enum:
          - LocateResult
          type: string
        rapidId:
          type: string
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/LocateCoordinateModel'
    IRapidResultModelNamedEntityResultModel:
      required:
      - rapidId
      - classifications
      - _t
      properties:
        _t:
          enum:
          - NamedEntityResult
          type: string
        rapidId:
          type: string
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/NamedEntityResultModel_NamedClassification'
    IRapidPayloadModelBoundingBoxPayloadModel:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - BoundingBoxPayload
          type: string
        target:
          type: string
    IMetadataModelImageDimensionMetadataModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - ImageDimensionMetadata
          type: string
        height:
          type: integer
          format: int32
        width:
          type: integer
          format: int32
    IResponseAggregationModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IResponseAggregationModelClassifyAggregationModel'
      - $ref: '#/components/schemas/IResponseAggregationModelCompareAggregationModel'
      discriminator:
        propertyName: _t
        mapping:
          ClassifyAggregation: '#/components/schemas/IResponseAggregationModelClassifyAggregationModel'
          CompareAggregation: '#/components/schemas/IResponseAggregationModelCompareAggregationModel'
    IRapidPayloadModelFreeTextPayloadModel:
      required:
      - question
      - _t
      properties:
        _t:
          enum:
          - FreeTextPayload
          type: string
        question:
          type: string
        shouldValidateResponse:
          type: boolean
        validationSystemPrompt:
          type: string
          nullable: true
    IMetadataModelCountMetadataModel:
      required:
      - count
      - _t
      properties:
        _t:
          enum:
          - CountMetadata
          type: string
        count:
          type: integer
          format: int32
    IMetadataModelLocationMetadataModel:
      required:
      - x
      - y
      - _t
      properties:
        _t:
          enum:
          - LocationMetadata
          type: string
        x:
          type: number
          format: float
        y:
          type: number
          format: float
    IRapidResultModelLineResultModel:
      required:
      - rapidId
      - lines
      - _t
      properties:
        _t:
          enum:
          - LineResult
          type: string
        rapidId:
          type: string
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LineResultModel_Line'
    NamedEntityResultModel_NamedClassification:
      required:
      - start
      - end
      - classification
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        classification:
          type: string
    IRapidResultModelScrubResultModel:
      required:
      - rapidId
      - timestamps
      - _t
      properties:
        _t:
          enum:
          - ScrubResult
          type: string
        rapidId:
          type: string
        timestamps:
          type: array
          items:
            type: integer
            format: int32
    IResponseAggregationModelClassifyAggregationModel:
      required:
      - categoryTallies
      - _t
      properties:
        _t:
          enum:
          - ClassifyAggregation
          type: string
        categoryTallies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ResponseTallyModel'
    IRapidResultModelCompareResultModel:
      required:
      - rapidId
      - _t
      properties:
        _t:
          enum:
          - CompareResult
          type: string
        rapidId:
          type: string
        winners:
          type: array
          items:
            type: string
    IAssetModelFileAssetModel:
      required:
      - fileName
      - metadata
      - identifier
      - _t
      properties:
        _t:
          enum:
          - FileAsset
          type: string
        fileName:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataModelCollection'
        identifier:
          type: string
    IRapidPayloadModelLinePayloadModel:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LinePayload
          type: string
        target:
          type: string
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
