openapi: 3.0.4
info:
  title: Rapidata Asset Cache API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Cache
  x-displayName: Cache
paths:
  /campaign/cache/campaigns:
    get:
      tags:
      - Cache
      summary: Returns the current state of the in-memory campaign cache.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignCacheEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/cache/user-scores:
    get:
      tags:
      - Cache
      summary: Returns the current state of the in-memory default user score cache.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserScoreCacheEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    GetCampaignCacheEndpoint_Output:
      required:
      - count
      - campaigns
      type: object
      properties:
        count:
          type: integer
          description: The total number of cached campaigns.
          format: int32
        campaigns:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetCampaignCacheEndpoint_CampaignEntry'
          description: The list of cached campaign summaries.
    CampaignStatusModel:
      enum:
      - Created
      - Preview
      - Active
      - Analysis
      - Paused
      - Completed
      - SpendLimited
    GetUserScoreCacheEndpoint_Output:
      required:
      - count
      - scores
      type: object
      properties:
        count:
          type: integer
          description: The total number of cached user scores.
          format: int32
        scores:
          allOf:
          - type: object
            additionalProperties:
              type: number
              format: double
          description: The cached dimension-to-score mappings.
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    BoostingControlMode:
      enum:
      - Manual
      - Automatic
    GetCampaignCacheEndpoint_CampaignEntry:
      required:
      - id
      - name
      - status
      - priority
      - filterCount
      - selectionCount
      - userScoreDimensionCount
      - featureFlagCount
      - rateLimitCount
      - isPreviewEnabled
      - boostingControlMode
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          $ref: '#/components/schemas/CampaignStatusModel'
        priority:
          type: integer
          format: int32
        filterCount:
          type: integer
          format: int32
        selectionCount:
          type: integer
          format: int32
        userScoreDimensionCount:
          type: integer
          format: int32
        featureFlagCount:
          type: integer
          format: int32
        rateLimitCount:
          type: integer
          format: int32
        isPreviewEnabled:
          type: boolean
        boostingControlMode:
          $ref: '#/components/schemas/BoostingControlMode'
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
