openapi: 3.2.0
info:
  title: Rapidata Job API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Job
  x-displayName: Job
paths:
  /job/{jobId}/approve:
    post:
      tags:
      - Job
      summary: Approves a job in manual review so its pipeline can start processing
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to approve.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJobByJobIdApprove
      x-operation-id-source: derived
  /job/definition:
    post:
      tags:
      - Job
      summary: Creates a new job definition
      description: A preview pipeline is automatically created and returned in the response.
      requestBody:
        description: The job definition parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobDefinitionEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobDefinitionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJobDefinition
      x-operation-id-source: derived
  /job:
    post:
      tags:
      - Job
      summary: Creates a new job from a job definition and audience
      description: 'If the audience is not already recruiting, recruiting is started automatically.

        The RecruitingStarted field indicates whether this happened.'
      requestBody:
        description: The job creation parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJob
      x-operation-id-source: derived
  /job/definition/{definitionId}/revision:
    post:
      tags:
      - Job
      summary: Creates a new revision for an existing job definition
      description: 'Unspecified fields are inherited from the previous revision. Workflow and Referee must be

        provided together if either is specified.'
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to create a revision for.
        required: true
        schema:
          type: string
      requestBody:
        description: The revision parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRevisionEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobRevisionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJobDefinitionByDefinitionIdRevision
      x-operation-id-source: derived
    get:
      tags:
      - Job
      summary: Gets the latest revision for a job definition
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobRevisionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitionByDefinitionIdRevision
      x-operation-id-source: derived
  /job/definition/{definitionId}:
    delete:
      tags:
      - Job
      summary: Deletes a job definition and all its revisions
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: deleteJobDefinitionByDefinitionId
      x-operation-id-source: derived
    get:
      tags:
      - Job
      summary: Gets a job definition by its id
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobDefinitionByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitionByDefinitionId
      x-operation-id-source: derived
    patch:
      tags:
      - Job
      summary: Updates a job definition
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobDefinitionEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchJobDefinitionByDefinitionId
      x-operation-id-source: derived
  /job/{jobId}:
    delete:
      tags:
      - Job
      summary: Deletes a job
      parameters:
      - name: jobId
        in: path
        description: The id of the job to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: deleteJobByJobId
      x-operation-id-source: derived
    get:
      tags:
      - Job
      summary: Gets a job by its id
      parameters:
      - name: jobId
        in: path
        description: The id of the job to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobByJobId
      x-operation-id-source: derived
    patch:
      tags:
      - Job
      summary: Updates a job
      parameters:
      - name: jobId
        in: path
        description: The id of the job to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchJobByJobId
      x-operation-id-source: derived
  /job/{jobId}/download-results:
    get:
      tags:
      - Job
      summary: Downloads the results of a job as a file attachment
      parameters:
      - name: jobId
        in: path
        description: The id of the job to download results for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobByJobIdDownloadResults
      x-operation-id-source: derived
  /job/{jobId}/cost-estimate:
    get:
      tags:
      - Job
      summary: Estimates the cost of running a job to completion
      description: 'The estimate multiplies a representative per-response cost sampled from the job''s rapids by

        the total number of responses its referee requires. Returns 409 while the estimate is not

        yet available because the job has no rapids, or when the referee is unbounded.'
      parameters:
      - name: jobId
        in: path
        description: The id of the job to estimate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobCostEstimateEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobByJobIdCostEstimate
      x-operation-id-source: derived
  /job/definition/{definitionId}/cost-estimate:
    get:
      tags:
      - Job
      summary: Estimates the cost of running a job definition's latest revision to completion
      description: 'The estimate multiplies a representative per-response cost sampled from the definition''s

        rapids by the total number of responses its referee requires. Returns 409 while the estimate

        is not yet available because no rapids exist, or when the referee is unbounded.'
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to estimate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobDefinitionCostEstimateEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitionByDefinitionIdCostEstimate
      x-operation-id-source: derived
  /job/{jobId}/results:
    get:
      tags:
      - Job
      summary: Gets the results of a job as a JSON string
      description: For file download, use the download-results endpoint instead.
      parameters:
      - name: jobId
        in: path
        description: The id of the job to get results for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobByJobIdResults
      x-operation-id-source: derived
  /job/definition/{definitionId}/revision/{revisionNumber}:
    get:
      tags:
      - Job
      summary: Gets a specific revision for a job definition
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition.
        required: true
        schema:
          type: string
      - name: revisionNumber
        in: path
        description: The revision number to retrieve.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobRevisionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitionByDefinitionIdRevisionByRevisionNumber
      x-operation-id-source: derived
  /job/{jobId}/pause:
    post:
      tags:
      - Job
      summary: Pauses a job, stopping all of its campaigns from processing
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to pause.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJobByJobIdPause
      x-operation-id-source: derived
  /jobs/aggregated-overview:
    get:
      tags:
      - Job
      summary: Retrieves jobs aggregated by customer with total counts and most recent job…
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - amount
            - -amount
            - last7_days
            - -last7_days
            - last_job_date
            - -last_job_date
            - owner_mail
            - -owner_mail
            type: string
        x-parameter-group: sort
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: last_job_date
        in: query
        description: Filter by last_job_date.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: last_job_name
        in: query
        description: Filter by last_job_name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAggregatedJobsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobsAggregatedOverview
      x-operation-id-source: derived
  /job/definitions:
    get:
      tags:
      - Job
      summary: Queries job definitions visible to the caller
      description: Results are scoped to the caller's customer unless the caller is allowed to view all job definitions.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: definition_id
        in: query
        description: Filter by definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: definition_type
        in: query
        description: Filter by definition_type.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_id
        in: query
        description: Filter by owner_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobDefinitionsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitions
      x-operation-id-source: derived
  /job/definition/{definitionId}/revisions:
    get:
      tags:
      - Job
      summary: Queries the revisions of a specific job definition
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - revision_number
            - -revision_number
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: revision_number
        in: query
        description: Filter by revision_number.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: state
        in: query
        description: Filter by state.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobRevisionsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitionByDefinitionIdRevisions
      x-operation-id-source: derived
  /jobs:
    get:
      tags:
      - Job
      summary: Queries jobs visible to the caller
      description: Results are scoped to the caller's customer unless the caller is allowed to view all jobs.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - state
            - -state
            - owner_mail
            - -owner_mail
            - progress
            - -progress
            type: string
        x-parameter-group: sort
      - name: id
        in: query
        description: Filter by id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: job_definition_id
        in: query
        description: Filter by job_definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: audience_id
        in: query
        description: Filter by audience_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: state
        in: query
        description: Filter by state.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobs
      x-operation-id-source: derived
  /job/definitions/public:
    get:
      tags:
      - Job
      summary: Queries job definitions that have been shared publicly, regardless of owner, so…
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: definition_id
        in: query
        description: Filter by definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: definition_type
        in: query
        description: Filter by definition_type.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_id
        in: query
        description: Filter by owner_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPublicJobDefinitionsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getJobDefinitionsPublic
      x-operation-id-source: derived
  /job/{jobId}/resume:
    post:
      tags:
      - Job
      summary: Resumes a job, restarting all of its campaigns
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to resume.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJobByJobIdResume
      x-operation-id-source: derived
  /job/{jobId}/retry:
    post:
      tags:
      - Job
      summary: Retries processing of a failed job
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to retry.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postJobByJobIdRetry
      x-operation-id-source: derived
  /job/definition/{definitionId}/share:
    patch:
      tags:
      - Job
      summary: Marks or unmarks a job definition as a public template that other users can…
      parameters:
      - name: definitionId
        in: path
        description: The ID of the job definition.
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        description: Whether to mark or unmark the definition as public.
        schema:
          type: boolean
          default: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchJobDefinitionByDefinitionIdShare
      x-operation-id-source: derived
  /job/{jobId}/share:
    patch:
      tags:
      - Job
      summary: Marks or unmarks a job as public so its results can be shared with other users
      parameters:
      - name: jobId
        in: path
        description: The ID of the job.
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        description: Whether to mark or unmark the job as public.
        schema:
          type: boolean
          default: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: patchJobByJobIdShare
      x-operation-id-source: derived
components:
  schemas:
    IRankingConfigModelEloConfigModel:
      required:
      - startingScore
      - kFactor
      - scalingFactor
      - _t
      properties:
        _t:
          enum:
          - EloConfig
          type: string
        startingScore:
          type: integer
          format: int32
        kFactor:
          type: integer
          format: int32
        scalingFactor:
          type: integer
          format: int32
    IPairMakerConfigModelFullPermutationPairMakerConfigModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - FullPermutationPairMaker
          type: string
    QueryPublicJobDefinitionsEndpoint_Output:
      required:
      - definitionId
      - name
      - definitionType
      - createdAt
      - revisionCount
      - ownerId
      - ownerMail
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the job definition.
        name:
          type: string
          description: The name of the job definition.
        definitionType:
          allOf:
          - $ref: '#/components/schemas/DefinitionType'
          description: The type of the job definition.
        createdAt:
          type: string
          description: The creation timestamp of the job definition.
          format: date-time
        revisionCount:
          type: integer
          description: The number of revisions for this job definition.
          format: int32
        ownerId:
          type: string
          description: The id of the owner of the job definition.
          format: uuid
        ownerMail:
          type: string
          description: The email of the owner of the job definition.
    CreateJobDefinitionEndpoint_Input:
      required:
      - definitionName
      - workflow
      - referee
      - datasetId
      type: object
      properties:
        definitionName:
          type: string
          description: The name of the definition.
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: The workflow configuration.
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: The referee configuration.
        datasetId:
          type: string
          description: The dataset id.
        rapidFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags that apply to each rapid created by this definition.
        campaignFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags that apply to the campaign (session-wide) for this definition.
        aggregatorType:
          allOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator type.
      description: The input for the create job definition endpoint.
    UpdateJobDefinitionEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name for the job definition.
      description: The input for the update job definition endpoint.
    IRapidBlueprint:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
      discriminator:
        propertyName: _t
        mapping:
          ClassifyBlueprint: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
          BoundingBoxBlueprint: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
          CompareBlueprint: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
          FreeTextBlueprint: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
          LineBlueprint: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
          LocateBlueprint: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
          NamedEntityBlueprint: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
          PolygonBlueprint: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
          ScrubBlueprint: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
          TranscriptionBlueprint: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
    IRefereeModelNaiveRefereeModel:
      required:
      - totalVotes
      - _t
      properties:
        _t:
          enum:
          - NaiveReferee
          type: string
        totalVotes:
          type: integer
          format: int32
    IPairMakerConfigModelOnlinePairMakerConfigModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - OnlinePairMaker
          type: string
        randomMatchesRatio:
          type: number
          format: float
        totalComparisonBudget:
          type: integer
          format: int32
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    IRapidBlueprintScrubRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - ScrubBlueprint
          type: string
        target:
          type: string
    IRefereeModelQuorumRefereeModel:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - QuorumReferee
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: integer
          format: int32
    IRapidBlueprintNamedEntityRapidBlueprint:
      required:
      - target
      - classes
      - _t
      properties:
        _t:
          enum:
          - NamedEntityBlueprint
          type: string
        target:
          type: string
        classes:
          type: array
          items:
            type: string
    IRankingConfigModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel'
      - $ref: '#/components/schemas/IRankingConfigModelEloConfigModel'
      discriminator:
        propertyName: _t
        mapping:
          BradleyTerryRankingConfig: '#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel'
          EloConfig: '#/components/schemas/IRankingConfigModelEloConfigModel'
    GetJobCostEstimateEndpoint_Output:
      required:
      - estimatedCost
      - costPerResponse
      - datapointCount
      - requiredResponses
      type: object
      properties:
        estimatedCost:
          type: number
          description: The estimated total cost of running the job to completion.
          format: double
        costPerResponse:
          type: number
          description: The representative per-response cost the estimate is based on.
          format: double
        datapointCount:
          type: integer
          description: The number of datapoints in the job's dataset.
          format: int64
        requiredResponses:
          type: integer
          description: The total number of responses the job's referee requires to complete.
          format: int64
      description: The estimated cost of a job.
    IRapidBlueprintBoundingBoxRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - BoundingBoxBlueprint
          type: string
        target:
          type: string
    IRapidBlueprintCompareRapidBlueprint:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - CompareBlueprint
          type: string
        criteria:
          type: string
        indexIdentifiers:
          type:
          - array
          - 'null'
          items:
            type: string
    IRankingConfigModelBradleyTerryRankingConfigModel:
      required:
      - startingScore
      - _t
      properties:
        _t:
          enum:
          - BradleyTerryRankingConfig
          type: string
        startingScore:
          type: integer
          format: int32
    IRapidBlueprintLocateRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LocateBlueprint
          type: string
        target:
          type: string
    IRefereeModelBudgetRefereeModel:
      required:
      - totalBudget
      - _t
      properties:
        _t:
          enum:
          - BudgetReferee
          type: string
        totalBudget:
          type: integer
          format: int32
    IRefereeModelEarlyStoppingRefereeModel:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - EarlyStoppingReferee
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: number
          format: double
    QueryAggregatedJobsEndpoint_Output:
      required:
      - amount
      - last7Days
      - lastJobDate
      - lastJobName
      - lastJobId
      - ownerMail
      type: object
      properties:
        amount:
          type: integer
          description: The total number of jobs for this customer.
          format: int32
        last7Days:
          type: integer
          description: The number of jobs created in the last 7 days.
          format: int32
        lastJobDate:
          type: string
          description: The date of the most recent job.
          format: date-time
        lastJobName:
          type: string
          description: The name of the most recent job.
        lastJobId:
          type: string
          description: The ID of the most recent job.
        ownerMail:
          type: string
          description: The customer's email address.
    IRapidBlueprintAttachCategoryRapidBlueprint:
      required:
      - categories
      - title
      - _t
      properties:
        _t:
          enum:
          - ClassifyBlueprint
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/AttachCategoryRapidBlueprint_Category'
        possibleCategories:
          type:
          - array
          - 'null'
          items:
            type: string
        title:
          type: string
    CreateJobEndpoint_Output:
      required:
      - jobId
      - recruitingStarted
      type: object
      properties:
        jobId:
          type: string
          description: The id of the created job.
        recruitingStarted:
          type: boolean
          description: Whether recruiting was automatically started for the audience.
        costWarning:
          allOf:
          - $ref: '#/components/schemas/CreateJobEndpoint_CostWarningModel'
          description: "Present only when the job's estimated cost exceeds the owner's remaining balance.\n Advisory — the job is created and runs regardless; it may pause for funds mid-run."
      description: The result when a job has been created.
    IRapidBlueprintLineRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LineBlueprint
          type: string
        target:
          type: string
    IMetadataInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataInputTextMetadataInput'
      discriminator:
        propertyName: _t
        mapping:
          TextMetadataInput: '#/components/schemas/IMetadataInputTextMetadataInput'
    IAssetInputMultiAssetInput:
      required:
      - assets
      - _t
      properties:
        _t:
          enum:
          - MultiAssetInput
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/IAssetInput'
        metadata:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
        identifier:
          type:
          - string
          - 'null'
    QueryJobRevisionsEndpoint_Output:
      required:
      - definitionId
      - revisionNumber
      - createdAt
      - state
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the job definition this revision belongs to.
        revisionNumber:
          type: integer
          description: The revision number.
          format: int32
        createdAt:
          type: string
          description: The timestamp when this revision was created.
          format: date-time
        state:
          allOf:
          - $ref: '#/components/schemas/JobDefinitionRevisionState'
          description: The current state of the revision.
    IPairMakerConfigModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPairMakerConfigModelFullPermutationPairMakerConfigModel'
      - $ref: '#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel'
      discriminator:
        propertyName: _t
        mapping:
          FullPermutationPairMaker: '#/components/schemas/IPairMakerConfigModelFullPermutationPairMakerConfigModel'
          OnlinePairMaker: '#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel'
    IAssetInputTextAssetInput:
      required:
      - text
      - _t
      properties:
        _t:
          enum:
          - TextAssetInput
          type: string
        text:
          type: string
        metadata:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
        identifier:
          type:
          - string
          - 'null'
    QueryPublicJobDefinitionsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryPublicJobDefinitionsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    CreateJobEndpoint_CostWarningModel:
      required:
      - estimatedCost
      - availableBalance
      - shortfall
      type: object
      properties:
        estimatedCost:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        shortfall:
          type: number
          format: double
    ReviewReasonModel:
      enum:
      - ContentFlagged
      - UnsupportedContentType
      - CheckErrored
      - ClassificationTimedOut
      - null
    MetadataInputCollection:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IMetadataInput'
    QueryJobDefinitionsEndpoint_Output:
      required:
      - definitionId
      - name
      - definitionType
      - createdAt
      - revisionCount
      - ownerId
      - ownerMail
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the job definition.
        name:
          type: string
          description: The name of the job definition.
        definitionType:
          allOf:
          - $ref: '#/components/schemas/DefinitionType'
          description: The type of the job definition.
        createdAt:
          type: string
          description: The creation timestamp of the job definition.
          format: date-time
        revisionCount:
          type: integer
          description: The number of revisions for this job definition.
          format: int32
        ownerId:
          type: string
          description: The id of the owner of the job definition.
          format: uuid
        ownerMail:
          type: string
          description: The email of the owner of the job definition.
    IAssetInputExistingAssetInput:
      required:
      - name
      - _t
      properties:
        _t:
          enum:
          - ExistingAssetInput
          type: string
        name:
          type: string
        metadata:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
        identifier:
          type:
          - string
          - 'null'
    IOrderWorkflowInputModelEvaluationWorkflowInputModel:
      required:
      - validationSetId
      - shouldAcceptIncorrect
      - _t
      properties:
        _t:
          enum:
          - EvaluationWorkflow
          type: string
        validationSetId:
          type: string
        shouldAcceptIncorrect:
          type: boolean
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
    QueryJobRevisionsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobRevisionsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    GetJobDefinitionByIdEndpoint_Output:
      required:
      - definitionId
      - name
      - definitionType
      - isPublic
      - createdAt
      - ownerId
      - ownerMail
      type: object
      properties:
        definitionId:
          type: string
          description: The job definition id.
        name:
          type: string
          description: The name of the job definition.
        definitionType:
          allOf:
          - $ref: '#/components/schemas/DefinitionType'
          description: The type of the job definition.
        isPublic:
          type: boolean
          description: Whether the definition is shared publicly as a reusable template.
        createdAt:
          type: string
          description: The creation timestamp.
          format: date-time
        ownerId:
          type: string
          description: The id of the job definition's owner.
          format: uuid
        ownerMail:
          type: string
          description: The email of the job definition's owner.
      description: The result when a job definition has been retrieved.
    CreateJobRevisionEndpoint_Output:
      required:
      - revisionNumber
      - pipelineId
      type: object
      properties:
        revisionNumber:
          type: integer
          description: The revision number of the created job revision.
          format: int32
        pipelineId:
          type: string
          description: The id of the created preview pipeline.
      description: The result when a job revision has been created.
    GetJobRevisionEndpoint_Output:
      required:
      - definitionId
      - revisionNumber
      - state
      - pipelineId
      - datasetId
      - workflow
      - referee
      - featureFlags
      - createdAt
      - createdById
      - createdByMail
      type: object
      properties:
        definitionId:
          type: string
          description: The job definition id.
        revisionNumber:
          type: integer
          description: The revision number.
          format: int32
        state:
          allOf:
          - $ref: '#/components/schemas/JobDefinitionRevisionState'
          description: The state of the revision.
        pipelineId:
          type: string
          description: The pipeline id.
        datasetId:
          type: string
          description: The dataset id.
        aggregatorType:
          allOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator type.
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: The workflow configuration. Can be used directly to create a new revision.
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: The referee configuration. Can be used directly to create a new revision.
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags.
        createdAt:
          type: string
          description: The creation timestamp.
          format: date-time
        createdById:
          type: string
          description: The id of the user who created the revision.
          format: uuid
        createdByMail:
          type: string
          description: The email of the user who created the revision.
        isInstructionComplex:
          type:
          - boolean
          - 'null'
          description: "Whether the instruction was flagged as too complex for the average annotator to\n understand. Null until the asynchronous complexity check has completed."
        instructionComplexityReason:
          type:
          - string
          - 'null'
          description: A short explanation of why the instruction was flagged, when applicable.
      description: The result when a job revision has been retrieved.
    AudienceJobState:
      enum:
      - Submitted
      - Running
      - Completed
      - Failed
      - ManualApproval
      - Queued
      - Paused
      - StaleResults
      - SpendLimited
    GetJobDefinitionCostEstimateEndpoint_Output:
      required:
      - estimatedCost
      - costPerResponse
      - datapointCount
      - requiredResponses
      type: object
      properties:
        estimatedCost:
          type: number
          description: The estimated total cost of running the definition's latest revision to completion.
          format: double
        costPerResponse:
          type: number
          description: The representative per-response cost the estimate is based on.
          format: double
        datapointCount:
          type: integer
          description: The number of datapoints in the definition's dataset.
          format: int64
        requiredResponses:
          type: integer
          description: The total number of responses the definition's referee requires to complete.
          format: int64
      description: The estimated cost of a job definition.
    CreateJobRevisionEndpoint_Input:
      type: object
      properties:
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: "The workflow configuration. If not provided, inherits from the previous revision.\n Must be provided together with Referee if either is specified."
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: "The referee configuration. If not provided, inherits from the previous revision.\n Must be provided together with Workflow if either is specified."
        datasetId:
          type: string
          description: The dataset id. If not provided, inherits from the previous revision.
        rapidFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: "The rapid-level feature flags applied to each rapid created by this revision.\n If not provided, inherits from the previous revision."
        campaignFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: "The campaign-level (session-wide) feature flags for this revision.\n If not provided, inherits from the previous revision."
        aggregatorType:
          type:
          - string
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator type. If not provided, inherits from the previous revision.
        validationSetId:
          type:
          - string
          - 'null'
          description: "A validation set id to pin on this revision. When set, every job run from this\n revision uses the specified validation set as the source of validation rapids\n instead of audience-derived examples. If not provided, inherits from the previous\n revision. Provide a wrapped null value to clear a previously pinned set."
      description: The input for the create job revision endpoint.
    IRapidBlueprintPolygonRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - PolygonBlueprint
          type: string
        target:
          type: string
    IAssetInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAssetInputExistingAssetInput'
      - $ref: '#/components/schemas/IAssetInputMultiAssetInput'
      - $ref: '#/components/schemas/IAssetInputTextAssetInput'
      discriminator:
        propertyName: _t
        mapping:
          ExistingAssetInput: '#/components/schemas/IAssetInputExistingAssetInput'
          MultiAssetInput: '#/components/schemas/IAssetInputMultiAssetInput'
          TextAssetInput: '#/components/schemas/IAssetInputTextAssetInput'
    UpdateJobEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name for the job.
      description: The input for the update job endpoint.
    QueryJobDefinitionsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobDefinitionsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    GetJobByIdEndpoint_Output:
      required:
      - jobId
      - name
      - definitionId
      - audienceId
      - revisionNumber
      - pipelineId
      - state
      - isPublic
      - audienceDeleted
      - createdAt
      - ownerId
      - ownerMail
      type: object
      properties:
        jobId:
          type: string
          description: The job id.
        name:
          type: string
          description: The job name.
        definitionId:
          type: string
          description: The job definition id.
        audienceId:
          type: string
          description: The audience id.
        revisionNumber:
          type: integer
          description: The revision number.
          format: int32
        pipelineId:
          type: string
          description: The pipeline id.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceJobState'
          description: The job state.
        isPublic:
          type: boolean
          description: Whether the job (and its results) is shared publicly.
        audienceDeleted:
          type: boolean
          description: Whether the audience backing this job was deleted, meaning the job can never run.
        completedAt:
          type:
          - string
          - 'null'
          description: The timestamp when the job was completed.
          format: date-time
        resultFileName:
          type:
          - string
          - 'null'
          description: The file name of the result.
        failedAt:
          type:
          - string
          - 'null'
          description: The timestamp when the job failed.
          format: date-time
        failureMessage:
          type:
          - string
          - 'null'
          description: The failure message.
        reviewReason:
          allOf:
          - $ref: '#/components/schemas/ReviewReasonModel'
          description: "Why the job was routed to manual review, when it is (or was) in\n ManualApproval. Null when no customer-facing reason\n applies."
        createdAt:
          type: string
          description: The creation timestamp.
          format: date-time
        ownerId:
          type: string
          description: The owner id.
          format: uuid
        ownerMail:
          type: string
          description: The owner email.
      description: The result when a job has been retrieved.
    IRapidBlueprintTranscriptionRapidBlueprint:
      required:
      - title
      - _t
      properties:
        _t:
          enum:
          - TranscriptionBlueprint
          type: string
        title:
          type: string
    AttachCategoryRapidBlueprint_Category:
      required:
      - label
      - value
      type: object
      properties:
        label:
          type: string
        value:
          type: string
    IOrderWorkflowInputModelGroupedRankingWorkflowInputModel:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - GroupedRankingWorkflow
          type: string
        criteria:
          type: string
        pairMakerConfig:
          $ref: '#/components/schemas/IPairMakerConfigModel'
        rankingConfig:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/IRankingConfigModel'
        contexts:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        contextAssets:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/IAssetInput'
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
        maxParallelism:
          type: integer
          format: int32
    FeatureFlag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    MetadataVisibilities:
      type: array
      items:
        enum:
        - None
        - Users
        - Customers
        - Admins
        - Dashboard
        - All
        type: string
    JobDefinitionRevisionState:
      enum:
      - Pending
      - Completed
      - Failed
    IRefereeModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRefereeModelBudgetRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelEarlyStoppingRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelNaiveRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelQuorumRefereeModel'
      discriminator:
        propertyName: _t
        mapping:
          BudgetReferee: '#/components/schemas/IRefereeModelBudgetRefereeModel'
          EarlyStoppingReferee: '#/components/schemas/IRefereeModelEarlyStoppingRefereeModel'
          NaiveReferee: '#/components/schemas/IRefereeModelNaiveRefereeModel'
          QuorumReferee: '#/components/schemas/IRefereeModelQuorumRefereeModel'
    CreateJobEndpoint_Input:
      required:
      - jobDefinitionId
      - audienceId
      type: object
      properties:
        jobDefinitionId:
          type: string
          description: The id of the job definition to use.
        audienceId:
          type: string
          description: The id of the audience to target.
        revisionNumber:
          type:
          - integer
          - 'null'
          description: The revision number to use. If not specified, the latest revision will be used.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the job. If not specified, defaults to "{definition name}:{revision number}".
        priority:
          type: integer
          description: The priority of the job. Higher values mean higher priority. Default is 50.
          format: int32
        precedingJobId:
          type:
          - string
          - 'null'
          description: "Optional id of a job that must finish before this job starts. When set, this job is\n queued until the preceding job completes or fails."
        notifyOwnerOnCompletion:
          type: boolean
          description: Whether the job's owner should be emailed when the job completes. Defaults to false.
      description: The input for the create job endpoint.
    QueryJobsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    IOrderWorkflowInputModelSimpleWorkflowInputModel:
      required:
      - blueprint
      - _t
      properties:
        _t:
          enum:
          - SimpleWorkflow
          type: string
        blueprint:
          $ref: '#/components/schemas/IRapidBlueprint'
        batchSize:
          type:
          - integer
          - 'null'
          format: int32
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IMetadataInputTextMetadataInput:
      required:
      - text
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - TextMetadataInput
          type: string
        text:
          type:
          - string
          - 'null'
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    CreateJobDefinitionEndpoint_Output:
      required:
      - definitionId
      - pipelineId
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the created job definition.
        pipelineId:
          type: string
          description: The id of the created preview pipeline.
      description: The result when a job definition has been created.
    QueryAggregatedJobsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryAggregatedJobsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    DefinitionType:
      enum:
      - Unknown
      - Classify
      - Compare
      - BoundingBox
      - Line
      - Polygon
      - Locate
      - Transcription
      - NamedEntity
      - FreeText
      - Scrub
      - Ranking
      - GroupedRanking
      - Evaluation
    AggregatorType:
      enum:
      - NonCommittal
      - MajorityVote
      - SimpleMatchup
      - LocateCluster
      - Classification
      - Locate
      - BoundingBox
      - Line
      - Transcription
      - SinglePointLocate
      - FreeText
      - Scrub
      - Ranking
      - MultiRanking
      - null
    QueryJobsEndpoint_Output:
      required:
      - jobId
      - name
      - jobDefinitionId
      - audienceId
      - revisionNumber
      - pipelineId
      - state
      - ownerMail
      - createdAt
      type: object
      properties:
        jobId:
          type: string
          description: The id of the job.
        name:
          type: string
          description: The name of the job.
        jobDefinitionId:
          type: string
          description: The id of the job definition.
        audienceId:
          type: string
          description: The id of the audience associated with the job.
        revisionNumber:
          type: integer
          description: The revision number of the job.
          format: int32
        pipelineId:
          type: string
          description: The id of the pipeline executing the job.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceJobState'
          description: The current state of the job.
        ownerMail:
          type: string
          description: The email of the job's owner.
        createdAt:
          type: string
          description: The timestamp when the job was created.
          format: date-time
        progress:
          type:
          - number
          - 'null'
          description: "Labeling completion as a ratio in the range 0–1, or null when no progress has\n been reported yet (completion sets it to 1). Sortable via ?sort=progress."
          format: double
    IRapidBlueprintFreeTextRapidBlueprint:
      required:
      - question
      - _t
      properties:
        _t:
          enum:
          - FreeTextBlueprint
          type: string
        question:
          type: string
        shouldValidateResponse:
          type:
          - boolean
          - 'null'
        validationSystemPrompt:
          type:
          - string
          - 'null'
    IOrderWorkflowInputModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IOrderWorkflowInputModelEvaluationWorkflowInputModel'
      - $ref: '#/components/schemas/IOrderWorkflowInputModelGroupedRankingWorkflowInputModel'
      - $ref: '#/components/schemas/IOrderWorkflowInputModelSimpleWorkflowInputModel'
      discriminator:
        propertyName: _t
        mapping:
          EvaluationWorkflow: '#/components/schemas/IOrderWorkflowInputModelEvaluationWorkflowInputModel'
          GroupedRankingWorkflow: '#/components/schemas/IOrderWorkflowInputModelGroupedRankingWorkflowInputModel'
          SimpleWorkflow: '#/components/schemas/IOrderWorkflowInputModelSimpleWorkflowInputModel'
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
