openapi: 3.2.0
info:
  title: Rapidata Context Shortening API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: ContextShortening
  x-displayName: ContextShortening
paths:
  /datasets/shorten-context:
    post:
      tags:
      - ContextShortening
      summary: Shortens each context to the parts relevant to its question, returning results…
      description: Results are cached per (context, question, prompt version), so repeated requests do not re-call the model.
      requestBody:
        description: The context/question pairs to shorten.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShortenContextEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortenContextEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postDatasetsShortenContext
      x-operation-id-source: derived
components:
  schemas:
    ShortenContextEndpoint_OutputItem:
      required:
      - shortenedContext
      type: object
      properties:
        shortenedContext:
          type: string
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    ShortenContextEndpoint_Input:
      required:
      - items
      type: object
      properties:
        items:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ShortenContextEndpoint_InputItem'
          description: The context/question pairs to shorten.
      description: The input for the shorten-context endpoint.
    ShortenContextEndpoint_InputItem:
      required:
      - context
      - question
      type: object
      properties:
        context:
          type: string
        question:
          type: string
    ShortenContextEndpoint_Output:
      required:
      - items
      type: object
      properties:
        items:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ShortenContextEndpoint_OutputItem'
          description: The shortened contexts.
      description: The shortened contexts, in the same order as the input items.
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
