openapi: 3.0.4
info:
  title: Rapidata Asset Campaign API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Campaign
  x-displayName: Campaign
paths:
  /campaign/program:
    post:
      tags:
      - Campaign
      summary: Creates a program campaign from the given stream program.
      description: "The program is validated before the campaign is persisted; a malformed graph\n (missing root, dangling references, cycles, unreachable nodes) is rejected. The\n campaign starts in the Created status; move it to Active to start serving sessions."
      requestBody:
        description: The campaign and its stream program.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProgramCampaignEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProgramCampaignEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/boost/insights:
    get:
      tags:
      - Campaign
      summary: Returns an attributed view of the aggregated boosting profile.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBoostInsightsEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/boost/status:
    get:
      tags:
      - Campaign
      summary: Returns the current boost status including active and inactive campaigns.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBoostStatusEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/{campaignId}:
    get:
      tags:
      - Campaign
      summary: Retrieves the details of a specific campaign.
      parameters:
      - name: campaignId
        in: path
        description: The ID of the campaign.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    patch:
      tags:
      - Campaign
      summary: Updates the specified campaign's properties.
      parameters:
      - name: campaignId
        in: path
        description: The identifier of the campaign to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The properties to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/boost/{externalCampaignId}/fast-bid-multiplier:
    get:
      tags:
      - Campaign
      summary: Returns the fast bid multiplier currently applied to an external booster campaign.
      description: "Returns the downstream system's default (1.0) if the multiplier has never been set\n for the campaign."
      parameters:
      - name: externalCampaignId
        in: path
        description: The external booster campaign id to read.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFastBidMultiplierEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    put:
      tags:
      - Campaign
      summary: Sets the fast bid multiplier for a single external booster campaign to an arbitrary value.
      description: "Bypasses the level→multiplier mapping. Intended for live testing and one-off\n operational tweaks. Value must be in [0, 50]; 0 effectively pauses delivery on the\n campaign without changing its status. The response reports the multiplier the\n downstream system confirms is applied."
      parameters:
      - name: externalCampaignId
        in: path
        description: The external booster campaign id to update.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The desired multiplier value.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetFastBidMultiplierEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetFastBidMultiplierEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/monitor:
    get:
      tags:
      - Campaign
      summary: "Exercises the rapid-bag pipeline with a synthetic user profile so the health of\n the campaign monitoring path can be probed externally."
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/{campaignId}/pause:
    post:
      tags:
      - Campaign
      summary: Pauses the specified campaign.
      parameters:
      - name: campaignId
        in: path
        description: The identifier of the campaign to pause.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/boost/preheat:
    post:
      tags:
      - Campaign
      summary: "Triggers a preheat pass for the boost subsystem so warm caches are ready before\n traffic spikes."
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaigns:
    get:
      tags:
      - Campaign
      summary: Queries campaigns with optional filtering, sorting, and pagination.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - priority
            - -priority
            - status
            - -status
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: id
        in: query
        description: Filter by id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: status
        in: query
        description: Filter by status.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: priority
        in: query
        description: Filter by priority.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCampaignsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/{campaignId}/resume:
    post:
      tags:
      - Campaign
      summary: Resumes the specified campaign.
      parameters:
      - name: campaignId
        in: path
        description: The identifier of the campaign to resume.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/boost/global-level:
    put:
      tags:
      - Campaign
      summary: Sets or clears the manual global boost level.
      requestBody:
        description: The manual global boost level to apply. Null clears the manual override.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetManualGlobalBoostLevelEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /campaign/{campaignId}/program:
    put:
      tags:
      - Campaign
      summary: Replaces the campaign's stream program.
      description: "The program is validated before it is persisted; a malformed graph is rejected.\n The program's version is bumped and republished — running sessions pick up the new\n program on their next response."
      parameters:
      - name: campaignId
        in: path
        description: The identifier of the program campaign.
        required: true
        schema:
          type: string
      requestBody:
        description: The replacement stream program.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStreamProgramEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    GetBoostInsightsEndpoint_GlobalBoostOutput:
      required:
      - effectiveLevel
      - contributors
      type: object
      properties:
        effectiveLevel:
          type: integer
          format: int32
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/GetBoostInsightsEndpoint_LevelContributorOutput'
    ICampaignFilterModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/ICampaignFilterModelAndFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelAudienceStateFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelCampaignCooldownFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelCampaignIdFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelCampaignSessionCountFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelCountryFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelDemographicFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelDeviceFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelLanguageFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelNewUserFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelNotFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelOrFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelResponseCountFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelUserActionRestrictionFilterModel'
      - $ref: '#/components/schemas/ICampaignFilterModelUserScoreFilterModel'
      discriminator:
        propertyName: _t
        mapping:
          AndFilter: '#/components/schemas/ICampaignFilterModelAndFilterModel'
          AudienceStateFilter: '#/components/schemas/ICampaignFilterModelAudienceStateFilterModel'
          CampaignCooldownFilter: '#/components/schemas/ICampaignFilterModelCampaignCooldownFilterModel'
          CampaignIdFilter: '#/components/schemas/ICampaignFilterModelCampaignIdFilterModel'
          CampaignSessionCountFilter: '#/components/schemas/ICampaignFilterModelCampaignSessionCountFilterModel'
          CountryFilter: '#/components/schemas/ICampaignFilterModelCountryFilterModel'
          DemographicFilter: '#/components/schemas/ICampaignFilterModelDemographicFilterModel'
          DeviceFilter: '#/components/schemas/ICampaignFilterModelDeviceFilterModel'
          LanguageFilter: '#/components/schemas/ICampaignFilterModelLanguageFilterModel'
          NewUserFilter: '#/components/schemas/ICampaignFilterModelNewUserFilterModel'
          NotFilter: '#/components/schemas/ICampaignFilterModelNotFilterModel'
          OrFilter: '#/components/schemas/ICampaignFilterModelOrFilterModel'
          ResponseCountFilter: '#/components/schemas/ICampaignFilterModelResponseCountFilterModel'
          UserActionRestrictionFilter: '#/components/schemas/ICampaignFilterModelUserActionRestrictionFilterModel'
          UserScoreFilter: '#/components/schemas/ICampaignFilterModelUserScoreFilterModel'
    BoostingProfileModel:
      required:
      - globalBoostLevel
      - prospectBlacklist
      - distillingBoosts
      - labelingBoosts
      type: object
      properties:
        globalBoostLevel:
          type: integer
          format: int32
        minAutoAdjustLevel:
          type: integer
          format: int32
          nullable: true
        maxAutoAdjustLevel:
          type: integer
          format: int32
          nullable: true
        prospectBlacklist:
          type: array
          items:
            type: integer
            format: int32
        distillingBoosts:
          type: array
          items:
            $ref: '#/components/schemas/AudienceBoostModel'
        labelingBoosts:
          type: array
          items:
            $ref: '#/components/schemas/AudienceBoostModel'
    ICampaignFilterModelOrFilterModel:
      required:
      - filters
      - _t
      properties:
        _t:
          enum:
          - OrFilter
          type: string
        filters: {}
    GetBoostInsightsEndpoint_LevelContributorOutput:
      required:
      - campaignId
      - campaignName
      - level
      type: object
      properties:
        campaignId:
          type: string
        campaignName:
          type: string
        level:
          type: integer
          format: int32
    ICampaignFilterModelDeviceFilterModel:
      required:
      - deviceTypes
      - _t
      properties:
        _t:
          enum:
          - DeviceFilter
          type: string
        deviceTypes:
          type: array
          items:
            $ref: '#/components/schemas/DeviceType'
    CreateProgramCampaignEndpoint_Output:
      required:
      - campaignId
      type: object
      properties:
        campaignId:
          type: string
          description: The id of the created campaign.
    BoostingControlMode:
      enum:
      - Manual
      - Automatic
    RetrievalMode:
      enum:
      - Random
      - Shuffled
      - Sequential
    ICampaignFilterModelUserActionRestrictionFilterModel:
      required:
      - requiredActions
      - _t
      properties:
        _t:
          enum:
          - UserActionRestrictionFilter
          type: string
        requiredActions: {}
    ICampaignSelectionModelLabelingSelectionModel:
      required:
      - effortBudget
      - retrievalMode
      - _t
      properties:
        _t:
          enum:
          - LabelingSelection
          type: string
        amount:
          type: integer
          format: int32
          nullable: true
        effortBudget:
          type: integer
          format: int32
        retrievalMode:
          $ref: '#/components/schemas/RetrievalMode'
        maxIterations:
          type: integer
          format: int32
          nullable: true
    FeatureFlag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ICampaignFilterModelNotFilterModel:
      required:
      - filter
      - _t
      properties:
        _t:
          enum:
          - NotFilter
          type: string
        filter:
          $ref: '#/components/schemas/ICampaignFilterModel'
    ICampaignSelectionModelDemographicSelectionModel:
      required:
      - keys
      - maxRapids
      - _t
      properties:
        _t:
          enum:
          - DemographicSelection
          type: string
        keys:
          type: array
          items:
            type: string
        probability:
          type: number
          format: double
          nullable: true
        maxRapids:
          type: integer
          format: int32
    AudienceBoostModel:
      required:
      - externalAudienceId
      - level
      type: object
      properties:
        externalAudienceId:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
    IProgramNodeModelActionNodeModel:
      required:
      - action
      - _t
      properties:
        _t:
          enum:
          - ActionNode
          type: string
        action:
          $ref: '#/components/schemas/IProgramActionModel'
    ICampaignSelectionModelAudienceSelectionModel:
      required:
      - audienceId
      - effort
      - retrievalMode
      - _t
      properties:
        _t:
          enum:
          - AudienceSelection
          type: string
        audienceId:
          type: string
        effort:
          type: integer
          format: int32
        retrievalMode:
          $ref: '#/components/schemas/RetrievalMode'
        maxIterations:
          type: integer
          format: int32
          nullable: true
    ICampaignSelectionModelAbTestSelectionModel:
      required:
      - a
      - b
      - _t
      properties:
        _t:
          enum:
          - AbTestSelection
          type: string
        a:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignSelectionModel'
        b:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignSelectionModel'
    ICampaignFilterModelDemographicFilterModel:
      required:
      - identifier
      - values
      - _t
      properties:
        _t:
          enum:
          - DemographicFilter
          type: string
        identifier:
          type: string
        values:
          type: array
          items:
            type: string
    ICampaignSelectionModelEnforcingSelectionModel:
      required:
      - selections
      - minSelections
      - minRapids
      - _t
      properties:
        _t:
          enum:
          - EnforcingSelection
          type: string
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignSelectionModel'
        minSelections:
          type: integer
          format: int32
        minRapids:
          type: integer
          format: int32
    ICooldownDurationModelRandomCooldownDurationModel:
      required:
      - minDuration
      - maxDuration
      - seedByUserId
      - _t
      properties:
        _t:
          enum:
          - RandomCooldownDuration
          type: string
        minDuration:
          type: string
          format: date-time
        maxDuration:
          type: string
          format: date-time
        seedByUserId:
          type: boolean
    ICampaignFilterModelCampaignSessionCountFilterModel:
      required:
      - sessionCount
      - operator
      - _t
      properties:
        _t:
          enum:
          - CampaignSessionCountFilter
          type: string
        sessionCount:
          type: integer
          format: uint32
        operator:
          $ref: '#/components/schemas/ComparisonOperator'
    IProgramPredicateModelCorrectCountPredicateModel:
      required:
      - comparison
      - value
      - _t
      properties:
        _t:
          enum:
          - CorrectCountPredicate
          type: string
        comparison:
          $ref: '#/components/schemas/ProgramComparisonModel'
        value:
          type: integer
          format: int32
    CampaignStatusModel:
      enum:
      - Created
      - Preview
      - Active
      - Analysis
      - Paused
      - Completed
      - SpendLimited
    ICampaignSelectionModelShufflingSelectionModel:
      required:
      - selections
      - _t
      properties:
        _t:
          enum:
          - ShufflingSelection
          type: string
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignSelectionModel'
    SetManualGlobalBoostLevelEndpoint_Input:
      type: object
      properties:
        level:
          type: integer
          description: The global boost level. Null disables manual mode and returns to automatic.
          format: int32
          nullable: true
    IProgramActionModelCompleteActionModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - CompleteAction
          type: string
    ComparisonOperator:
      enum:
      - Equal
      - NotEqual
      - LessThan
      - LessThanOrEqual
      - GreaterThan
      - GreaterThanOrEqual
    IProgramNodeModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IProgramNodeModelActionNodeModel'
      - $ref: '#/components/schemas/IProgramNodeModelCasesNodeModel'
      discriminator:
        propertyName: _t
        mapping:
          ActionNode: '#/components/schemas/IProgramNodeModelActionNodeModel'
          CasesNode: '#/components/schemas/IProgramNodeModelCasesNodeModel'
    IProgramPredicateModelAnsweredCountPredicateModel:
      required:
      - comparison
      - value
      - _t
      properties:
        _t:
          enum:
          - AnsweredCountPredicate
          type: string
        comparison:
          $ref: '#/components/schemas/ProgramComparisonModel'
        value:
          type: integer
          format: int32
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    UpdateCampaignEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name for the campaign.
        priority:
          type: integer
          description: The new priority value for the campaign.
          format: int32
        boostLevel:
          type: integer
          description: "The campaign's boost level. Set 1-10 to boost (the audience service decides whether\n the boost manifests as global, distilling, or labeling based on the campaign's\n filters). Set 0 to clear any existing boost. Ignored when BoostingProfile is\n also set (explicit profile wins)."
          format: int32
        boostingProfile:
          allOf:
          - $ref: '#/components/schemas/BoostingProfileModel'
          description: "The boosting profile configuration. Takes precedence over BoostLevel and\n RequiresBooster when set. Prefer BoostLevel — it lets the server derive\n the right profile (including filtered-audience creation) from the campaign's filters."
        stickyConfig:
          allOf:
          - $ref: '#/components/schemas/StickyConfigModel'
          description: The sticky behavior configuration.
        filters:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ICampaignFilterModel'
          description: The targeting filters for the campaign.
        selections:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ICampaignSelectionModel'
          description: The rapid selections for the campaign.
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags for the campaign.
    GetBoostInsightsEndpoint_Output:
      required:
      - mode
      - manualOverrideLevel
      - globalBoost
      - prospectBlacklist
      - distillingBoosts
      - labelingBoosts
      type: object
      properties:
        mode:
          allOf:
          - $ref: '#/components/schemas/BoostMode'
          description: The current boost mode.
        manualOverrideLevel:
          type: integer
          description: The manual override level, if manual mode is active.
          format: int32
          nullable: true
        globalBoost:
          allOf:
          - $ref: '#/components/schemas/GetBoostInsightsEndpoint_GlobalBoostOutput'
          description: Global boost insight with contributing campaigns.
        prospectBlacklist:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetBoostInsightsEndpoint_AudienceOutput'
          description: Prospect blacklist insights.
        distillingBoosts:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetBoostInsightsEndpoint_LeveledAudienceOutput'
          description: Distilling boost insights.
        labelingBoosts:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetBoostInsightsEndpoint_LeveledAudienceOutput'
          description: Labeling boost insights.
    ICampaignSelectionModelValidationSelectionModel:
      required:
      - validationSetId
      - _t
      properties:
        _t:
          enum:
          - ValidationSelection
          type: string
        validationSetId:
          type: string
        amount:
          type: integer
          format: int32
          nullable: true
        effortBudget:
          type: integer
          format: int32
          nullable: true
    ProgramCaseModel:
      required:
      - predicate
      - nodeId
      type: object
      properties:
        predicate:
          $ref: '#/components/schemas/IProgramPredicateModel'
        nodeId:
          type: string
    ICampaignFilterModelCampaignCooldownFilterModel:
      required:
      - cooldown
      - _t
      properties:
        _t:
          enum:
          - CampaignCooldownFilter
          type: string
        cooldown:
          $ref: '#/components/schemas/ICooldownDurationModel'
    IProgramActionModelServeRapidActionModel:
      required:
      - routingId
      - _t
      properties:
        _t:
          enum:
          - ServeRapidAction
          type: string
        routingId:
          type: string
        retrievalMode:
          $ref: '#/components/schemas/RetrievalMode'
    ICampaignSelectionModelConditionalValidationSelectionModel:
      required:
      - validationChances
      - dimensions
      - _t
      properties:
        _t:
          enum:
          - ConditionalValidationSelection
          type: string
        validationChances:
          type: array
          items:
            $ref: '#/components/schemas/ValidationChanceModel'
        dimensions:
          type: array
          items:
            type: string
    ValidationChanceModel:
      required:
      - userScoreThreshold
      - chance
      - rapidCount
      type: object
      properties:
        userScoreThreshold:
          type: number
          format: double
        chance:
          type: number
          format: double
        rapidCount:
          type: integer
          format: int32
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignSelectionModel'
          nullable: true
    ICampaignFilterModelLanguageFilterModel:
      required:
      - languages
      - _t
      properties:
        _t:
          enum:
          - LanguageFilter
          type: string
        languages:
          type: array
          items:
            type: string
    ICampaignFilterModelAndFilterModel:
      required:
      - filters
      - _t
      properties:
        _t:
          enum:
          - AndFilter
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignFilterModel'
    UpdateStreamProgramEndpoint_Input:
      required:
      - rootNodeId
      - nodes
      - maxRapids
      - maxDurationSeconds
      type: object
      properties:
        rootNodeId:
          type: string
          description: The node the program's evaluation enters at.
        nodes:
          allOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/IProgramNodeModel'
          description: The program's decision graph, keyed by node id.
        maxRapids:
          type: integer
          description: The session ends after this many counted responses.
          format: int32
        maxDurationSeconds:
          type: integer
          description: The session ends after this many seconds.
          format: int32
    CreateProgramCampaignEndpoint_Input:
      required:
      - name
      - priority
      - rootNodeId
      - nodes
      - maxRapids
      - maxDurationSeconds
      type: object
      properties:
        name:
          type: string
          description: The name of the campaign.
        priority:
          type: integer
          description: The priority weight the campaign competes with for sessions.
          format: int32
        rootNodeId:
          type: string
          description: The node the program's evaluation enters at.
        nodes:
          allOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/IProgramNodeModel'
          description: The program's decision graph, keyed by node id.
        maxRapids:
          type: integer
          description: The session ends after this many counted responses.
          format: int32
        maxDurationSeconds:
          type: integer
          description: The session ends after this many seconds.
          format: int32
    GetCampaignByIdEndpoint_Output:
      required:
      - id
      - name
      - status
      - priority
      - boostingProfile
      - boostingControlMode
      - hasBooster
      - boostLevel
      - stickyConfig
      - filters
      - selections
      - featureFlags
      - ownerMail
      - createdAt
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the campaign.
        name:
          type: string
          description: The name of the campaign.
        status:
          allOf:
          - $ref: '#/components/schemas/CampaignStatusModel'
          description: The current status of the campaign.
        priority:
          type: integer
          description: The priority level of the campaign.
          format: int32
        boostingProfile:
          allOf:
          - $ref: '#/components/schemas/BoostingProfileModel'
          description: The boosting profile configuration.
        boostingControlMode:
          allOf:
          - $ref: '#/components/schemas/BoostingControlMode'
          description: The boosting control mode.
        hasBooster:
          type: boolean
          description: Whether the campaign has a booster.
        boostLevel:
          type: integer
          description: "The campaign's effective boost level (0-10). 0 when no boost is active.\n Lets clients render and edit the level without unpacking the boosting profile."
          format: int32
        stickyConfig:
          allOf:
          - $ref: '#/components/schemas/StickyConfigModel'
          description: The sticky behavior configuration.
        filters:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ICampaignFilterModel'
          description: The targeting filters for this campaign.
        selections:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/ICampaignSelectionModel'
          description: The rapid selections for this campaign.
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags configured for this campaign.
        ownerMail:
          type: string
          description: The email of the campaign owner.
        createdAt:
          type: string
          description: The timestamp when the campaign was created.
          format: date-time
    SetFastBidMultiplierEndpoint_Input:
      required:
      - multiplier
      type: object
      properties:
        multiplier:
          type: number
          description: The bid multiplier to apply. Must be in [0, 50].
          format: double
    GetFastBidMultiplierEndpoint_Output:
      required:
      - externalCampaignId
      - bidMultiplierValue
      type: object
      properties:
        externalCampaignId:
          type: integer
          description: The external campaign id reported by the downstream system.
          format: int32
        bidMultiplierValue:
          type: number
          description: The current bid multiplier reported for the campaign.
          format: double
    StickyConfigModel:
      required:
      - isEnabled
      - bypassFilters
      - bypassPrioritySelection
      - blockOtherStickyCampaigns
      - clearOnPause
      type: object
      properties:
        isEnabled:
          type: boolean
        dimension:
          type: string
        bypassFilters:
          type: boolean
        bypassPrioritySelection:
          type: boolean
        blockOtherStickyCampaigns:
          type: boolean
        clearOnPause:
          type: boolean
    ICampaignFilterModelCountryFilterModel:
      required:
      - countries
      - _t
      properties:
        _t:
          enum:
          - CountryFilter
          type: string
        countries:
          type: array
          items:
            type: string
    DeviceType:
      enum:
      - Unknown
      - Phone
      - Tablet
    ICampaignFilterModelNewUserFilterModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - NewUserFilter
          type: string
    ICampaignFilterModelUserScoreFilterModel:
      required:
      - dimension
      - lowerbound
      - upperbound
      - _t
      properties:
        _t:
          enum:
          - UserScoreFilter
          type: string
        dimension:
          type: string
        lowerbound:
          type: number
          format: double
        upperbound:
          type: number
          format: double
    ICampaignFilterModelCampaignIdFilterModel:
      required:
      - campaignIds
      - _t
      properties:
        _t:
          enum:
          - CampaignIdFilter
          type: string
        campaignIds:
          type: array
          items:
            type: string
    BoostStatusModel:
      enum:
      - Active
      - Inactive
      - Partial
      - Unknown
    ICooldownDurationModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/ICooldownDurationModelFixedCooldownDurationModel'
      - $ref: '#/components/schemas/ICooldownDurationModelRandomCooldownDurationModel'
      discriminator:
        propertyName: _t
        mapping:
          FixedCooldownDuration: '#/components/schemas/ICooldownDurationModelFixedCooldownDurationModel'
          RandomCooldownDuration: '#/components/schemas/ICooldownDurationModelRandomCooldownDurationModel'
    ProgramComparisonModel:
      enum:
      - GreaterThanOrEqual
      - GreaterThan
      - LessThanOrEqual
      - LessThan
      - Equal
    IProgramActionModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IProgramActionModelCompleteActionModel'
      - $ref: '#/components/schemas/IProgramActionModelServeRapidActionModel'
      discriminator:
        propertyName: _t
        mapping:
          CompleteAction: '#/components/schemas/IProgramActionModelCompleteActionModel'
          ServeRapidAction: '#/components/schemas/IProgramActionModelServeRapidActionModel'
    QueryCampaignsEndpoint_Output:
      required:
      - id
      - name
      - status
      - priority
      - hasBooster
      - boostLevel
      - boostingControlMode
      - ownerMail
      - createdAt
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the campaign.
        name:
          type: string
          description: The name of the campaign.
        status:
          allOf:
          - $ref: '#/components/schemas/CampaignStatusModel'
          description: The current status of the campaign.
        priority:
          type: integer
          description: The priority level of the campaign.
          format: int32
        hasBooster:
          type: boolean
          description: Whether the campaign has a booster.
        boostLevel:
          type: integer
          description: "The campaign's effective boost level (0-10). 0 when no boost is active.\n Lets clients render and edit the level without unpacking the boosting profile."
          format: int32
        boostingControlMode:
          allOf:
          - $ref: '#/components/schemas/BoostingControlMode'
          description: "How the campaign's boost is controlled — Manual (user-editable) or Automatic\n (managed by an owning service; boost edits are rejected by the API)."
        ownerMail:
          type: string
          description: The email of the campaign owner.
        createdAt:
          type: string
          description: The timestamp when the campaign was created.
          format: date-time
    ICampaignFilterModelResponseCountFilterModel:
      required:
      - dimension
      - responseCount
      - operator
      - _t
      properties:
        _t:
          enum:
          - ResponseCountFilter
          type: string
        dimension:
          type: string
        responseCount:
          type: integer
          format: uint32
        operator:
          $ref: '#/components/schemas/ComparisonOperator'
    ICooldownDurationModelFixedCooldownDurationModel:
      required:
      - duration
      - _t
      properties:
        _t:
          enum:
          - FixedCooldownDuration
          type: string
        duration:
          type: string
          format: date-time
    GetBoostInsightsEndpoint_AudienceOutput:
      required:
      - externalAudienceId
      - contributors
      type: object
      properties:
        externalAudienceId:
          type: integer
          format: int32
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/GetBoostInsightsEndpoint_ContributorOutput'
    IProgramNodeModelCasesNodeModel:
      required:
      - cases
      - _t
      properties:
        _t:
          enum:
          - CasesNode
          type: string
        cases:
          type: array
          items:
            $ref: '#/components/schemas/ProgramCaseModel'
        defaultNodeId:
          type: string
          nullable: true
    IProgramPredicateModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IProgramPredicateModelAnsweredCountPredicateModel'
      - $ref: '#/components/schemas/IProgramPredicateModelCorrectCountPredicateModel'
      discriminator:
        propertyName: _t
        mapping:
          AnsweredCountPredicate: '#/components/schemas/IProgramPredicateModelAnsweredCountPredicateModel'
          CorrectCountPredicate: '#/components/schemas/IProgramPredicateModelCorrectCountPredicateModel'
    ICampaignSelectionModelCappedSelectionModel:
      required:
      - selections
      - maxRapids
      - _t
      properties:
        _t:
          enum:
          - CappedSelection
          type: string
        selections:
          type: array
          items:
            $ref: '#/components/schemas/ICampaignSelectionModel'
        maxRapids:
          type: integer
          format: int32
    ICampaignFilterModelAudienceStateFilterModel:
      required:
      - audienceId
      - allowedStates
      - includeUnknownState
      - _t
      properties:
        _t:
          enum:
          - AudienceStateFilter
          type: string
        audienceId:
          type: string
        allowedStates:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedAudienceUserState'
        includeUnknownState:
          type: boolean
    ICampaignSelectionModelStaticSelectionModel:
      required:
      - rapidIds
      - _t
      properties:
        _t:
          enum:
          - StaticSelection
          type: string
        rapidIds:
          type: array
          items:
            type: string
    SetFastBidMultiplierEndpoint_Output:
      required:
      - externalCampaignId
      - appliedMultiplier
      type: object
      properties:
        externalCampaignId:
          type: integer
          description: The external campaign id reported by the downstream system.
          format: int32
        appliedMultiplier:
          type: number
          description: The bid multiplier the downstream system reports as currently applied.
          format: double
    GetBoostInsightsEndpoint_LeveledAudienceOutput:
      required:
      - externalAudienceId
      - effectiveLevel
      - contributors
      type: object
      properties:
        externalAudienceId:
          type: integer
          format: int32
        effectiveLevel:
          type: integer
          format: int32
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/GetBoostInsightsEndpoint_LevelContributorOutput'
    BoostMode:
      enum:
      - Automatic
      - Manual
    GetBoostInsightsEndpoint_ContributorOutput:
      required:
      - campaignId
      - campaignName
      type: object
      properties:
        campaignId:
          type: string
        campaignName:
          type: string
    ICampaignSelectionModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/ICampaignSelectionModelAbTestSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelAudienceSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelCappedSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelConditionalValidationSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelDemographicSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelEnforcingSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelLabelingSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelShufflingSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelStaticSelectionModel'
      - $ref: '#/components/schemas/ICampaignSelectionModelValidationSelectionModel'
      discriminator:
        propertyName: _t
        mapping:
          AbTestSelection: '#/components/schemas/ICampaignSelectionModelAbTestSelectionModel'
          AudienceSelection: '#/components/schemas/ICampaignSelectionModelAudienceSelectionModel'
          CappedSelection: '#/components/schemas/ICampaignSelectionModelCappedSelectionModel'
          ConditionalValidationSelection: '#/components/schemas/ICampaignSelectionModelConditionalValidationSelectionModel'
          DemographicSelection: '#/components/schemas/ICampaignSelectionModelDemographicSelectionModel'
          EnforcingSelection: '#/components/schemas/ICampaignSelectionModelEnforcingSelectionModel'
          LabelingSelection: '#/components/schemas/ICampaignSelectionModelLabelingSelectionModel'
          ShufflingSelection: '#/components/schemas/ICampaignSelectionModelShufflingSelectionModel'
          StaticSelection: '#/components/schemas/ICampaignSelectionModelStaticSelectionModel'
          ValidationSelection: '#/components/schemas/ICampaignSelectionModelValidationSelectionModel'
    SimplifiedAudienceUserState:
      enum:
      - Distilling
      - Graduated
      - Dropped
    QueryCampaignsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryCampaignsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    GetBoostStatusEndpoint_Output:
      required:
      - status
      - mode
      - activeCampaigns
      - inactiveCampaigns
      - unknownCampaigns
      type: object
      properties:
        status:
          allOf:
          - $ref: '#/components/schemas/BoostStatusModel'
          description: The current boost status.
        mode:
          allOf:
          - $ref: '#/components/schemas/BoostMode'
          description: The current boost mode.
        activeCampaigns:
          allOf:
          - type: array
            items:
              type: string
          description: The list of active campaign identifiers.
        inactiveCampaigns:
          allOf:
          - type: array
            items:
              type: string
          description: The list of inactive campaign identifiers.
        unknownCampaigns:
          allOf:
          - type: array
            items:
              type: integer
              format: int32
          description: The list of unknown campaign identifiers.
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
