openapi: 3.0.4
info:
  title: Rapidata Asset Job API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Job
  x-displayName: Job
paths:
  /job/{jobId}/approve:
    post:
      tags:
      - Job
      summary: Approves a job in manual review so its pipeline can start processing.
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to approve.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition:
    post:
      tags:
      - Job
      summary: Creates a new job definition.
      description: A preview pipeline is automatically created and returned in the response.
      requestBody:
        description: The job definition parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobDefinitionEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobDefinitionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job:
    post:
      tags:
      - Job
      summary: Creates a new job from a job definition and audience.
      description: "If the audience is not already recruiting, recruiting is started automatically.\n The RecruitingStarted field indicates whether this happened."
      requestBody:
        description: The job creation parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition/{definitionId}/revision:
    post:
      tags:
      - Job
      summary: Creates a new revision for an existing job definition.
      description: "Unspecified fields are inherited from the previous revision. Workflow and Referee must be\n provided together if either is specified."
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to create a revision for.
        required: true
        schema:
          type: string
      requestBody:
        description: The revision parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRevisionEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobRevisionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - Job
      summary: Gets the latest revision for a job definition.
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobRevisionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition/{definitionId}:
    delete:
      tags:
      - Job
      summary: Deletes a job definition and all its revisions.
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - Job
      summary: Gets a job definition by its id.
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobDefinitionByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    patch:
      tags:
      - Job
      summary: Updates a job definition.
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobDefinitionEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}:
    delete:
      tags:
      - Job
      summary: Deletes a job.
      parameters:
      - name: jobId
        in: path
        description: The id of the job to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - Job
      summary: Gets a job by its id.
      parameters:
      - name: jobId
        in: path
        description: The id of the job to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    patch:
      tags:
      - Job
      summary: Updates a job.
      parameters:
      - name: jobId
        in: path
        description: The id of the job to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/download-results:
    get:
      tags:
      - Job
      summary: Downloads the results of a job as a file attachment.
      parameters:
      - name: jobId
        in: path
        description: The id of the job to download results for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/cost-estimate:
    get:
      tags:
      - Job
      summary: Estimates the cost of running a job to completion.
      description: "The estimate multiplies a representative per-response cost sampled from the job's rapids by\n the total number of responses its referee requires. Returns 409 while the estimate is not\n yet available because the job has no rapids, or when the referee is unbounded."
      parameters:
      - name: jobId
        in: path
        description: The id of the job to estimate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobCostEstimateEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition/{definitionId}/cost-estimate:
    get:
      tags:
      - Job
      summary: Estimates the cost of running a job definition's latest revision to completion.
      description: "The estimate multiplies a representative per-response cost sampled from the definition's\n rapids by the total number of responses its referee requires. Returns 409 while the estimate\n is not yet available because no rapids exist, or when the referee is unbounded."
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition to estimate.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobDefinitionCostEstimateEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/results:
    get:
      tags:
      - Job
      summary: Gets the results of a job as a JSON string.
      description: For file download, use the download-results endpoint instead.
      parameters:
      - name: jobId
        in: path
        description: The id of the job to get results for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition/{definitionId}/revision/{revisionNumber}:
    get:
      tags:
      - Job
      summary: Gets a specific revision for a job definition.
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition.
        required: true
        schema:
          type: string
      - name: revisionNumber
        in: path
        description: The revision number to retrieve.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobRevisionEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/pause:
    post:
      tags:
      - Job
      summary: Pauses a job, stopping all of its campaigns from processing.
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to pause.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /jobs/aggregated-overview:
    get:
      tags:
      - Job
      summary: Retrieves jobs aggregated by customer with total counts and most recent job information.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - amount
            - -amount
            - last7_days
            - -last7_days
            - last_job_date
            - -last_job_date
            - owner_mail
            - -owner_mail
            type: string
        x-parameter-group: sort
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: last_job_date
        in: query
        description: Filter by last_job_date.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: last_job_name
        in: query
        description: Filter by last_job_name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAggregatedJobsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definitions:
    get:
      tags:
      - Job
      summary: Queries job definitions visible to the caller.
      description: Results are scoped to the caller's customer unless the caller is allowed to view all job definitions.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: definition_id
        in: query
        description: Filter by definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: definition_type
        in: query
        description: Filter by definition_type.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_id
        in: query
        description: Filter by owner_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobDefinitionsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition/{definitionId}/revisions:
    get:
      tags:
      - Job
      summary: Queries the revisions of a specific job definition.
      parameters:
      - name: definitionId
        in: path
        description: The id of the job definition.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - revision_number
            - -revision_number
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: revision_number
        in: query
        description: Filter by revision_number.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: state
        in: query
        description: Filter by state.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobRevisionsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /jobs:
    get:
      tags:
      - Job
      summary: Queries jobs visible to the caller.
      description: Results are scoped to the caller's customer unless the caller is allowed to view all jobs.
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - state
            - -state
            - owner_mail
            - -owner_mail
            - progress
            - -progress
            type: string
        x-parameter-group: sort
      - name: id
        in: query
        description: Filter by id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: job_definition_id
        in: query
        description: Filter by job_definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: audience_id
        in: query
        description: Filter by audience_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: state
        in: query
        description: Filter by state.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryJobsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definitions/public:
    get:
      tags:
      - Job
      summary: "Queries job definitions that have been shared publicly, regardless of owner, so they can be\n reused as templates."
      parameters:
      - name: page
        in: query
        description: The 1-based page index.
        schema:
          type: integer
        x-parameter-group: page
      - name: page_size
        in: query
        description: The number of items per page.
        schema:
          type: integer
        x-parameter-group: page
      - name: sort
        in: query
        description: Sort fields. Prefix with - for descending order (e.g. -created_at).
        schema:
          type: array
          items:
            enum:
            - name
            - -name
            - created_at
            - -created_at
            type: string
        x-parameter-group: sort
      - name: definition_id
        in: query
        description: Filter by definition_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: name
        in: query
        description: Filter by name.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: definition_type
        in: query
        description: Filter by definition_type.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: created_at
        in: query
        description: Filter by created_at.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_id
        in: query
        description: Filter by owner_id.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: owner_mail
        in: query
        description: Filter by owner_mail.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            eq:
              type: string
            neq:
              type: string
            gt:
              type: string
            gte:
              type: string
            lt:
              type: string
            lte:
              type: string
            contains:
              type: string
            starts_with:
              type: string
            ends_with:
              type: string
            in:
              type: array
              items:
                type: string
            not_contains:
              type: string
        x-parameter-group: filters
      - name: logic
        in: query
        description: 'How to combine the field filters: "and" (default) requires every filter to match, "or" requires any of them to match.'
        schema:
          enum:
          - and
          - or
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPublicJobDefinitionsEndpoint_PagedResultOfOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/resume:
    post:
      tags:
      - Job
      summary: Resumes a job, restarting all of its campaigns.
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to resume.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/retry:
    post:
      tags:
      - Job
      summary: Retries processing of a failed job.
      parameters:
      - name: jobId
        in: path
        description: The ID of the job to retry.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/definition/{definitionId}/share:
    patch:
      tags:
      - Job
      summary: Marks or unmarks a job definition as a public template that other users can discover and run.
      parameters:
      - name: definitionId
        in: path
        description: The ID of the job definition.
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        description: Whether to mark or unmark the definition as public.
        schema:
          type: boolean
          default: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
  /job/{jobId}/share:
    patch:
      tags:
      - Job
      summary: Marks or unmarks a job as public so its results can be shared with other users.
      parameters:
      - name: jobId
        in: path
        description: The ID of the job.
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        description: Whether to mark or unmark the job as public.
        schema:
          type: boolean
          default: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    IOrderWorkflowInputModelGroupedRankingWorkflowInputModel:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - GroupedRankingWorkflow
          type: string
        criteria:
          type: string
        pairMakerConfig:
          $ref: '#/components/schemas/IPairMakerConfigModel'
        rankingConfig:
          type: object
          oneOf:
          - $ref: '#/components/schemas/IRankingConfigModel'
          nullable: true
        contexts:
          type: object
          additionalProperties:
            type: string
          nullable: true
        contextAssets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IAssetInput'
          nullable: true
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
        maxParallelism:
          type: integer
          format: int32
    CreateJobRevisionEndpoint_Input:
      type: object
      properties:
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: "The workflow configuration. If not provided, inherits from the previous revision.\n Must be provided together with Referee if either is specified."
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: "The referee configuration. If not provided, inherits from the previous revision.\n Must be provided together with Workflow if either is specified."
        datasetId:
          type: string
          description: The dataset id. If not provided, inherits from the previous revision.
        rapidFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: "The rapid-level feature flags applied to each rapid created by this revision.\n If not provided, inherits from the previous revision."
        campaignFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: "The campaign-level (session-wide) feature flags for this revision.\n If not provided, inherits from the previous revision."
        aggregatorType:
          type: string
          oneOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator type. If not provided, inherits from the previous revision.
          nullable: true
        validationSetId:
          type: string
          description: "A validation set id to pin on this revision. When set, every job run from this\n revision uses the specified validation set as the source of validation rapids\n instead of audience-derived examples. If not provided, inherits from the previous\n revision. Provide a wrapped null value to clear a previously pinned set."
          nullable: true
      description: The input for the create job revision endpoint.
    FeatureFlag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    IRapidBlueprint:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
      discriminator:
        propertyName: _t
        mapping:
          ClassifyBlueprint: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
          BoundingBoxBlueprint: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
          CompareBlueprint: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
          FreeTextBlueprint: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
          LineBlueprint: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
          LocateBlueprint: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
          NamedEntityBlueprint: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
          PolygonBlueprint: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
          ScrubBlueprint: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
          TranscriptionBlueprint: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
    MetadataVisibilities:
      type: array
      items:
        enum:
        - None
        - Users
        - Customers
        - Admins
        - Dashboard
        - All
        type: string
    IRapidBlueprintAttachCategoryRapidBlueprint:
      required:
      - categories
      - title
      - _t
      properties:
        _t:
          enum:
          - ClassifyBlueprint
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/AttachCategoryRapidBlueprint_Category'
        possibleCategories:
          type: array
          items:
            type: string
          nullable: true
        title:
          type: string
    IRankingConfigModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel'
      - $ref: '#/components/schemas/IRankingConfigModelEloConfigModel'
      discriminator:
        propertyName: _t
        mapping:
          BradleyTerryRankingConfig: '#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel'
          EloConfig: '#/components/schemas/IRankingConfigModelEloConfigModel'
    IAssetInputMultiAssetInput:
      required:
      - assets
      - _t
      properties:
        _t:
          enum:
          - MultiAssetInput
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/IAssetInput'
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    IRankingConfigModelBradleyTerryRankingConfigModel:
      required:
      - startingScore
      - _t
      properties:
        _t:
          enum:
          - BradleyTerryRankingConfig
          type: string
        startingScore:
          type: integer
          format: int32
    QueryJobRevisionsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobRevisionsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    UpdateJobDefinitionEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name for the job definition.
      description: The input for the update job definition endpoint.
    AttachCategoryRapidBlueprint_Category:
      required:
      - label
      - value
      type: object
      properties:
        label:
          type: string
        value:
          type: string
    AggregatorType:
      enum:
      - NonCommittal
      - MajorityVote
      - SimpleMatchup
      - LocateCluster
      - Classification
      - Locate
      - BoundingBox
      - Line
      - Transcription
      - SinglePointLocate
      - FreeText
      - Scrub
      - Ranking
      - MultiRanking
      - null
    IRefereeModelQuorumRefereeModel:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - QuorumReferee
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: integer
          format: int32
    IPairMakerConfigModelFullPermutationPairMakerConfigModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - FullPermutationPairMaker
          type: string
    QueryJobDefinitionsEndpoint_Output:
      required:
      - definitionId
      - name
      - definitionType
      - createdAt
      - revisionCount
      - ownerId
      - ownerMail
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the job definition.
        name:
          type: string
          description: The name of the job definition.
        definitionType:
          allOf:
          - $ref: '#/components/schemas/DefinitionType'
          description: The type of the job definition.
        createdAt:
          type: string
          description: The creation timestamp of the job definition.
          format: date-time
        revisionCount:
          type: integer
          description: The number of revisions for this job definition.
          format: int32
        ownerId:
          type: string
          description: The id of the owner of the job definition.
          format: uuid
        ownerMail:
          type: string
          description: The email of the owner of the job definition.
    JobDefinitionRevisionState:
      enum:
      - Pending
      - Completed
      - Failed
    IAssetInputTextAssetInput:
      required:
      - text
      - _t
      properties:
        _t:
          enum:
          - TextAssetInput
          type: string
        text:
          type: string
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    IRapidBlueprintPolygonRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - PolygonBlueprint
          type: string
        target:
          type: string
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    QueryJobDefinitionsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobDefinitionsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    QueryPublicJobDefinitionsEndpoint_Output:
      required:
      - definitionId
      - name
      - definitionType
      - createdAt
      - revisionCount
      - ownerId
      - ownerMail
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the job definition.
        name:
          type: string
          description: The name of the job definition.
        definitionType:
          allOf:
          - $ref: '#/components/schemas/DefinitionType'
          description: The type of the job definition.
        createdAt:
          type: string
          description: The creation timestamp of the job definition.
          format: date-time
        revisionCount:
          type: integer
          description: The number of revisions for this job definition.
          format: int32
        ownerId:
          type: string
          description: The id of the owner of the job definition.
          format: uuid
        ownerMail:
          type: string
          description: The email of the owner of the job definition.
    IPairMakerConfigModelOnlinePairMakerConfigModel:
      required:
      - _t
      properties:
        _t:
          enum:
          - OnlinePairMaker
          type: string
        randomMatchesRatio:
          type: number
          format: float
        totalComparisonBudget:
          type: integer
          format: int32
    IOrderWorkflowInputModelSimpleWorkflowInputModel:
      required:
      - blueprint
      - _t
      properties:
        _t:
          enum:
          - SimpleWorkflow
          type: string
        blueprint:
          $ref: '#/components/schemas/IRapidBlueprint'
        batchSize:
          type: integer
          format: int32
          nullable: true
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
    CreateJobEndpoint_CostWarningModel:
      required:
      - estimatedCost
      - availableBalance
      - shortfall
      type: object
      properties:
        estimatedCost:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        shortfall:
          type: number
          format: double
    IRapidBlueprintFreeTextRapidBlueprint:
      required:
      - question
      - _t
      properties:
        _t:
          enum:
          - FreeTextBlueprint
          type: string
        question:
          type: string
        shouldValidateResponse:
          type: boolean
          nullable: true
        validationSystemPrompt:
          type: string
          nullable: true
    IRapidBlueprintBoundingBoxRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - BoundingBoxBlueprint
          type: string
        target:
          type: string
    GetJobRevisionEndpoint_Output:
      required:
      - definitionId
      - revisionNumber
      - state
      - pipelineId
      - datasetId
      - workflow
      - referee
      - featureFlags
      - createdAt
      - createdById
      - createdByMail
      type: object
      properties:
        definitionId:
          type: string
          description: The job definition id.
        revisionNumber:
          type: integer
          description: The revision number.
          format: int32
        state:
          allOf:
          - $ref: '#/components/schemas/JobDefinitionRevisionState'
          description: The state of the revision.
        pipelineId:
          type: string
          description: The pipeline id.
        datasetId:
          type: string
          description: The dataset id.
        aggregatorType:
          allOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator type.
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: The workflow configuration. Can be used directly to create a new revision.
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: The referee configuration. Can be used directly to create a new revision.
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags.
        createdAt:
          type: string
          description: The creation timestamp.
          format: date-time
        createdById:
          type: string
          description: The id of the user who created the revision.
          format: uuid
        createdByMail:
          type: string
          description: The email of the user who created the revision.
        isInstructionComplex:
          type: boolean
          description: "Whether the instruction was flagged as too complex for the average annotator to\n understand. Null until the asynchronous complexity check has completed."
          nullable: true
        instructionComplexityReason:
          type: string
          description: A short explanation of why the instruction was flagged, when applicable.
          nullable: true
      description: The result when a job revision has been retrieved.
    UpdateJobEndpoint_Input:
      type: object
      properties:
        name:
          type: string
          description: The new name for the job.
      description: The input for the update job endpoint.
    IRapidBlueprintNamedEntityRapidBlueprint:
      required:
      - target
      - classes
      - _t
      properties:
        _t:
          enum:
          - NamedEntityBlueprint
          type: string
        target:
          type: string
        classes:
          type: array
          items:
            type: string
    IMetadataInputTextMetadataInput:
      required:
      - text
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - TextMetadataInput
          type: string
        text:
          type: string
          nullable: true
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    GetJobByIdEndpoint_Output:
      required:
      - jobId
      - name
      - definitionId
      - audienceId
      - revisionNumber
      - pipelineId
      - state
      - isPublic
      - audienceDeleted
      - createdAt
      - ownerId
      - ownerMail
      type: object
      properties:
        jobId:
          type: string
          description: The job id.
        name:
          type: string
          description: The job name.
        definitionId:
          type: string
          description: The job definition id.
        audienceId:
          type: string
          description: The audience id.
        revisionNumber:
          type: integer
          description: The revision number.
          format: int32
        pipelineId:
          type: string
          description: The pipeline id.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceJobState'
          description: The job state.
        isPublic:
          type: boolean
          description: Whether the job (and its results) is shared publicly.
        audienceDeleted:
          type: boolean
          description: Whether the audience backing this job was deleted, meaning the job can never run.
        completedAt:
          type: string
          description: The timestamp when the job was completed.
          format: date-time
          nullable: true
        resultFileName:
          type: string
          description: The file name of the result.
          nullable: true
        failedAt:
          type: string
          description: The timestamp when the job failed.
          format: date-time
          nullable: true
        failureMessage:
          type: string
          description: The failure message.
          nullable: true
        reviewReason:
          allOf:
          - $ref: '#/components/schemas/ReviewReasonModel'
          description: "Why the job was routed to manual review, when it is (or was) in\n ManualApproval. Null when no customer-facing reason\n applies."
        createdAt:
          type: string
          description: The creation timestamp.
          format: date-time
        ownerId:
          type: string
          description: The owner id.
          format: uuid
        ownerMail:
          type: string
          description: The owner email.
      description: The result when a job has been retrieved.
    IAssetInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAssetInputExistingAssetInput'
      - $ref: '#/components/schemas/IAssetInputMultiAssetInput'
      - $ref: '#/components/schemas/IAssetInputTextAssetInput'
      discriminator:
        propertyName: _t
        mapping:
          ExistingAssetInput: '#/components/schemas/IAssetInputExistingAssetInput'
          MultiAssetInput: '#/components/schemas/IAssetInputMultiAssetInput'
          TextAssetInput: '#/components/schemas/IAssetInputTextAssetInput'
    CreateJobEndpoint_Input:
      required:
      - jobDefinitionId
      - audienceId
      type: object
      properties:
        jobDefinitionId:
          type: string
          description: The id of the job definition to use.
        audienceId:
          type: string
          description: The id of the audience to target.
        revisionNumber:
          type: integer
          description: The revision number to use. If not specified, the latest revision will be used.
          format: int32
          nullable: true
        name:
          type: string
          description: The name of the job. If not specified, defaults to "{definition name}:{revision number}".
          nullable: true
        priority:
          type: integer
          description: The priority of the job. Higher values mean higher priority. Default is 50.
          format: int32
        precedingJobId:
          type: string
          description: "Optional id of a job that must finish before this job starts. When set, this job is\n queued until the preceding job completes or fails."
          nullable: true
        notifyOwnerOnCompletion:
          type: boolean
          description: Whether the job's owner should be emailed when the job completes. Defaults to false.
      description: The input for the create job endpoint.
    IRapidBlueprintCompareRapidBlueprint:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - CompareBlueprint
          type: string
        criteria:
          type: string
        indexIdentifiers:
          type: array
          items:
            type: string
          nullable: true
    IRefereeModelNaiveRefereeModel:
      required:
      - totalVotes
      - _t
      properties:
        _t:
          enum:
          - NaiveReferee
          type: string
        totalVotes:
          type: integer
          format: int32
    QueryJobsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryJobsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    QueryPublicJobDefinitionsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryPublicJobDefinitionsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    QueryJobRevisionsEndpoint_Output:
      required:
      - definitionId
      - revisionNumber
      - createdAt
      - state
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the job definition this revision belongs to.
        revisionNumber:
          type: integer
          description: The revision number.
          format: int32
        createdAt:
          type: string
          description: The timestamp when this revision was created.
          format: date-time
        state:
          allOf:
          - $ref: '#/components/schemas/JobDefinitionRevisionState'
          description: The current state of the revision.
    QueryAggregatedJobsEndpoint_PagedResultOfOutput:
      required:
      - total
      - page
      - pageSize
      - items
      type: object
      properties:
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryAggregatedJobsEndpoint_Output'
        totalPages:
          type: integer
          format: int32
    CreateJobEndpoint_Output:
      required:
      - jobId
      - recruitingStarted
      type: object
      properties:
        jobId:
          type: string
          description: The id of the created job.
        recruitingStarted:
          type: boolean
          description: Whether recruiting was automatically started for the audience.
        costWarning:
          allOf:
          - $ref: '#/components/schemas/CreateJobEndpoint_CostWarningModel'
          description: "Present only when the job's estimated cost exceeds the owner's remaining balance.\n Advisory — the job is created and runs regardless; it may pause for funds mid-run."
      description: The result when a job has been created.
    IRapidBlueprintLocateRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LocateBlueprint
          type: string
        target:
          type: string
    GetJobDefinitionCostEstimateEndpoint_Output:
      required:
      - estimatedCost
      - costPerResponse
      - datapointCount
      - requiredResponses
      type: object
      properties:
        estimatedCost:
          type: number
          description: The estimated total cost of running the definition's latest revision to completion.
          format: double
        costPerResponse:
          type: number
          description: The representative per-response cost the estimate is based on.
          format: double
        datapointCount:
          type: integer
          description: The number of datapoints in the definition's dataset.
          format: int64
        requiredResponses:
          type: integer
          description: The total number of responses the definition's referee requires to complete.
          format: int64
      description: The estimated cost of a job definition.
    IRefereeModelBudgetRefereeModel:
      required:
      - totalBudget
      - _t
      properties:
        _t:
          enum:
          - BudgetReferee
          type: string
        totalBudget:
          type: integer
          format: int32
    DefinitionType:
      enum:
      - Unknown
      - Classify
      - Compare
      - BoundingBox
      - Line
      - Polygon
      - Locate
      - Transcription
      - NamedEntity
      - FreeText
      - Scrub
      - Ranking
      - GroupedRanking
      - Evaluation
    QueryJobsEndpoint_Output:
      required:
      - jobId
      - name
      - jobDefinitionId
      - audienceId
      - revisionNumber
      - pipelineId
      - state
      - ownerMail
      - createdAt
      type: object
      properties:
        jobId:
          type: string
          description: The id of the job.
        name:
          type: string
          description: The name of the job.
        jobDefinitionId:
          type: string
          description: The id of the job definition.
        audienceId:
          type: string
          description: The id of the audience associated with the job.
        revisionNumber:
          type: integer
          description: The revision number of the job.
          format: int32
        pipelineId:
          type: string
          description: The id of the pipeline executing the job.
        state:
          allOf:
          - $ref: '#/components/schemas/AudienceJobState'
          description: The current state of the job.
        ownerMail:
          type: string
          description: The email of the job's owner.
        createdAt:
          type: string
          description: The timestamp when the job was created.
          format: date-time
        progress:
          type: number
          description: "Labeling completion as a ratio in the range 0–1, or null when no progress has\n been reported yet (completion sets it to 1). Sortable via ?sort=progress."
          format: double
          nullable: true
    IRankingConfigModelEloConfigModel:
      required:
      - startingScore
      - kFactor
      - scalingFactor
      - _t
      properties:
        _t:
          enum:
          - EloConfig
          type: string
        startingScore:
          type: integer
          format: int32
        kFactor:
          type: integer
          format: int32
        scalingFactor:
          type: integer
          format: int32
    MetadataInputCollection:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IMetadataInput'
    IRefereeModelEarlyStoppingRefereeModel:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - EarlyStoppingReferee
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: number
          format: double
    AudienceJobState:
      enum:
      - Submitted
      - Running
      - Completed
      - Failed
      - ManualApproval
      - Queued
      - Paused
      - StaleResults
      - SpendLimited
    CreateJobRevisionEndpoint_Output:
      required:
      - revisionNumber
      - pipelineId
      type: object
      properties:
        revisionNumber:
          type: integer
          description: The revision number of the created job revision.
          format: int32
        pipelineId:
          type: string
          description: The id of the created preview pipeline.
      description: The result when a job revision has been created.
    IPairMakerConfigModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPairMakerConfigModelFullPermutationPairMakerConfigModel'
      - $ref: '#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel'
      discriminator:
        propertyName: _t
        mapping:
          FullPermutationPairMaker: '#/components/schemas/IPairMakerConfigModelFullPermutationPairMakerConfigModel'
          OnlinePairMaker: '#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel'
    IRapidBlueprintScrubRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - ScrubBlueprint
          type: string
        target:
          type: string
    GetJobDefinitionByIdEndpoint_Output:
      required:
      - definitionId
      - name
      - definitionType
      - isPublic
      - createdAt
      - ownerId
      - ownerMail
      type: object
      properties:
        definitionId:
          type: string
          description: The job definition id.
        name:
          type: string
          description: The name of the job definition.
        definitionType:
          allOf:
          - $ref: '#/components/schemas/DefinitionType'
          description: The type of the job definition.
        isPublic:
          type: boolean
          description: Whether the definition is shared publicly as a reusable template.
        createdAt:
          type: string
          description: The creation timestamp.
          format: date-time
        ownerId:
          type: string
          description: The id of the job definition's owner.
          format: uuid
        ownerMail:
          type: string
          description: The email of the job definition's owner.
      description: The result when a job definition has been retrieved.
    CreateJobDefinitionEndpoint_Input:
      required:
      - definitionName
      - workflow
      - referee
      - datasetId
      type: object
      properties:
        definitionName:
          type: string
          description: The name of the definition.
        workflow:
          allOf:
          - $ref: '#/components/schemas/IOrderWorkflowInputModel'
          description: The workflow configuration.
        referee:
          allOf:
          - $ref: '#/components/schemas/IRefereeModel'
          description: The referee configuration.
        datasetId:
          type: string
          description: The dataset id.
        rapidFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags that apply to each rapid created by this definition.
        campaignFeatureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags that apply to the campaign (session-wide) for this definition.
        aggregatorType:
          allOf:
          - $ref: '#/components/schemas/AggregatorType'
          description: The aggregator type.
      description: The input for the create job definition endpoint.
    IOrderWorkflowInputModelEvaluationWorkflowInputModel:
      required:
      - validationSetId
      - shouldAcceptIncorrect
      - _t
      properties:
        _t:
          enum:
          - EvaluationWorkflow
          type: string
        validationSetId:
          type: string
        shouldAcceptIncorrect:
          type: boolean
        featureFlags:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IMetadataInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataInputTextMetadataInput'
      discriminator:
        propertyName: _t
        mapping:
          TextMetadataInput: '#/components/schemas/IMetadataInputTextMetadataInput'
    IOrderWorkflowInputModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IOrderWorkflowInputModelEvaluationWorkflowInputModel'
      - $ref: '#/components/schemas/IOrderWorkflowInputModelGroupedRankingWorkflowInputModel'
      - $ref: '#/components/schemas/IOrderWorkflowInputModelSimpleWorkflowInputModel'
      discriminator:
        propertyName: _t
        mapping:
          EvaluationWorkflow: '#/components/schemas/IOrderWorkflowInputModelEvaluationWorkflowInputModel'
          GroupedRankingWorkflow: '#/components/schemas/IOrderWorkflowInputModelGroupedRankingWorkflowInputModel'
          SimpleWorkflow: '#/components/schemas/IOrderWorkflowInputModelSimpleWorkflowInputModel'
    IAssetInputExistingAssetInput:
      required:
      - name
      - _t
      properties:
        _t:
          enum:
          - ExistingAssetInput
          type: string
        name:
          type: string
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    CreateJobDefinitionEndpoint_Output:
      required:
      - definitionId
      - pipelineId
      type: object
      properties:
        definitionId:
          type: string
          description: The id of the created job definition.
        pipelineId:
          type: string
          description: The id of the created preview pipeline.
      description: The result when a job definition has been created.
    QueryAggregatedJobsEndpoint_Output:
      required:
      - amount
      - last7Days
      - lastJobDate
      - lastJobName
      - lastJobId
      - ownerMail
      type: object
      properties:
        amount:
          type: integer
          description: The total number of jobs for this customer.
          format: int32
        last7Days:
          type: integer
          description: The number of jobs created in the last 7 days.
          format: int32
        lastJobDate:
          type: string
          description: The date of the most recent job.
          format: date-time
        lastJobName:
          type: string
          description: The name of the most recent job.
        lastJobId:
          type: string
          description: The ID of the most recent job.
        ownerMail:
          type: string
          description: The customer's email address.
    IRapidBlueprintTranscriptionRapidBlueprint:
      required:
      - title
      - _t
      properties:
        _t:
          enum:
          - TranscriptionBlueprint
          type: string
        title:
          type: string
    IRefereeModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRefereeModelBudgetRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelEarlyStoppingRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelNaiveRefereeModel'
      - $ref: '#/components/schemas/IRefereeModelQuorumRefereeModel'
      discriminator:
        propertyName: _t
        mapping:
          BudgetReferee: '#/components/schemas/IRefereeModelBudgetRefereeModel'
          EarlyStoppingReferee: '#/components/schemas/IRefereeModelEarlyStoppingRefereeModel'
          NaiveReferee: '#/components/schemas/IRefereeModelNaiveRefereeModel'
          QuorumReferee: '#/components/schemas/IRefereeModelQuorumRefereeModel'
    GetJobCostEstimateEndpoint_Output:
      required:
      - estimatedCost
      - costPerResponse
      - datapointCount
      - requiredResponses
      type: object
      properties:
        estimatedCost:
          type: number
          description: The estimated total cost of running the job to completion.
          format: double
        costPerResponse:
          type: number
          description: The representative per-response cost the estimate is based on.
          format: double
        datapointCount:
          type: integer
          description: The number of datapoints in the job's dataset.
          format: int64
        requiredResponses:
          type: integer
          description: The total number of responses the job's referee requires to complete.
          format: int64
      description: The estimated cost of a job.
    IRapidBlueprintLineRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LineBlueprint
          type: string
        target:
          type: string
    ReviewReasonModel:
      enum:
      - ContentFlagged
      - UnsupportedContentType
      - CheckErrored
      - ClassificationTimedOut
      - null
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
