openapi: 3.2.0
info:
  title: Rapidata External Service Prices API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: ExternalServicePrices
  x-displayName: ExternalServicePrices
paths:
  /billing/external-service-prices:
    post:
      tags:
      - ExternalServicePrices
      summary: Creates a rate-card price for an external service
      requestBody:
        description: The external-service price data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalServicePriceEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postBillingExternalServicePrices
      x-operation-id-source: derived
components:
  schemas:
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    CreateExternalServicePriceEndpoint_Input:
      required:
      - serviceKind
      - pricingKey
      - unitPrice
      type: object
      properties:
        serviceKind:
          allOf:
          - $ref: '#/components/schemas/ExternalServiceKind'
          description: The service this price applies to.
        pricingKey:
          type: string
          description: Hierarchical variant key (e.g. reve, replicate/flux-1.1-pro).
        customerId:
          type:
          - string
          - 'null'
          description: Null for the global default; set to scope the price to one customer.
          format: uuid
        unitPrice:
          type: number
          description: Price per unit (per image / per shortening).
          format: double
        priority:
          type:
          - integer
          - 'null'
          description: Priority; defaults to the configured global/customer default if unset.
          format: int32
        validFrom:
          type:
          - string
          - 'null'
          description: The start of the validity window.
          format: date-time
        validTo:
          type:
          - string
          - 'null'
          description: The end of the validity window.
          format: date-time
      description: The external-service price input data.
    ExternalServiceKind:
      enum:
      - ContextShortening
      - ImageGeneration
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
