openapi: 3.0.4
info:
  title: Rapidata Asset DatasetGroup API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: DatasetGroup
  x-displayName: DatasetGroup
paths:
  /dataset/{datasetId}/group:
    post:
      tags:
      - DatasetGroup
      summary: Creates a new dataset group.
      parameters:
      - name: datasetId
        in: path
        description: The id of the dataset to create the group for.
        required: true
        schema:
          type: string
      requestBody:
        description: The dataset group creation parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetGroupEndpoint_Input'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    IMetadataInputTextMetadataInput:
      required:
      - text
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - TextMetadataInput
          type: string
        text:
          type: string
          nullable: true
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IAssetInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAssetInputExistingAssetInput'
      - $ref: '#/components/schemas/IAssetInputMultiAssetInput'
      - $ref: '#/components/schemas/IAssetInputTextAssetInput'
      discriminator:
        propertyName: _t
        mapping:
          ExistingAssetInput: '#/components/schemas/IAssetInputExistingAssetInput'
          MultiAssetInput: '#/components/schemas/IAssetInputMultiAssetInput'
          TextAssetInput: '#/components/schemas/IAssetInputTextAssetInput'
    CreateDatasetGroupEndpoint_Input:
      required:
      - group
      type: object
      properties:
        group:
          type: string
          description: The name of the group.
        context:
          type: string
          description: The optional text context for the group.
          nullable: true
        contextAsset:
          allOf:
          - $ref: '#/components/schemas/IAssetInput'
          description: The optional asset context for the group.
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    IAssetInputTextAssetInput:
      required:
      - text
      - _t
      properties:
        _t:
          enum:
          - TextAssetInput
          type: string
        text:
          type: string
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    IMetadataInput:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataInputTextMetadataInput'
      discriminator:
        propertyName: _t
        mapping:
          TextMetadataInput: '#/components/schemas/IMetadataInputTextMetadataInput'
    IAssetInputExistingAssetInput:
      required:
      - name
      - _t
      properties:
        _t:
          enum:
          - ExistingAssetInput
          type: string
        name:
          type: string
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    MetadataVisibilities:
      type: array
      items:
        enum:
        - None
        - Users
        - Customers
        - Admins
        - Dashboard
        - All
        type: string
    IAssetInputMultiAssetInput:
      required:
      - assets
      - _t
      properties:
        _t:
          enum:
          - MultiAssetInput
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/IAssetInput'
        metadata:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MetadataInputCollection'
          nullable: true
        identifier:
          type: string
          nullable: true
    MetadataInputCollection:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IMetadataInput'
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
