openapi: 3.0.4
info:
  title: Rapidata Asset VolumeDiscount API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: VolumeDiscount
  x-displayName: VolumeDiscount
paths:
  /billing-period/{billingPeriodId}/volume-discounts:
    post:
      tags:
      - VolumeDiscount
      summary: Creates a volume discount bracket for a billing period.
      parameters:
      - name: billingPeriodId
        in: path
        description: The billing period to add the volume discount to.
        required: true
        schema:
          type: string
      requestBody:
        description: The volume discount bracket data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeDiscountEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVolumeDiscountEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
    get:
      tags:
      - VolumeDiscount
      summary: Gets all volume discount brackets for a billing period.
      parameters:
      - name: billingPeriodId
        in: path
        description: The billing period to get volume discounts for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVolumeDiscountsEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
components:
  schemas:
    GetVolumeDiscountsEndpoint_Output:
      required:
      - items
      type: object
      properties:
        items:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/GetVolumeDiscountsEndpoint_Output_VolumeDiscountItem'
          description: The volume discount brackets.
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    CreateVolumeDiscountEndpoint_Input:
      required:
      - minResponses
      - discountRatio
      type: object
      properties:
        minResponses:
          type: integer
          description: The minimum number of responses to trigger this discount bracket.
          format: int64
        discountRatio:
          type: number
          description: The discount ratio for this bracket (e.g., 0.10 for 10%).
          format: double
    GetVolumeDiscountsEndpoint_Output_VolumeDiscountItem:
      required:
      - id
      - minResponses
      - discountRatio
      type: object
      properties:
        id:
          type: string
        minResponses:
          type: integer
          format: int64
        discountRatio:
          type: number
          format: double
    CreateVolumeDiscountEndpoint_Output:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The ID of the created volume discount bracket.
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
