openapi: 3.2.0
info:
  title: Rapidata Pipeline API
  description: The API for the Rapidata Asset service
  version: v1
servers:
- url: https://api.rapidata.ai/
tags:
- name: Pipeline
  x-displayName: Pipeline
paths:
  /pipeline/{pipelineId}:
    get:
      tags:
      - Pipeline
      summary: Gets a pipeline by its id
      parameters:
      - name: pipelineId
        in: path
        description: The id of the pipeline to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPipelineByIdEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getPipelineByPipelineId
      x-operation-id-source: derived
  /pipeline/preliminary-download/{preliminaryDownloadId}:
    get:
      tags:
      - Pipeline
      summary: Streams the preliminary download file when ready
      description: Returns 202 while the download is still processing.
      parameters:
      - name: preliminaryDownloadId
        in: path
        description: The id of the preliminary download to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: getPipelinePreliminaryDownloadByPreliminaryDownloadId
      x-operation-id-source: derived
  /pipeline/{pipelineId}/preliminary-download:
    post:
      tags:
      - Pipeline
      summary: Initiates a preliminary download of the pipeline
      parameters:
      - name: pipelineId
        in: path
        description: The id of the pipeline to initiate the download for.
        required: true
        schema:
          type: string
      requestBody:
        description: Whether to email the caller when the download is ready.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartPreliminaryDownloadEndpoint_Input'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartPreliminaryDownloadEndpoint_Output'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      security:
      - OpenIdConnect:
        - openid
        - profile
        - email
        - offline_access
      operationId: postPipelineByPipelineIdPreliminaryDownload
      x-operation-id-source: derived
components:
  schemas:
    IRapidBlueprintAttachCategoryRapidBlueprint:
      required:
      - categories
      - title
      - _t
      properties:
        _t:
          enum:
          - ClassifyBlueprint
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/AttachCategoryRapidBlueprint_Category'
        possibleCategories:
          type:
          - array
          - 'null'
          items:
            type: string
        title:
          type: string
    IPairMakerConfig:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IPairMakerConfigFullPermutationPairMakerConfig'
      - $ref: '#/components/schemas/IPairMakerConfigOnlinePairMakerConfig'
      discriminator:
        propertyName: _t
        mapping:
          FullPermutationPairMakerConfig: '#/components/schemas/IPairMakerConfigFullPermutationPairMakerConfig'
          OnlinePairMakerConfig: '#/components/schemas/IPairMakerConfigOnlinePairMakerConfig'
    IMetadataImageDimensionMetadata:
      required:
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - ImageDimensionMetadata
          type: string
        height:
          type: integer
          format: int32
        width:
          type: integer
          format: int32
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IRefereeConfigNeverEndingRefereeConfig:
      required:
      - _t
      properties:
        _t:
          enum:
          - NeverEndingRefereeConfig
          type: string
    IRankingConfigEloRankingConfig:
      required:
      - startingElo
      - kFactor
      - scalingFactor
      - _t
      properties:
        _t:
          enum:
          - EloRankingConfig
          type: string
        startingElo:
          type: integer
          format: int32
        kFactor:
          type: integer
          format: int32
        scalingFactor:
          type: integer
          format: int32
    IWorkflowConfigSimpleWorkflowConfig:
      required:
      - referee
      - blueprint
      - _t
      properties:
        _t:
          enum:
          - SimpleWorkflowConfig
          type: string
        referee:
          $ref: '#/components/schemas/IRefereeConfig'
        blueprint:
          $ref: '#/components/schemas/IRapidBlueprint'
        batchSize:
          type:
          - integer
          - 'null'
          format: int32
        featureFlags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IMetadataFileTypeMetadata:
      required:
      - fileType
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - FileTypeMetadata
          type: string
        fileType:
          $ref: '#/components/schemas/FileType'
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    MetadataVisibilities:
      type: array
      items:
        enum:
        - None
        - Users
        - Customers
        - Admins
        - Dashboard
        - All
        type: string
    IMetadataSourceUrlMetadata:
      required:
      - url
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - SourceUrlMetadata
          type: string
        url:
          type: string
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IAsset:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IAssetFileAsset'
      - $ref: '#/components/schemas/IAssetMultiAsset'
      - $ref: '#/components/schemas/IAssetNullAsset'
      - $ref: '#/components/schemas/IAssetTextAsset'
      discriminator:
        propertyName: _t
        mapping:
          FileAsset: '#/components/schemas/IAssetFileAsset'
          MultiAsset: '#/components/schemas/IAssetMultiAsset'
          NullAsset: '#/components/schemas/IAssetNullAsset'
          TextAsset: '#/components/schemas/IAssetTextAsset'
    ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    IWorkflowConfigGroupedRankingWorkflowConfig:
      required:
      - criteria
      - referee
      - targetCountryCodes
      - maxParallelism
      - pairMakerConfig
      - _t
      properties:
        _t:
          enum:
          - GroupedRankingWorkflowConfig
          type: string
        criteria:
          type: string
        referee:
          $ref: '#/components/schemas/IRefereeConfig'
        targetCountryCodes:
          type: array
          items:
            type: string
        maxParallelism:
          type: integer
          format: int32
        rankingConfig:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/IRankingConfig'
        pairMakerConfig:
          $ref: '#/components/schemas/IPairMakerConfig'
        featureFlags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IMetadataCountMetadata:
      required:
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - CountMetadata
          type: string
        count:
          type: integer
          format: int32
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IRapidBlueprintBoundingBoxRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - BoundingBoxBlueprint
          type: string
        target:
          type: string
    IRefereeConfigQuorumRefereeConfig:
      required:
      - maxVotes
      - threshold
      - _t
      properties:
        _t:
          enum:
          - QuorumRefereeConfig
          type: string
        maxVotes:
          type: integer
          format: int32
        threshold:
          type: integer
          format: int32
    IRankingConfig:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRankingConfigBradleyTerryRankingConfig'
      - $ref: '#/components/schemas/IRankingConfigEloRankingConfig'
      discriminator:
        propertyName: _t
        mapping:
          BradleyTerryRankingConfig: '#/components/schemas/IRankingConfigBradleyTerryRankingConfig'
          EloRankingConfig: '#/components/schemas/IRankingConfigEloRankingConfig'
    AttachCategoryRapidBlueprint_Category:
      required:
      - label
      - value
      type: object
      properties:
        label:
          type: string
        value:
          type: string
    IMetadata:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IMetadataClassificationMetadata'
      - $ref: '#/components/schemas/IMetadataCountMetadata'
      - $ref: '#/components/schemas/IMetadataDurationMetadata'
      - $ref: '#/components/schemas/IMetadataFileTypeMetadata'
      - $ref: '#/components/schemas/IMetadataImageDimensionMetadata'
      - $ref: '#/components/schemas/IMetadataLocationMetadata'
      - $ref: '#/components/schemas/IMetadataOriginalFilenameMetadata'
      - $ref: '#/components/schemas/IMetadataSourceUrlMetadata'
      - $ref: '#/components/schemas/IMetadataStreamsMetadata'
      - $ref: '#/components/schemas/IMetadataTextMetadata'
      discriminator:
        propertyName: _t
        mapping:
          ClassificationMetadata: '#/components/schemas/IMetadataClassificationMetadata'
          CountMetadata: '#/components/schemas/IMetadataCountMetadata'
          DurationMetadata: '#/components/schemas/IMetadataDurationMetadata'
          FileTypeMetadata: '#/components/schemas/IMetadataFileTypeMetadata'
          ImageDimensionMetadata: '#/components/schemas/IMetadataImageDimensionMetadata'
          LocationMetadata: '#/components/schemas/IMetadataLocationMetadata'
          OriginalFilenameMetadata: '#/components/schemas/IMetadataOriginalFilenameMetadata'
          SourceUrlMetadata: '#/components/schemas/IMetadataSourceUrlMetadata'
          StreamsMetadata: '#/components/schemas/IMetadataStreamsMetadata'
          TextMetadata: '#/components/schemas/IMetadataTextMetadata'
    FileType:
      enum:
      - Unknown
      - Image
      - Video
      - Audio
    IArtifactModelCampaignArtifactModel:
      required:
      - campaignId
      - identifier
      - _t
      properties:
        _t:
          enum:
          - CampaignArtifactModel
          type: string
        campaignId:
          type: string
        identifier:
          type: string
    IRapidBlueprint:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
      - $ref: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
      discriminator:
        propertyName: _t
        mapping:
          ClassifyBlueprint: '#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint'
          BoundingBoxBlueprint: '#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint'
          CompareBlueprint: '#/components/schemas/IRapidBlueprintCompareRapidBlueprint'
          FreeTextBlueprint: '#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint'
          LineBlueprint: '#/components/schemas/IRapidBlueprintLineRapidBlueprint'
          LocateBlueprint: '#/components/schemas/IRapidBlueprintLocateRapidBlueprint'
          NamedEntityBlueprint: '#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint'
          PolygonBlueprint: '#/components/schemas/IRapidBlueprintPolygonRapidBlueprint'
          ScrubBlueprint: '#/components/schemas/IRapidBlueprintScrubRapidBlueprint'
          TranscriptionBlueprint: '#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint'
    IWorkflowConfigRankingWorkflowConfig:
      required:
      - criteria
      - referee
      - pairMakerConfig
      - _t
      properties:
        _t:
          enum:
          - RankingWorkflowConfig
          type: string
        criteria:
          type: string
        referee:
          $ref: '#/components/schemas/IRefereeConfig'
        context:
          type:
          - string
          - 'null'
        contextAsset:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/IAsset'
        rankingConfig:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/IRankingConfig'
        pairMakerConfig:
          $ref: '#/components/schemas/IPairMakerConfig'
        featureFlags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IMetadataStreamsMetadata:
      required:
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - StreamsMetadata
          type: string
        hasAudio:
          type: boolean
        hasVideo:
          type: boolean
        hasSubtitles:
          type: boolean
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IRankingConfigBradleyTerryRankingConfig:
      required:
      - startingScore
      - _t
      properties:
        _t:
          enum:
          - BradleyTerryRankingConfig
          type: string
        startingScore:
          type: integer
          format: int32
    IRapidBlueprintScrubRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - ScrubBlueprint
          type: string
        target:
          type: string
    IArtifactModelWorkflowArtifactModel:
      required:
      - workflowId
      - identifier
      - _t
      properties:
        _t:
          enum:
          - WorkflowArtifactModel
          type: string
        workflowId:
          type: string
        identifier:
          type: string
    GetPipelineByIdEndpoint_Output:
      required:
      - artifacts
      - featureFlags
      type: object
      properties:
        artifacts:
          allOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/IArtifactModel'
          description: The artifacts attached to the pipeline, keyed by their role.
        featureFlags:
          allOf:
          - type: array
            items:
              $ref: '#/components/schemas/FeatureFlag'
          description: The feature flags enabled for the pipeline.
    IRapidBlueprintLineRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LineBlueprint
          type: string
        target:
          type: string
    IRefereeConfigBudgetRefereeConfig:
      required:
      - totalBudget
      - _t
      properties:
        _t:
          enum:
          - BudgetRefereeConfig
          type: string
        totalBudget:
          type: integer
          format: int32
        totalServeBudget:
          type:
          - integer
          - 'null'
          format: int32
    IMetadataLocationMetadata:
      required:
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - LocationMetadata
          type: string
        x:
          type: number
          format: float
        y:
          type: number
          format: float
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IWorkflowConfigEvaluationWorkflowConfig:
      required:
      - validationSetId
      - referee
      - shouldAcceptIncorrect
      - _t
      properties:
        _t:
          enum:
          - EvaluationWorkflowConfig
          type: string
        validationSetId:
          type: string
        referee:
          $ref: '#/components/schemas/IRefereeConfig'
        shouldAcceptIncorrect:
          type: boolean
        featureFlags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FeatureFlag'
    IWorkflowConfig:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IWorkflowConfigEvaluationWorkflowConfig'
      - $ref: '#/components/schemas/IWorkflowConfigGroupedRankingWorkflowConfig'
      - $ref: '#/components/schemas/IWorkflowConfigRankingWorkflowConfig'
      - $ref: '#/components/schemas/IWorkflowConfigSimpleWorkflowConfig'
      discriminator:
        propertyName: _t
        mapping:
          EvaluationWorkflowConfig: '#/components/schemas/IWorkflowConfigEvaluationWorkflowConfig'
          GroupedRankingWorkflowConfig: '#/components/schemas/IWorkflowConfigGroupedRankingWorkflowConfig'
          RankingWorkflowConfig: '#/components/schemas/IWorkflowConfigRankingWorkflowConfig'
          SimpleWorkflowConfig: '#/components/schemas/IWorkflowConfigSimpleWorkflowConfig'
    IRapidBlueprintLocateRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - LocateBlueprint
          type: string
        target:
          type: string
    IMetadataClassificationMetadata:
      required:
      - classification
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - ClassificationMetadata
          type: string
        classification:
          type: string
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IPairMakerConfigFullPermutationPairMakerConfig:
      required:
      - _t
      properties:
        _t:
          enum:
          - FullPermutationPairMakerConfig
          type: string
    IRefereeConfig:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IRefereeConfigBudgetRefereeConfig'
      - $ref: '#/components/schemas/IRefereeConfigNaiveRefereeConfig'
      - $ref: '#/components/schemas/IRefereeConfigNeverEndingRefereeConfig'
      - $ref: '#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig'
      - $ref: '#/components/schemas/IRefereeConfigQuorumRefereeConfig'
      discriminator:
        propertyName: _t
        mapping:
          BudgetRefereeConfig: '#/components/schemas/IRefereeConfigBudgetRefereeConfig'
          NaiveRefereeConfig: '#/components/schemas/IRefereeConfigNaiveRefereeConfig'
          NeverEndingRefereeConfig: '#/components/schemas/IRefereeConfigNeverEndingRefereeConfig'
          ProbabilisticAttachCategoryRefereeConfig: '#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig'
          QuorumRefereeConfig: '#/components/schemas/IRefereeConfigQuorumRefereeConfig'
    IArtifactModel:
      required:
      - _t
      type: object
      oneOf:
      - $ref: '#/components/schemas/IArtifactModelCampaignArtifactModel'
      - $ref: '#/components/schemas/IArtifactModelDatasetArtifactModel'
      - $ref: '#/components/schemas/IArtifactModelFileArtifactModel'
      - $ref: '#/components/schemas/IArtifactModelWorkflowArtifactModel'
      - $ref: '#/components/schemas/IArtifactModelWorkflowConfigArtifactModel'
      discriminator:
        propertyName: _t
        mapping:
          CampaignArtifactModel: '#/components/schemas/IArtifactModelCampaignArtifactModel'
          DatasetArtifactModel: '#/components/schemas/IArtifactModelDatasetArtifactModel'
          FileArtifactModel: '#/components/schemas/IArtifactModelFileArtifactModel'
          WorkflowArtifactModel: '#/components/schemas/IArtifactModelWorkflowArtifactModel'
          WorkflowConfigArtifactModel: '#/components/schemas/IArtifactModelWorkflowConfigArtifactModel'
    IArtifactModelFileArtifactModel:
      required:
      - fileName
      - identifier
      - _t
      properties:
        _t:
          enum:
          - FileArtifactModel
          type: string
        fileName:
          type: string
        identifier:
          type: string
    IRapidBlueprintTranscriptionRapidBlueprint:
      required:
      - title
      - _t
      properties:
        _t:
          enum:
          - TranscriptionBlueprint
          type: string
        title:
          type: string
    StartPreliminaryDownloadEndpoint_Input:
      type: object
      properties:
        sendEmail:
          type: boolean
          description: Whether to email the user when the download is ready.
    IPairMakerConfigOnlinePairMakerConfig:
      required:
      - randomMatchesRatio
      - totalComparisonBudget
      - _t
      properties:
        _t:
          enum:
          - OnlinePairMakerConfig
          type: string
        randomMatchesRatio:
          type: number
          format: float
        totalComparisonBudget:
          type: integer
          format: int32
    IMetadataTextMetadata:
      required:
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - TextMetadata
          type: string
        text:
          type:
          - string
          - 'null'
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    FeatureFlag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    StartPreliminaryDownloadEndpoint_Output:
      required:
      - downloadId
      type: object
      properties:
        downloadId:
          type: string
          description: The id of the preliminary download that was initiated.
    IRapidBlueprintFreeTextRapidBlueprint:
      required:
      - question
      - _t
      properties:
        _t:
          enum:
          - FreeTextBlueprint
          type: string
        question:
          type: string
        shouldValidateResponse:
          type:
          - boolean
          - 'null'
        validationSystemPrompt:
          type:
          - string
          - 'null'
    IRefereeConfigProbabilisticAttachCategoryRefereeConfig:
      required:
      - threshold
      - maxVotes
      - _t
      properties:
        _t:
          enum:
          - ProbabilisticAttachCategoryRefereeConfig
          type: string
        threshold:
          type: number
          format: double
        maxVotes:
          type: integer
          format: int32
    IMetadataDurationMetadata:
      required:
      - duration
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - DurationMetadata
          type: string
        duration:
          type: string
          format: date-time
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IAssetMultiAsset:
      required:
      - assets
      - metadata
      - _t
      properties:
        _t:
          enum:
          - MultiAsset
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/IAsset'
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IMetadata'
    IArtifactModelDatasetArtifactModel:
      required:
      - datasetId
      - identifier
      - _t
      properties:
        _t:
          enum:
          - DatasetArtifactModel
          type: string
        datasetId:
          type: string
        identifier:
          type: string
    IAssetNullAsset:
      required:
      - metadata
      - _t
      properties:
        _t:
          enum:
          - NullAsset
          type: string
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IMetadata'
    IArtifactModelWorkflowConfigArtifactModel:
      required:
      - workflowConfig
      - identifier
      - _t
      properties:
        _t:
          enum:
          - WorkflowConfigArtifactModel
          type: string
        workflowConfig:
          $ref: '#/components/schemas/IWorkflowConfig'
        identifier:
          type: string
    IRapidBlueprintCompareRapidBlueprint:
      required:
      - criteria
      - _t
      properties:
        _t:
          enum:
          - CompareBlueprint
          type: string
        criteria:
          type: string
        indexIdentifiers:
          type:
          - array
          - 'null'
          items:
            type: string
    IRapidBlueprintNamedEntityRapidBlueprint:
      required:
      - target
      - classes
      - _t
      properties:
        _t:
          enum:
          - NamedEntityBlueprint
          type: string
        target:
          type: string
        classes:
          type: array
          items:
            type: string
    IRapidBlueprintPolygonRapidBlueprint:
      required:
      - target
      - _t
      properties:
        _t:
          enum:
          - PolygonBlueprint
          type: string
        target:
          type: string
    IAssetFileAsset:
      required:
      - fileName
      - metadata
      - _t
      properties:
        _t:
          enum:
          - FileAsset
          type: string
        fileName:
          type: string
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IMetadata'
    IRefereeConfigNaiveRefereeConfig:
      required:
      - responsesRequired
      - _t
      properties:
        _t:
          enum:
          - NaiveRefereeConfig
          type: string
        responsesRequired:
          type: integer
          format: int32
    IMetadataOriginalFilenameMetadata:
      required:
      - originalFilename
      - visibilities
      - _t
      properties:
        _t:
          enum:
          - OriginalFilenameMetadata
          type: string
        originalFilename:
          type: string
        visibilities:
          $ref: '#/components/schemas/MetadataVisibilities'
    IAssetTextAsset:
      required:
      - text
      - metadata
      - _t
      properties:
        _t:
          enum:
          - TextAsset
          type: string
        text:
          type: string
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IMetadata'
  securitySchemes:
    OpenIdConnect:
      type: openIdConnect
      description: OpenID Connect connection flow
      openIdConnectUrl: https://auth.rapidata.ai/.well-known/openid-configuration
x-tagGroups:
- name: Rapidata Asset API
  tags:
  - Asset
  - BatchUpload
- name: Rapidata Audience API
  tags:
  - Audience
  - Examples
- name: Rapidata Campaign API
  tags:
  - Cache
  - Campaign
  - ExternalAudience
- name: Rapidata Dataset API
  tags:
  - ContextShortening
  - Datapoints
  - Dataset
  - DatasetGroup
- name: Rapidata Flow API
  tags:
  - Flow
  - FlowItem
  - RankingFlow
  - RankingFlowItem
- name: Rapidata Identity API
  tags:
  - Rapidata.Identity.API
  - Client
  - Customer
  - Identity
  - Newsletter
  - Organization
  - Survey
- name: Rapidata Leaderboard API
  tags:
  - Benchmark
  - SampleGeneration
  - Faucet
  - Replicate
  - Leaderboard
  - Participant
  - Prompt
  - Sample
- name: Rapidata Order API
  tags:
  - Feedback
  - Job
  - Order
- name: Rapidata Payment API
  tags:
  - Billing
  - ExternalServicePrices
  - Reconciliation
  - Settings
  - VolumeDiscount
  - BillingAccount
  - Invoice
  - Payment
- name: Rapidata Pipeline API
  tags:
  - Pipeline
- name: Rapidata Rapid API
  tags:
  - CustomerRapid
  - GlobalText
  - Rapid
  - UserRapid
  - ValidationFeedback
- name: Rapidata Signal API
  tags:
  - Signal
- name: Rapidata Translation API
  tags:
  - Translation
- name: Rapidata Validation API
  tags:
  - ValidationSet
- name: Rapidata Workflow API
  tags:
  - Evaluation
  - GroupedRanking
  - Ranking
  - SimpleWorkflow
  - Workflow
